@section scripts{
    <script charset="utf-8" src="@Url.Content("/Base/Scripts/KindEditor/kindeditor-min.js")" type="text/javascript"></script>
    <script charset="utf-8" src="@Url.Content("/Base/Scripts/KindEditor/lang/zh_CN.js")" type="text/javascript"></script>
    <link href="@Url.Content("/Base/Scripts/KindEditor/themes/default/default.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
    body {
	    margin: 0px;
	    overflow:hidden;
    }
    .attachment_div { width:100%; padding:1px 0; border-bottom:1px #c7c8c9 solid;}
    .attachment_left1 { padding:5px 2px 2px 2px;}
    .attachment_left { border-right:1px #c7c8c9 solid;font: 12px "Microsoft YaHei","Arial", Helvetica, sans-serif; padding:5px 2px 2px 2px;}
    .attachment_right { background:url(images/attachment_right_bg.gif) repeat-x top; padding:2px;}
    ul.tab_menu_top { padding: 0px 0px 0px 0px; margin:0px; list-style: none; float: left; clear: left;}
    ul.tab_menu_top li {float: left; margin-right:3px;}
    ul.tab_menu_top li a { position:relative; float:left; white-space:nowrap; text-decoration: none;color: #000;padding: 3px 8px 3px 28px;font: 12px "Microsoft YaHei","Arial", Helvetica, sans-serif; no-repeat top right;}
    ul.tab_menu_top li a img { position:absolute; left:8px; height:16px; float: left; padding-right:15px; display: block; margin-top: 0px;no-repeat top left;}
    ul.tab_menu_top li a:hover {color:#0f36c6;text-decoration:none; background-color:#99c1e7;}
    .news_div{ padding:0 15px;}
    .news_div h1{text-align:center; padding:20px 0 0 0; margin:0px; font: 22px "Microsoft YaHei","黑体","Arial", Helvetica, sans-serif; font-weight:normal;}
    .news_artInfo{ width:100%; text-align:center; padding:0px 0 10px 0; border-bottom:#ccc 1px solid; color:#999; font-size:12px; line-height:22px; position:relative; }
 
    .ke-statusbar { display:none; }
    .ke-toolbar { display:none; }
    </style>


<script language="javascript" type="text/javascript">
    KindEditor.ready(function (K) {
        window.editor = K.create('textarea.KindEditor', {
            items: [],
            layout: '<div class="container" style="border:0px"><div class="toolbar"></div><div class="edit"></div><div class="statusbar"></div></div>'
        });
        window.editor.readonly(true);
    });

</script>
}
<div class="attachment_div" style="display:none">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="20" valign="top" align="right" class="attachment_left1"><img src="/CommonWebResource/RelateResource/image/ico16/attachment.png" alt="attachment" width="16" height="16" align="absmiddle" /></td>
      <td width="30" align="left" valign="top" class="attachment_left"> 附件</td>
      <td class="attachment_right">
      	<ul class="tab_menu_top">
 		</ul>
      
      </td>
    </tr>
  </table>
</div>
<div class="news_div">
    <h1 id="Title"></h1>
    <div class="news_artInfo">
    </div>
    <div id="divContent" style="padding:0 3px;">
        <textarea id="Content" name="Content" style="width:100%;height:300px;visibility:hidden;" class="KindEditor"></textarea>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        execute("GetModel?ID=" + getQueryString("ID"), {
            onComplete: function (data) {
                if ($.trim(data.Attachments) != "") {
                    $(".attachment_div").show();
                    var menu = $(".tab_menu_top");
                    $.each(data.Attachments.split(","), function (i, attach) {
                        if ($.trim(attach) != "") {
                            var iconUrl = getIconUrl(attach);
                            var $img = $("<img>").attr("src", iconUrl).attr("width", "16px").attr("height", "16px").attr("border", "0").attr("align", "absmiddle");
                            menu.append($("<li></li>").append($("<a></a>").attr("href", "#").click(function () { DownloadFile(attach) }).append($img).append(getMiniFileName(attach))));
                        }
                    });
                }
                $("#Title").text(data.Title);
                var createDate = new Date(data.CreateDate);
                $(".news_artInfo").text(createDate.format("yyyy年MM月dd日hh:mm:ss") + "　发布人：" + $.trim(data.CreateUserName));
                if (KindEditor.instances.length > 0) {
                    if ($.trim(data.Content) != "") {
                        KindEditor.instances[0].html(data.Content);
                    }
                    KindEditor.instances[0].toolbar.div.hide();
                    KindEditor.instances[0].statusbar.hide();
                    setContentHeight();
                }
            }
        });
    });

    $(window).resize(function () {
        setContentHeight();
    });

    function setContentHeight() {
        if (KindEditor.instances.length > 0) {
            var attachHeight = $(".attachment_div").is(":visible") ? $(".attachment_div").height() : -3;
            var height = $("body").height() - attachHeight - $("#Title").height() - $(".news_artInfo").height() - 35;
            KindEditor.instances[0].resize($("#divContent").width(), height);
        }
    }

    function getIconUrl(attach) {
        var imgUrl = "/CommonWebResource/RelateResource/image/ico16/";
        var regexDOC = /\.(doc|docx)$/;
        var regexEXCEL = /\.(xls|xlsx)$/;
        var regexPDF = /\.(pdf)$/;
        var regexPPT = /\.(ppt|pptx)$/;

        var iconUrl = imgUrl + "unkownfile.png";
        if (regexDOC.test(attach.toLowerCase())) {
            iconUrl = imgUrl + "word.png";
        }
        else if (regexEXCEL.test(attach.toLowerCase())) {
            iconUrl = imgUrl + "excel.png";
        }
        else if (regexPDF.test(attach.toLowerCase())) {
            iconUrl = imgUrl + "pdf.png";
        }

        else if (regexPPT.test(attach.toLowerCase())) {
            iconUrl = imgUrl + "powerpoint.png";
        }
        return iconUrl;
    }

    Date.prototype.format = function (format) {
        /* 
        * eg:format="yyyy-MM-dd hh:mm:ss"; 
        */
        var o = {
            "M+": this.getMonth() + 1, // month  
            "d+": this.getDate(), // day  
            "h+": this.getHours(), // hour  
            "m+": this.getMinutes(), // minute  
            "s+": this.getSeconds(), // second  
            "q+": Math.floor((this.getMonth() + 3) / 3), // quarter  
            "S": this.getMilliseconds()
            // millisecond  
        }

        if (/(y+)/.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4
                        - RegExp.$1.length));
        }

        for (var k in o) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1
                            ? o[k]
                            : ("00" + o[k]).substr(("" + o[k]).length));
            }
        }
        return format;
    }  
</script>