@{
    ViewBag.Title = "MileStoneChange";
}
<div id="formlayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div region="north" height="32" showspliticon="false" showheader="false" allowresize="false" splitsize="0"
        style="border: 0;">
        <div class="mini-toolbar" style="padding: 0px; border-left: 0; border-top: 0; border-right: 0;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;">
                        <a class="mini-button" iconcls="icon-save" onclick="delayPlan();" plain="true">保存</a>
                        <a class="mini-button" iconcls="icon-cancel" onclick="closeWindow()" plain="true">取消</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div title="center" region="center" style="border: 0;">
        <div id="dataForm">
            <div style="padding-left: 20px; padding-top: 10px;">
                <table width="100%" border="0" cellpadding="0" cellspacing="2">
                    <tr>
                        <td>
                            延期计划日期
                        </td>
                        <td style="padding-right: 40px;">
                            <input name="NewPlanDate" class="mini-datepicker" style="width: 100%" required="true" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            延期类型
                        </td>
                        <td style="padding-right: 40px;">
                            <input name="ChangeType" class="mini-radiobuttonlist" repeatlayout="table" repeatdirection="vertical"
                                textfield="text" valuefield="value" data="MileStoneChangeType" style="width: 100%" required="true" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
@Html.GetEnum(typeof(Project.Logic.MileStoneChangeType))
</script>
<script type="text/javascript">

    function delayPlan() {
        var dataForm = new mini.Form("#dataForm");
        dataForm.validate();
        if (dataForm.isValid() == false) return;
        var data = dataForm.getData();
        closeWindow(data);
    }
</script>
