
<div class="mini-toolbar" id="btnDiv">
    <table>
        <tr>
            <td>
                <a class="mini-button" id="btnSave" plain="true" iconcls="icon-save">保存</a> 
                <a class="mini-button" plain="true" iconcls="icon-cancel" onclick="closeWindow()">取消</a>
            </td>
            <td id="btnRight">
                <a class="mini-button" onclick="showHelp()" iconcls="icon-help" plain="true">帮助</a>
            </td>
        </tr>
    </table>
</div>
<form id="dataForm" method="post" url="/Base/PortalBlock/NewsImage/GetModelByDeptHome">
<input id="ID" name="ID" class="mini-hidden" />

<div class="formDiv">
    <fieldset>
    <legend><span>新闻标题</span></legend>
        <table width="100%">
            <tr style="height: 0px">
                <td width="15%">
                </td>
                <td width="35%">
                </td>
                <td width="15%">
                </td>
                <td width="35%">
                </td>
            </tr>
            <tr>
                <td>
                    所属部门
                </td>
                <td>
                    <input class="mini-combobox" id="DeptDoorId" name="DeptDoorId" textName="DeptDoorName" style="width: 100%;" valuefield="ID"
                        textfield="Name" url="/MvcConfig/Dept/GetDept" required="true"/>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    标题
                </td>
                <td colspan="3">
                    <input name="Title" id="Title"  class="mini-textbox" style="width:100%" required="true" vtype="maxLength:50" />
                </td>
            </tr>
            <tr>
                <td>内容</td>
                <td colspan="3">
                    <textarea class="mini-textarea" name="Remark" style="WIDTH:100%;"></textarea>
                </td>
            </tr>
            <tr>
                <td>发布人</td>
                <td>
                    <input name="CreateUserName" class="mini-textbox" style="width:50%" readonly="true"/>
                </td>
                <td>发布时间</td>
                <td>
                   <input name="CreateTime" class="mini-datepicker" readonly="true"/>
                </td>
            </tr>
            <tr>
                <td>序号</td>
                <td>
                    <input name="SortIndex" id="SortIndex"  class="mini-textbox" style="width:50%" vtype="float" />
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
    <legend><span>新闻图片</span></legend>
        <table width="100%">
            <tr>
                <td>
                    <div style="width:100%;">
                        <div id="toolbar2" class="mini-toolbar" style="border-bottom:0;padding:0px;">
                            <table style="width:100%;">
                                <tr>
                                    <td id="tdUpload" style="width:78px;text-align:right">
                                        <input id="pictureFile" name="pictureFile" type="file" style="float:left;" /></div>
                                    </td>
                                    <td>
                                        <a id="btnUp" class="mini-button" iconCls="icon-up" onclick="moveUp()" plain="true">上移</a>
                                        <a id="btnDown" class="mini-button" iconCls="icon-down" onclick="moveDown()" plain="true">下移</a>
                                    </td>
                                    <td align="right" style="width:80px">
                                        <a class="mini-button" iconCls="icon-extend-preview" onclick="preview()" plain="true">预览</a>
                                    </td>
                                </tr>
                            </table>           
                        </div>
                    </div>
                    <div id="dataGrid" class="mini-datagrid" showPager="false" style="width:100%;height:380px;" allowCellEdit="true" allowCellSelect="true" >
                        <div property="columns"> 
                            <div type="indexcolumn" width="10px" allowMove="false"></div>           
                            <div field="PictureName" width="100" headerAlign="center" allowMove="false">图片名称</div>          
                            <div field="Description" headerAlign="center" width="200" allowMove="false">描述
                                <input property="editor" class="mini-textbox" style="width:100%;"/>
                            </div>                                 
                            <div name="action" width="20" headerAlign="center" visible="false" align="center" renderer="onActionRenderer" cellStyle="padding:0;"></div>
                       </div>
                    </div>
                </td>
            </tr>
		    <tr>
			    <td style="COLOR:red">建议上传图片的长宽比例是3:2</td>
		    </tr>
        </table>
    </fieldset>
</div>
</form>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").bind("click", function () {
            updateSortIndex();
            save({
                action: "/Base/PortalBlock/NewsImage/Save",
                closeWindow: true
            });
        });
    });

</script>

<script type="text/javascript">
    function pageLoad() {
        var grid = mini.get("dataGrid");
        if (getQueryString("FuncType").toLowerCase() != "view") {
            grid.showColumn(grid.getColumn("action"));
        }
        else {
            $("#tdUpload").hide();
            mini.get("btnDown").hide();
            mini.get("btnUp").hide();
            mini.get("toolbar2").show();
            grid.setReadOnly(true);
        }

    }

    function addPictures(files) {
        var grid = mini.get("dataGrid");
        grid.addRows(files);
    }

    function onActionRenderer(e) {
        var grid = mini.get("dataGrid");
        var grid = e.sender;
        var record = e.record;
        var uid = record._uid;
        var rowIndex = e.rowIndex;
        var s = '<a href="javascript:delRow(\'' + uid + '\')" title="删除"><img border="0px" src="/CommonWebResource/RelateResource/image/ico16/del.gif" width="16px" height="16px" align="absmiddle" /></a>';
        return s;
    }

    function delRow(row_uid) {
        var grid = mini.get("dataGrid");
        var row = grid.getRowByUID(row_uid);
        if (row) {
            msgUI("确认要删除该记录？", 2, function (action) {
                if (action == "ok") {
                    execute("/Base/PortalBlock/NewsImage/DeleteNewsImage?GroupID=" + row.GroupID + "&ID=" + row.ID, {
                        onComplete: function (data) {
                            var rowIndex = grid.indexOf(row);
                            grid.removeRow(row);
                        }
                    });
                }
            });
        }
    }

    function moveUp() {
        var grid = mini.get("dataGrid");
        var row = grid.getSelected();
        if (row) {
            var index = grid.indexOf(row);
            grid.moveRow(row, index - 1);
        }
    }

    function moveDown() {
        var grid = mini.get("dataGrid");
        var row = grid.getSelected();
        if (row) {
            var index = grid.indexOf(row);
            grid.moveRow(row, index + 2);
        }
    }

    function preview() {
        var grid = mini.get("dataGrid");
        var title = mini.get("Title").getValue();
        if (grid.getData().length > 0 && title != "") {
            allowResizeOpenWindow = false;
            title = title.length > 40 ? title.substring(0, 40) + "..." : title;
            openWindow("/Base/PortalBlock/NewsImage/Gallery?ID=" + mini.get("ID").getValue() + "&Title=" + escape(title), {
                width: "100%",
                height: "100%",
                title: title,
                showMaxButton: false
            });
        }
    }

    function updateSortIndex() {
        var grid = mini.get("dataGrid");
        for (var i = 0; i < grid.getData().length; i++) {
            var row = grid.getRow(i);
            grid.updateRow(row, { SortIndex: i });
        }
    }

    function onFormSetData(data) {
        var grid = mini.get("dataGrid");
        grid.setUrl("/Base/PortalBlock/NewsImage/GetPictures?ID=" + data.ID);
        grid.reload();
    }


    function getParams() {
        var param = new Object();
        var groupID = mini.get("ID").getValue();
        param.GroupID = groupID;
        return param;
    }

    addH5Upload({
        ID: "pictureFile",
        title: "批量上传",
        buttonClass: "uploadify-button",
        fileType: "image/*",
        closeWindow: false,
        width: 85,
        height: 25,
        isMulti: true,
        url: "/Base/PortalBlock/NewsImage/UploadPictures?ThumbHeight=200",
        onParams: "getParams()",
        onComplete: function () {
            var grid = mini.get("dataGrid");
            grid.reload();
        }
    });
</script>
