<div class="mini-toolbar gw-grid-toolbar">
    <table>
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-add" onclick="add({ height: '90%',width:920,title:'添加图片新闻',onDestroy:closeWindows});" plain="true">
                    增加</a> <a class="mini-button" iconcls="icon-edit" onclick="editNewsImage()"
                        plain="true">编辑</a> <a class="mini-button" iconcls="icon-remove" onclick="deleteNewsImage()"
                            plain="true">删除</a>
            </td>
            <td class="gw-toolbar-right">
                <input class="mini-buttonedit gw-searchbox" id="key" emptytext="请输入标题" style="width: 200px;"
                    onenter="quickSearch('Title');" onbuttonclick="quickSearch('Title');" />
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" idfield="ID" url="GetList" style="width: 100%;
        height: 100%;"  allowMoveColumn="false">
        <div property="columns">
            <div type="checkcolumn">
            </div>
            <div field="DeptDoorName" headeralign="center" align="left" width="200" allowsort="true">
                所属门户</div>
            <div field="Title" headeralign="center" align="left" width="*" allowsort="true">
                标题</div>
            <div field="CreateUserName" headeralign="center" align="left" width="80" allowsort="true">
                发布人</div>
           <div field="CreateTime" headeralign="center" align="center" dateFormat="yyyy-MM-dd" align="left" width="80"  allowsort="true">
                发布时间</div>
            <div field="SortIndex" headeralign="center" align="right" width="80" allowsort="true">
                序号</div>
      </div>
    </div>
</div>
<script type="text/javascript">
    var user = @Html.Raw(ViewBag.UserInfo);

    //注册Grid链接列
    addGridLink('dataGrid', 'Title', 'Edit?ID={ID}', { funcType: 'view', width: 920, height: "85%"
    });
</script>
<script type="text/javascript">
    function closeWindows() {
        var grid = mini.get("dataGrid");
        grid.load();
    }

    function validate() {
        var grid = mini.get("dataGrid");
        var selRow = grid.getSelected();
        if (typeof (selRow) != "undefined") {
            if (user.UserFullOrgID.indexOf($.trim(selRow.DeptDoorId)) == -1 && user.UserID != $.trim(selRow.CreateUserID)) {
                return false;
            }
            return true;
        }
        else {
            return true;
        }
    }

    function editNewsImage() {
        if (!validate()) {
            msgUI("只有所属门户人员或发布人才能编辑!");
            return;
        }
        edit({ title: '修改图片新闻', height: '90%', width: 920, onDestroy: closeWindows });
    }

    function deleteNewsImage() {
        var row = mini.get("dataGrid").getSelected();
        if (typeof (row) != "undefined") {
            if (!validate()) {
                msgUI("只有所属门户人员或发布人才能删除!");
                return;
            }
            msgUI("确认要删除该记录吗？", 2, function (action) {
                if (action == "ok") {
                    execute("/Base/PortalBlock/NewsImage/Delete?ID=" + row.ID, {
                        onComplete: function (data) {
                            quickSearch('Title');
                        }
                    });
                }
            });
        }
    }

</script>
