@{
    ViewBag.Title = "MainTab";
}

<div id="mainTab" class="mini-tabs" activeindex="0" style="width: 100%; height: 100%;" borderstyle="border:0px" buttons="#tabsButtons">
    <div title="管理工时比例" url="ManageWorkloadDefineList"></div>
    <div title="专业工时比例" url="MajorWorkloadDefineList"></div>
    <div title="角色工时比例" url="RoleWorkloadDefineList"></div>
</div>
