@{
    ViewBag.Title = "文档列表";
}

<div id="mainLayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div title="west" region="west" width="250" expanded="true" showheader="false" showspliticon="false" allowresize="true">
        <div class="mini-fit">
            <ul id="dataTree" class="mini-tree" style="width: 100%; height: 100%;" showtreeicon="true" textfield="Name" idfield="ID" url=""
                enablehottrack="false" parentfield="ParentID" resultastree="false" expandonload="@ViewBag.DisplayLevel" onnodeselect="onnodeselect"
                ondrawnode=""></ul>
        </div>
    </div>
    <div title="center" region="center" style="border-top: 0px; border-left: 0px; border-right: 0px;">
        <div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;">
                        @*<a class="mini-button" id="btnAdd" iconcls="icon-add" onclick="addDocument();" plain="true">增加</a>
                        <a class="mini-button" id="btnEdit" iconcls="icon-edit" onclick="updateDocument();" plain="true">编辑</a>
                        <a class="mini-button" id="btn1" iconcls="icon-edit" onclick="doDocument('UpLoadDocument', '提交');" plain="true">提交</a>*@
                        <a class="mini-button" id="btn2" iconcls="icon-edit" onclick="doDocument('PassDocument', '通过');" plain="true">通过</a>
                        <a class="mini-button" id="btn3" iconcls="icon-edit" onclick="doDocument('RejectDocument', '驳回');" plain="true">驳回</a>
                        <a class="mini-button" id="btnDel" iconcls="icon-download" onclick="downLoadDocument();" plain="true">下载</a>
                        <a class="mini-button" id="btnDel" iconcls="icon-remove" onclick="doDocument('DeleteDocument', '删除');" plain="true">删除</a>
                    </td>
                    <td style="white-space: nowrap;">
                        <input class="mini-buttonedit searchbox" id="key" emptytext='文件名称或编号' style="width: 200px;" onenter="quickSearch(quickSearchCode, { gridId: 'dataGrid', queryBoxId: 'key' });"
                               onbuttonclick="quickSearch(quickSearchCode, { gridId: 'dataGrid', queryBoxId: 'key' });" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="mini-fit">
            <div id="dataGrid" url="" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID" multiselect="true" url="" fitcolumns="false"
                 borderstyle="border-bottom:0px;" onselectionchanged="onSelectionChanged">
                <div property="columns">
                    <div type="checkcolumn">
                    </div>
                    <div field="Name" headeralign="center" width="240" allowsort="true" align="left">
                        名称
                    </div>
                    <div field="Code" headeralign="center" width="100" allowsort="true" align="left">
                        编号
                    </div>
                    <div field="FileCategory" headeralign="center" width="80" allowsort="true" align="center">
                        文件分类
                    </div>
                    <div field="KewWords" headeralign="center" width="150" allowsort="true" align="left">
                        关键字
                    </div>
                    <div field="CreateUserName" headeralign="center" width="60" allowsort="true" align="center">
                        上传人
                    </div>
                    <div field="CreateDate" headeralign="center" width="90" allowsort="true" dateformat="yyyy-MM-dd" align="center">
                        上传时间
                    </div>
                    <div field="ParticipationType" headeralign="center" width="90" allowsort="true" align="center">
                        参建方类型
                    </div>
                    <div field="State" headeralign="center" width="80" allowsort="true" align="center">
                        状态
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    @Html.GetEnum(typeof(EPC.Logic.EnumDocumentState), "DocumentState")
    @Html.GetEnum(typeof(EPC.Logic.ParticipationType), "ParticipationType")
</script>
<script>
    addGridEnum("dataGrid", "State", "DocumentState");
    addGridEnum("dataGrid", "ParticipationType", "ParticipationType");
    
    addGridLink('dataGrid', 'Name', '/MvcConfig/UI/Form/PageView?TmplCode=ParticipantDocument&ID={ID}&FuncType=View',
            {
                "title": "查看文件", "mustSelectOneRow": "true", onFilter: function (e) {
                    return true;
                    //return parseFloat(e.row.BrowseAuth) > 0;
                }
            });

    var quickSearchCode = 'Name,Code';
    var engineeringInfoID = getQueryString("EngineeringInfoID");
    var url = "GetFolderTree?EngineeringInfoID=" + engineeringInfoID;
    $("#dataTree").attr("url", url);

    function pageLoad()
    {
        var rootNode = mini.get('dataTree').getRootNode();
        if (rootNode)
        {
            mini.get('dataTree').selectNode(rootNode);
        }
    }
    
    var folderID = "";
    var relateObjType = "";
    function onnodeselect(e) {
        var node = e.node;
        var dataGrid = mini.get("dataGrid");
        folderID = node.ID;
        relateObjType = node.RelateObjType
        //if (!node.RelateObjType || node.RelateObjType == "")
        //    $("#btnAdd").hide();
        //else
        //    $("#btnAdd").show();

        var filter = "EngineeringInfoID=" + engineeringInfoID;
        if (folderID)
        {
            filter += "&FolderID=" + folderID;
        }
        dataGrid.setUrl("GetDocumentList?" + filter);
        quickSearch(quickSearchCode, { gridId: "dataGrid", queryBoxId: 'key' });
    }

    function addDocument()
    {
        openWindow("PageView?FolderID=" + folderID + '&RelateObjType=' + relateObjType);
    }

    function updateDocument() {
        var dataGrid = mini.get("dataGrid");
        var row = dataGrid.getSelected();
        if (!row) { msgUI("请选择一条记录"); return; }
        var url = "PageView?ID=" + row.ID;
        openWindow(url, {
            refresh: false, title: "编辑文件",
            onDestroy: function (data) {
                if (!data || data == "close") return;
                mini.get("dataGrid").reload();
            }
        });
    }
    function downLoadDocument()
    {
        var dataGrid = mini.get("dataGrid");
        var row = dataGrid.getSelected();
        if (!row) { msgUI("请选择一条记录"); return; }

        if (!row.FileID) {
            msgUI("没有可下载的附件"); return;
        }
        DownloadFile(row.FileID);
    }

    function doDocument(action, actionName)
    {
        var dataGrid = mini.get("dataGrid");
        var rows = dataGrid.getSelecteds();
        if (rows.length == 0) {
            msgUI("请选择一条记录"); return;
        }
        msgUI("您确定要" + actionName + "选中内容吗？", 2, function (result) {
            if (result != "ok") { return; }
            addExecuteParam("ListData", mini.encode(rows));
            execute(action, {
                showLoading: true, refresh: false, onComplete: function (data) {
                    mini.get("dataGrid").reload();
                }, validateForm: false
            });
        });
    }
</script>
