<div class="mini-tabs" activeIndex="0" tabPosition="left" style="width:100%;height:100%;">
    <div title="换<br />人<br />补<br />发<br />回<br />收" url="TaskChange">
    </div>
    <div title="流<br />程<br />删<br />除" url="FlowDelete">
    </div>
</div>
