<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" url="GetModifyLogLogList"
        multiselect="true">
        <div property="columns">
            <div type="indexcolumn">
            </div>
            <div field="CategoryName" width="120" allowsort="true" align="center">
                模块名</div>
            <div field="IOType" width="80" allowsort="true" align="center">
                类型</div>
            <div field="RelateData" width="*" align="center" allowsort="true">
                内容</div>
            <div field="IOTime" width="120" allowsort="true" dateformat="yyyy-MM-dd HH:mm" align="center">
                日期</div>
        </div>
    </div>
</div>
