@{
    ViewBag.Title = "里程碑完成申报";
}
<div id="formlayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div title="north" region="north" height="32" showspliticon="false" showheader="false" allowresize="false"
        splitsize="0" style="border: 0;">
        <div class="mini-toolbar" id="btnDiv">
            <table>
                <tr>
                    <td>
                        <a class="mini-button" plain="true" iconcls="icon-save" onclick="save({action:'FinishApply'});">保存</a>
                        <a class="mini-button" plain="true" iconcls="icon-cancel" onclick="closeWindow()">取消</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div title="center" region="center">
        <form id="dataForm" method="post" url="GetApplyModel">
        <input name="IDs" class="mini-hidden" />
        <div class="formDiv">
            <fieldset>
                <legend>上报信息</legend>
                <div>
                    <table>
                        <tr class="hideRow">
                            <td width="15%">
                            </td>
                            <td width="35%">
                            </td>
                            <td width="15%">
                            </td>
                            <td width="35%">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                附件
                            </td>
                            <td colspan="3">
                                <input name="ApplyFiles" class="mini-multifile" style="width: 100%; height: 100px;" required="true" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                描述
                            </td>
                            <td colspan="3">
                                <input name="ApplyRemark" class="mini-textarea" style="width: 100%; height: 100px;" vtype="maxLength:500" required="true" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                申请人
                            </td>
                            <td>
                                <input name="ApplyUserID" textname="ApplyUserName" class="mini-buttonedit" style="width: 100%;" required="true" />
                            </td>
                            <td>
                                申请时间
                            </td>
                            <td>
                                <input name="ApplyDate" class="mini-datepicker" style="width: 100%" required="true" />
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    addSingleUserSelector("ApplyUserID");
</script>
