@{
    ViewBag.Title = "TreeList";
}

<div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;"></td>
            <td style="white-space: nowrap;">
                <input id='key' class='mini-buttonedit gw-searchbox' emptytext='请输入名称' onenter="treeSearch"
                       onbuttonclick="treeSearch" />
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit" id="treeArea">
    <div id="dataTree" class="mini-treegrid" style="width:100%;height:100%;" url="" showtreeicon="true" multiselect="true"
         treecolumn="Name" idfield="ID" parentfield="ParentID" resultastree="false" allowcellwrap="true" iconfield="NodeType"
         expandonload="true" onload="onload" ondrawcell="onDrawingCell"
         allowresize="false" fitcolumns="false">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div name="Name" field="Name" width="270" headeralign="center" allowsort="false">名称</div>
            <div field="Unit" width="50" headeralign="center" allowsort="false" align="center">单位</div>
            <div field="Quantity" width="60"  align="right" headeralign="center" allowsort="false">数量</div>
            <div field="Tender" width="150" datatype="currency" align="right" headeralign="center" allowsort="false">投标概算金额（元）</div>
            <div field="Budget" width="150" datatype="currency" align="right" headeralign="center" allowsort="false">预算金额（元）</div>
            <div field="Contract" width="150" datatype="currency" align="right" headeralign="center" allowsort="false">合同签订金额（元）</div>
            <div field="Settle" width="150" datatype="currency" align="right" headeralign="center" allowsort="false">结算金额（元）</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //addGridLink("dataTree", "Tender", "/MvcConfig/UI/List/PageView?TmplCode=CBSDetailInPriceControl&CBSDetailFrom=S_I_CBS_BidOffer&OrderBy=MajorCode&ID={ID}", { title: "投标概算设备明细", refresh: false });
    //addGridLink("dataTree", "Budget", "/MvcConfig/UI/List/PageView?TmplCode=CBSDetailInPriceControl&CBSDetailFrom=S_I_CBS_Budget&OrderBy=MajorCode&ID={ID}", { title: "预算金额设备明细", refresh: false });
    //addGridLink("dataTree", "Contract", "/MvcConfig/UI/List/PageView?TmplCode=CBSDetailInPriceControl&CBSDetailFrom=S_I_CBS_Contract&OrderBy=Name&ID={ID}", { title: "合同签订金额设备明细", refresh: false });
    //addGridLink("dataTree", "Settle", "/MvcConfig/UI/List/PageView?TmplCode=CBSCostDetailInPriceControl&ID={ID}", { title: "结算金额设备明细", refresh: false });

    var engineeringInfoID = getQueryString("EngineeringInfoID");
    var url = "GetTreeList?EngineeringInfoID=" + engineeringInfoID;
    $("#dataTree").attr("url", url);


    function onDrawingCell(e) {
        var treeGrid = e.sender;
        var record = e.record;
        var column = e.column;
        var field = e.field;

        switch (field) {
            case "Budget":
                if (record.Code == "设备材料费") {
                    url = "/MvcConfig/UI/List/PageView?TmplCode=CBSDetailInPriceControl&CBSDetailFrom=S_I_CBS_Budget&OrderBy=MajorCode&ID=" + record.ID;
                    e.cellHtml = '<a href="javascript:onViewDetail(\'' + url + '\')">' + mini.formatNumber(e.value, "n") + '</a>&nbsp; ';
                }

                break;

            case "Settle":
                if (record.Code == "设备材料费") {
                    url = "/MvcConfig/UI/List/PageView?TmplCode=CBSCostDetailInPriceControl&ID=" + record.ID;
                    e.cellHtml = '<a href="javascript:onViewDetail(\'' + url + '\')">' + mini.formatNumber(e.value, "n") + '</a>&nbsp; ';
                }

                break;

            default:
        }


        if (record.NodeType != "Detail") {
            e.cellStyle = "font-weight:bolder;";
        }
        else if (record.NodeType == "Detail") {

        }
    }

    function onViewDetail(url) {
        openWindow(url, {
            refresh: false, title: "查看明细", width: "80%", height: "80%",
            onDestroy: function () { }
        });

    }


    function treeSearch() {
        var tree = mini.get("dataTree");
        var key = mini.get("key").getValue();
        if (key == "") {
            tree.clearFilter();
        } else {
            key = key.toLowerCase();
            tree.filter(function (node) {
                var text = node.Name ? node.Name.toLowerCase() : "";
                if (text.indexOf(key) != -1) {
                    return true;
                }
            });
        }
    }

</script>
