@{
    ViewBag.Title = "PageView";
}

<script type="text/javascript">
    //请现在页面或Layout中引用脚本：“/CommonWebResource/CoreLib/HighCharts/highcharts.js”
    //请调用showGirdChartSettings方法打开图表配置页

    var groupbyFieldEnum = [
    ];

    var sumFieldEnum = [
    ];

    function showChart() {
        createChart('title', 'name', []);
    }

</script>

@Html.Raw(ViewBag.ListHtml)
<script type="text/javascript">
    @Html.Raw(ViewBag.Script)
    @Html.Raw(ViewBag.FixedFields)
</script>

<script type="text/javascript">
    function exportList(currentPage) {
        if (currentPage)
            $("input[name='exportCurrentPage']").val("true");
        else
            $("input[name='exportCurrentPage']").val("false");
        ExportExcel(getQueryString("TmplCode"), "dataGrid", "");
    }

    //Word导出
    function exportWord(tmplCode) {
        var grid = mini.get("dataGrid");
        if (grid.getSelecteds().length != 1) {
            msgUI("请选择一行记录");
            return;
        }
        if (tmplCode == undefined)
            tmplCode = getQueryString("TmplCode");
        var url = "/MvcConfig/UI/Word/Export?TmplCode=" + tmplCode + "&ID={ID}";
        url = replaceUrl(url);
        window.open(url);
    }

    //pdf导出
    function exportPdf(tmplCode) {
        var grid = mini.get("dataGrid");
        if (grid.getSelecteds().length != 1) {
            msgUI("请选择一行记录");
            return;
        }
        if (tmplCode == undefined)
            tmplCode = getQueryString("TmplCode");
        var url = "/MvcConfig/UI/Word/Export?pdf=true&TmplCode=" + tmplCode + "&ID={ID}";
        url = replaceUrl(url);
        window.open(url);
    }

    //表单打印
    function funPrintWord() {
        var grid = mini.get("dataGrid");
        if (grid.getSelecteds().length != 1) {
            msgUI("请选择一行记录");
            return;
        }
        var id = grid.getSelecteds()[0]["ID"];
        var tmplCode = getQueryString("TmplCode");

        printWord(tmplCode, id);

    }

    if (typeof (pageLoad) == "undefined") {
        function pageLoad() {
            var grid = mini.get("dataGrid");
            var data = {};
            var key = getQueryString("Sub_Key");
            var keyID = getQueryString("Sub_ID");
            if (key && grid != undefined && keyID) {
                data["$IL$" + key] = keyID;
                grid.load({ quickQueryFormData: mini.encode(data) });
            }
            //$('.mini-grid-rows-view').niceScroll({ cursorcolor: "#dfdfdf", cursorwidth: "5px", autohidemode: false });
        }
    }
</script>

<div id='QRCodeWindow' class='mini-window' title='二维码' style='width: 200px; height: 228px; display: none;'>
    <div style='padding: 8px;'>
        <div style="height:135px;border:dashed 1px #ccc;text-align:center;" id="QRCodeImg"></div>
        <div style='text-align: center;' id="btnQRCode">

        </div>
    </div>
</div>

<div id='chartSettings' class='mini-window' title='统计图表生成' style='width: 690px; height: 245px; display: none;'>
    <div style='padding: 20px;'>
        <form id='queryForm'>
            <table>
                <tr>
                    <td align='right'>
                        统计项:
                    </td>
                    <td style='text-align: left'>
                        <div id='groupbyField' class='mini-checkboxlist' multiselect='false' data='groupbyFieldEnum'>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width='20%' align='right'>
                        统计项数值:
                    </td>
                    <td style='text-align: left'>
                        <div id='sumField' class='mini-checkboxlist' multiselect='false' data='sumFieldEnum'>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan='2'></td>
                </tr>
                <tr>
                    <td colspan='2' style='text-align: center;' class='queryDiv'>
                        <div id='chartType' style='text-align: center;' class='mini-checkboxlist' multiselect='false'
                             data='chartType'>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div style='text-align: center;'>
        <a class='mini-button' onclick='showChart();' iconcls='icon-find' style='margin-right: 20px;'>生成图表</a>
        <a class='mini-button' onclick='hideWindow("chartSettings")' iconcls='icon-undo'>取消</a>
    </div>
</div>
