<div class="mini-toolbar" id="btnDiv">
    <table>
        <tr>
            <td>
                <a class="mini-button" plain="true" iconcls="icon-save" onclick="save();">保存</a>
                <a class="mini-button" plain="true" iconcls="icon-cancel" onclick="closeWindow()">取消</a>
            </td>
            <td id="btnRight">
                <a class="mini-button" onclick="showHelp()" iconcls="icon-help" plain="true">帮助</a>
            </td>
        </tr>
    </table>
</div>
<form id="dataForm" method="post">
<input name="ID" class="mini-hidden" />
<div class="formDiv">
    <fieldset>
        <legend>基本信息</legend>
        <div>
            <table>
                <tr class="hideRow">
                    <td width="15%">
                    </td>
                    <td width="35%">
                    </td>
                    <td width="15%">
                    </td>
                    <td width="35%">
                    </td>
                </tr>
                <tr>
                    <td>
                        组件编号
                    </td>
                    <td>
                        <input name="Code" class="mini-textbox" style="width: 100%;" required="true" />
                    </td>
                    <td>
                        组件名称
                    </td>
                    <td>
                        <input name="Name" class="mini-textbox" style="width: 100%;" required="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        组件类型
                    </td>
                    <td>
                        <input name="Type" class="mini-combobox" style="width: 100%" required="true" data="type" />
                    </td>
                    <td>
                        所属分类
                    </td>
                    <td>
                        <input name="CategoryID" class="mini-combobox" style="width: 100%" required="true" data="Categories" />
                    </td>
                </tr>
                <tr>
                    <td>
                        组件配置
                    </td>
                    <td colspan="3">
                        <textarea class="mini-textarea" name="Json" style="width: 100%; height: 330px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>
</form>
<script type="text/javascript">
    var type = [{ value: "list", text: "列表" }, { value: "form", text: "表单"}];
</script>
<script type="text/javascript">
    var Categories = @Html.Raw(ViewBag.EnumCategory);  
</script>
<script type="text/javascript">

    function onFormSetData(data) {
        mini.getbyName("CategoryID").setValue(getQueryString("CategoryID"));
    }



</script>
