@{
    ViewBag.Title = "MenuIndex";
}

<div id="mainLayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div title="north" region="north" height="80" showspliticon="true">
    </div>
    <div title="center" region="center">
    </div>
</div>