<div class="mini-toolbar gw-grid-toolbar">
    <table>
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-add" onclick="add({ height: '90%',width:920,title:'添加图片新闻',onDestroy:closeWindows});" plain="true">
                    增加</a> <a class="mini-button" iconcls="icon-edit" onclick="edit({ title:'修改图片新闻', height: '90%',width:920,onDestroy:closeWindows});"
                        plain="true">编辑</a> <a class="mini-button" iconcls="icon-remove" onclick="deleteNewsImage()"
                            plain="true">删除</a>
            </td>
            <td class="gw-toolbar-right">
                <input class="mini-buttonedit gw-searchbox" id="key" emptytext="请输入标题" style="width: 200px;"
                    onenter="quickSearch('Title');" onbuttonclick="quickSearch('Title');" />
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" idfield="ID" url="GetList" style="width: 100%;
        height: 100%;"  allowMoveColumn="false">
        <div property="columns">
            <div type="checkcolumn" width="25">
            </div>
            <div field="Title" headeralign="center" align="left" width="*" allowsort="true">
                标题</div>
            <div field="CreateUserName" headeralign="center" align="left" width="80" allowsort="true">
                发布人</div>
           <div field="CreateTime" headeralign="center" align="center" dateFormat="yyyy-MM-dd" align="left" width="80"  allowsort="true">
                发布时间</div>
            <div field="SortIndex" headeralign="center" align="right" width="80" allowsort="true">
                排序</div>
      </div>
    </div>
</div>
<script type="text/javascript">
    //注册Grid链接列
    addGridLink('dataGrid', 'Title', 'Edit?ID={ID}', { funcType: 'view', width: 920, height: "90%"
    });
    function closeWindows() {
        mini.get("dataGrid").load();
    }

    function deleteNewsImage() {
        var row = mini.get("dataGrid").getSelected();
        if (typeof (row) != "undefined") {
            msgUI("确认要删除该记录吗？", 2, function (action) {
                if (action == "ok") {
                    execute("Delete?ID=" + row.ID, {
                        onComplete: function (data) {
                            quickSearch('Title');
                        }
                    });
                }
            });
        }
    }

</script>
