@{
    ViewBag.Title = "岗位角色注册列表";
}
<div class="mini-toolbar gw-grid-toolbar">
    <table>
        <tr>
            <td>
                <a class="mini-button" iconcls="icon-add" onclick="add({height:400});">增加</a>
                <a class="mini-button" iconcls="icon-edit" onclick="edit({height:400});">编辑</a>
                <a class="mini-button" iconcls="icon-remove" onclick="del();">删除</a>
            </td>
            <td class="gw-toolbar-right">
                <input id="key" class="mini-buttonedit gw-searchbox" emptytext="请输入岗位编号或名称" onenter="quickSearch('RoleCode,RoleName');"
                       onbuttonclick="quickSearch('RoleCode,RoleName');" />
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" url="GetList?RoleType=ProjectRoleType" multiselect="true">
        <div property="columns">
            <div type="checkcolumn">
            </div>
            <div field="RoleName" width="150" allowsort="true" align="left">
                岗位名称
            </div>
            <div field="RoleCode" width="200" allowsort="true" align="left">
                岗位编号
            </div>
            <div field="SortIndex" width="80" allowsort="true" align="right">
                排序
            </div>
            <div field="Description" width="*" allowsort="true">
                描述
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    @Html.GetEnum(typeof(Project.Logic.RoleType));
</script>
<script type="text/javascript">
    addGridEnum("dataGrid", "RoleType", "RoleType");
</script>
