<div class="mini-toolbar" id="btnDiv">
    <table>
        <tr>
            <td>
                <a class="mini-button" plain="true" iconcls="icon-save" onclick="saveNode();">保存</a>
                <a class="mini-button" plain="true" iconcls="icon-cancel" onclick="closeWindow()">取消</a>
            </td>
            <td id="btnRight">
                <a class="mini-button" onclick="showHelp()" iconcls="icon-help" plain="true">帮助</a>
            </td>
        </tr>
    </table>
</div>

<form id="dataForm" method="post" url="GetMobileModel" >
<input name="ID" class="mini-hidden" />
<input name="OID" class="mini-hidden" />
<input name="ParentID" class="mini-hidden" />
<input name="IsInnerLink" class="mini-hidden" value="1"/>
<input name="PanelSize" class="mini-hidden" value="1" />
<input name="PanelIcon" class="mini-hidden"value="ion-link" />
<input name="FunctionID" class="mini-hidden" value=""/>
<div class="formDiv">
    <fieldset>
        <legend>基本信息</legend>
        <div>
            <table>
                <tr class="hideRow">
                    <td width="15%"></td>
                    <td width="35%"></td>
                    <td width="15%"></td>
                    <td width="35%"></td>
                </tr>
                <tr>
                    <td>
                        菜单类型
                    </td>
                    <td colspan="3">
                        <input name="Type" class="mini-combobox" style="width: 100%;" data="MobileMenuType" onvaluechanged="onTypeChange"  required="true"/>
                    </td>
                </tr>
                <tr id="trNews" style="display:none">
                    <td >
                        关联新闻类型
                    </td>
                    <td colspan="3">
                        <input name="NewsID" class="mini-combobox" style="width: 100%;" data="PublicInformCatalog" onvaluechanged="onNewsTypeChange"  required="true" />
                    </td>
                </tr>
                <tr>
                    <td>
                        名称
                    </td>
                    <td colspan="3">
                        <input name="Name" class="mini-textbox" style="width: 100%;" required="true" />
                    </td>
                </tr>

                <tr>

                    <td>
                        图标
                    </td>
                    <td colspan="3">
                        <div style="width:30px;float:left">
                            <img id="iconimg" style="height:25px;padding-top:3px;width:auto" src="/base/Scripts/Auth/menuIcons/wx-news.png" />
                        </div>
                        <div style="padding-left:30px;">
                            <input name="MenuIcon" textname="MenuIcon" class="mini-buttonedit" onbuttonclick="selectIcon();" style="width: 100%;" />

                        </div>
                    </td>
                </tr>

                
                <tr id="trurl" style="display:none">
                    <td id="tdurl">
                        Url
                    </td>
                    <td colspan="3">
                        <input name="Url" class="mini-textbox" style="width: 100%;" />
                    </td>
                </tr>
                
                <tr id="trComponent">
                    <td>
                        是否一级菜单
                    </td>
                    <td colspan="3">
                        <div name="Component" style="width: 100%" class="mini-combobox" data="yesNo"  required="true"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        是否显示在九宫格
                    </td>
                    <td colspan="3">
                        <div name="IsPanelItem" style="width: 100%" class="mini-combobox" data="yesNo"  required="true"></div>

                    </td>
                </tr>

                <tr>
                    <td>
                        排序
                    </td>
                    <td colspan="3">
                        <input name="SortIndex" vtype="int" class="mini-textbox" style="width: 100%"  required="true"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        所属分组
                    </td>
                    <td colspan="3">
                        <input class="mini-hidden" name="GroupName" style="width: 100%;" />

                        <div name="GroupIndex" style="width: 100%" class="mini-combobox" onvaluechanged="GroupChange"  data="MobileMenuGroup"></div>
                    </td>
                </tr>
       
                <tr>
                    <td>Code</td>
                    <td colspan="3">
                        <input name="Code" class="mini-textarea" style="width: 100%; height: 50px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        备注
                    </td>
                    <td colspan="3">
                        <input name="Remark" class="mini-textarea" style="width: 100%; height: 100px" />
                    </td>
                </tr>
            </table>
        </div>

        <br />
        注意事项：<br />
        1.图片新闻的Code，请填写：imagenews；<br />
        2.考勤的Code，请填写：attendance；<br />
        3.发起流程示例：FormDef/表单编码?FormCode=表单编码&FlowCode=流程编码；<br />内部页面地址URL参考：FormDef/SealApply?FormCode=SealApply&FlowCode=SealApply<br />
        4.消息，提醒Code为空；<br />
        5.移动通&企业微信审批任务筛选查询功能配置：在备注中填写{"Filter": true}；<br />
        6.移动通发送消息上传附件功能配置：在备注中填写{"RemindAddFile":true}；<br />
        
    </fieldset>
</div>
</form>
<script type="text/javascript">
    @Html.GetEnum("MobileMenuType");
    @Html.GetEnum("MobileMenuGroup");
     @Html.GetEnum("PublicInformCatalog");
</script>
<script type="text/javascript">
    function GroupChange(e) {
        mini.getbyName("GroupName").setValue(e.selected.text);
    }
    
    function onTypeChange(e) {
        $("#trurl").hide();
        $("#trNews").hide();
        $("#trComponent").hide();
        switch (e.value) {
            case "3":
                $("#trurl").show();
                $("#tdurl").text("内部页面地址");
                break;
            case "11":
            case "12":
            case "5":
            case "7":
            case "15":
                $("#trurl").show();
                $("#tdurl").text("外部链接地址");
                break;
            case "1":
                $("#trNews").show();
                break;
            case "20":
                mini.getbyName("Component").setValue("0");
                break;
            case "2":
                mini.getbyName("Component").setValue("0");
                $("#trComponent").show();
                break;
                
        }
    }
    function onNewsTypeChange(e) {
        mini.getbyName("ID").setValue(e.value);
        mini.getbyName("Name").setValue(e.selected.text);
        mini.getbyName("Code").setValue(e.selected.Category);
        mini.getbyName("ID").setText(e.value);
        mini.getbyName("Name").setText(e.selected.text);
        mini.getbyName("Code").setText(e.selected.Category);
    }
    function onFormSetData(data) {
        if (data != undefined) {
            if (data.ID == "1") {
                $('#btnDiv').css("display", "none");
            } else {
                $('#btnDiv').show();
            }
            $("#trurl").hide();
            $("#trNews").hide();
            $("#trComponent").hide();
            $("#iconimg").attr("src","/base/Scripts/Auth/"+data.MenuIcon);
            switch (data.Type) {
                case "3":
                    $("#trurl").show();
                    $("#tdurl").text("内部页面地址");
                    break;
                case "11":
                case "12":
                case "5":
                case "7":
                case "15":
                    $("#trurl").show();
                    $("#tdurl").text("外部链接地址");                   
                    break;
                case "1":
                    $("#trNews").show();
                    break;
                case "20":
                    mini.getbyName("Component").setValue("1");
                    break;
                case "2":
                    mini.getbyName("Component").setValue("0");
                    $("#trComponent").show();
                    break;
            }
        }
    }
    function setData(data) {
       
        if (data) {            
            data.OID = data.ID;
            var form = new mini.Form("#dataForm");
            var data = mini.decode(data);
            form.setData(data);
            form.setChanged(false);
           
        }
    }
  
</script>
<script type="text/javascript">
    function selectIcon() {
        openWindow('Icons', {
            title: "选择图标", onDestroy: function (data) {
                if (data != "close") {
                    var btn = mini.getbyName("MenuIcon");
                    btn.setValue(data);
                    btn.setText(data);
                    $("#iconimg").attr("src", "/base/Scripts/Auth/" + data);
                }
            }
        });
    }
    function saveNode(execSettings) {        
        var dataGrid = window.parent.mini.get("dataTree");
        var form = new mini.Form("#dataForm");
        form.validate();
        if (form.isValid() == false) return;
        var formData = form.getData();
        addExecuteParam("Data", formData);
        execute("SaveMobileNode", {
            onComplete: function (data) {
                msgUI("保存成功", 1, function (act) {
                    if (act == "ok") {
                        closeWindow(data);
                    }
                });
            }
        });
    }

</script>
