@{
    ViewBag.Title = "MainTab";
}

<div id="mainTab" class="mini-tabs" activeindex="0" style="width: 100%; height: 100%;" borderstyle="border:0px" buttons="#tabsButtons">
    @{
        for (int i = 0; i < ViewBag.SubProjectList.Count; i++)
        {
            var subProject = ViewBag.SubProjectList[i] as Project.Logic.Domain.S_W_WBS;
            <div title="@subProject.Name" url="MileStoneTrackTab?ProjectInfoID=@subProject.ProjectInfoID&WBSID=@subProject.ID&SpaceCode=@ViewBag.SpaceCode&AuthType=@ViewBag.AuthType"></div>
        }
    }
</div>
<div id="tabsButtons">
    <a id="transform" class="mini-button" iconcls="" onclick="transformToList()">切换列表视图</a>
</div>
<script type="text/javascript">
    var projectInfoID = getQueryString("ProjectInfoID");
    var spaceCode = getQueryString("SpaceCode")
    var autType = getQueryString("AuthType")
    function transformToList() {
        window.location.href = "ListTab?ProjectInfoID=" + projectInfoID + "&SpaceCode=" + spaceCode + "&AuthType=" + autType;
    }
</script>
<style type="text/css">
    .mini-layout-proxy {
        border-top: 0px;
        border-left: 0px;
    }
</style>