@{
    ViewBag.Title = "项目跟踪列表";
}
<link href="~/Scripts/Flag/Style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .fontnumber
    {
        color: Red;
    }
</style>
<div class="mini-toolbar" style="padding: 0px; border: 0;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%">
                <img width="16" height="16" align="absmiddle" border="0" alt="正常完成" src="~/Scripts/Flag/images/NormalFinish.png">
                正常完成<font class="fontnumber" id="NormalFinish">(0)</font>&nbsp;&nbsp;
                <img width="16" height="16" align="absmiddle" border="0" alt="进行中" src="~/Scripts/Flag/images/NormalUndone.png">
                正常进行中<font class="fontnumber" id="NormalUndone">(0)</font>&nbsp;&nbsp;
                <img width="16" height="16" align="absmiddle" border="0" alt="延期完成" src="~/Scripts/Flag/images/DelayFinish.png">
                延期完成<font class="fontnumber" id="DelayFinish">(0)</font>&nbsp;&nbsp;
                <img width="16" height="16" align="absmiddle" border="0" alt="延期未完成" src="~/Scripts/Flag/images/DelayUndone.png">
                延期未完成<font class="fontnumber" id="DelayUndone">(0)</font>
            </td>
            <td style="white-space: nowrap;">
                <input id="key" class="mini-buttonedit gw-searchbox" emptytext="请输入名称" onenter="quickSearch('Code,Name');"
                    onbuttonclick="quickSearch('Name');" />
                <a class="mini-button" iconcls="icon-find" onclick="showWindow('queryWindow');">详细查询</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" url="GetTrackList"
        idfield="ID" allowcellvalid="true" onshowrowdetail="onShowRowDetail" ondrawcell="onDrawCellOfMls"
        onload="setNumber" borderstyle="border-left:0;border-right:0;;border-bottom:0;" allowresize="false"
        sortfield="PlanFinishDate" sortorder="asc">
        <div property="columns">
            <div type="expandcolumn">
            </div>
            <div type="indexcolumn">
            </div>
            <div field="ShowStatus" width="60">
                状态
            </div>
            <div field="SubProjectName" width="*" align="left" headeralign="center" allowsort="true">
                子项名称
            </div>
            <div field="Name" width="*" align="left" headeralign="center" allowsort="true">
                里程碑名称
            </div>
            <div field="MajorValue" width="90" headeralign="center" allowsort="true" align="center">
                专业
            </div>
            <div field="OutMajorValue" width="90" headeralign="center" allowsort="true" align="center">
                接收专业
            </div>
            <div field="Weight" width="80" headeralign="center" align="center" allowsort="true">
                权重(%)
            </div>
            <div field="PlanFinishDate" dateformat="yyyy-MM-dd" width="120" allowsort="true" align="center">
                计划完成时间
            </div>
            <div field="OrlPlanFinishDate" dateformat="yyyy-MM-dd" width="120" allowsort="true" align="center">
                原计划完成时间
            </div>
            <div field="FactFinishDate" width="120" headeralign="center" align="center" allowsort="true" dateformat="yyyy-MM-dd">
                实际完成时间
            </div>
        </div>
    </div>
</div>
<div id="detailGrid_Form" style="display: none; width: 100%;">
    <div id="detailPanel" class="mini-panel" style="width: 100%; height: 300px;" showcollapsebutton="false"
        url="" expanded="true" showHeader="false">
    </div>
</div>
@*<div id="detailGrid_Form" style="display: none; width: 100%;">
    <div id="changeGrid" class="mini-datagrid" showpager="false" style="width: 100%; height: 200px;" showfooter="false">
        <div property="columns">
            <div type="indexcolumn">
            </div>
            <div field="ChangeReason" width="*" allowsort="true">
                变更原因
            </div>
            <div field="OrlPlanFinishDate" dateformat="yyyy-MM-dd" width="120" allowsort="true" align="center">
                变更前计划完成时间
            </div>
            <div field="PlanFinishDate" dateformat="yyyy-MM-dd" width="120" allowsort="true" align="center">
                计划完成时间
            </div>
            <div field="ChangeTime" dateformat="yyyy-MM-dd" width="120" allowsort="true" align="center">
                变更时间
            </div>
        </div>
    </div>
</div>*@
<div id="queryWindow" class="mini-window" title="详细查询" style="width: 690px; height: 170px;">
    <div class="queryDiv">
        <form id="queryForm" method="post">
            <table>
                <tr>
                    <td width="15%" align="center">名称
                    </td>
                    <td width="35%">
                        <input name="$LK$Name" class="mini-textbox" style="width: 100%;" />
                    </td>
                    <td width="10%" align="center"></td>
                    <td width="35%"></td>
                    <td width="5%" />
                </tr>
                <tr>
                    <td align="center">计划完成日期
                    </td>
                    <td align="left">
                        <input name="$FR$FactFinishDate" class="mini-datepicker" style="width: 100%" />
                    </td>
                    <td align="center">至
                    </td>
                    <td align="left">
                        <input name="$TO$FactFinishDate" class="mini-datepicker" style="width: 100%" />
                    </td>
                </tr>
            </table>
        </form>
        <div>
            <a class="mini-button" onclick="search()" iconcls="icon-find" style="margin-right: 20px;">查询</a>
            <a class="mini-button" onclick="clearQueryForm()" iconcls="icon-undo">清空</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    @Html.GetEnum("Project.Major")
</script>
<script type="text/javascript">

    addGridEnum("dataGrid", "MajorValue", "Major");
    addGridEnum("dataGrid", "OutMajorValue", "Major");
    addGridLink('dataGrid', 'FactFinishDate', '/Project/Basic/MileStoneExecute/MileStoneFinish?ID={ID}', { funcType: 'view', height: 480, width: 700 });
    var projectInfoID = getQueryString("ProjectInfoID");
    var mileStoneLevel = getQueryString("MileStoneLevel");

    function onDrawCellOfMls(e) {
        var record = e.record,
        column = e.column,
        field = e.field,
        value = e.value;
        if (e.field == "ShowStatus") {
            e.cellHtml = "<span class='ShowStatus " + value + "' style='float:center;'></span>";
        }
    }
    var detailGrid_Form = document.getElementById("detailGrid_Form");
    function onShowRowDetail(e) {

        var grid = e.sender;
        var row = e.record;
        var td = grid.getRowDetailCellEl(row);

        detailGrid_Form.style.display = "block";
        td.appendChild(detailGrid_Form);

        var changeGrid = mini.get("detailPanel");
        changeGrid.setUrl("/MvcConfig/UI/Form/PageView?TmplCode=MileStoneProductDetailTab&MileStoneID=" + row.ID + "&ModeCode=" + getQueryString("ModeCode"));
        changeGrid.load();

    }

    function setNumber(e) {
        var data = e.result.ShowStatusCount;
        for (var p in data) {
            $("#" + p).text("(" + data[p] + ")");
        }
    }

</script>
