<div class="mini-toolbar gw-grid-toolbar">
    <table>
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-add" onclick="add({ height: 350,width:720,title:'添加公共信息栏目',onDestroy:closeWindows});" plain="true">
                    增加</a> <a class="mini-button" iconcls="icon-edit" onclick="edit({ title:'修改公共信息栏目', height: 350,width:720,onDestroy:closeWindows});"
                        plain="true">编辑</a> <a class="mini-button" iconcls="icon-remove" onclick="del()"
                            plain="true">删除</a>
            </td>
            <td class="gw-toolbar-right">
                <input class="mini-buttonedit searchbox" id="key" emptytext="请输入栏目名称" style="width: 200px;"
                    onenter="quickSearch('CatalogName');" onbuttonclick="quickSearch('CatalogName');" />
                <a class="mini-button" onclick="showWindow('queryWindow')" iconcls="icon-find" plain="true">
                    详细查询</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" idfield="ID" url="GetList" style="width: 100%;
        height: 100%;"  allowMoveColumn="false">
        <div property="columns">
            <div type="checkcolumn" width="20">
            </div>
            <div field="CatalogName" width="450" headeralign="center" renderer="onLinkRender" allowsort="true"
                align="left">
                栏目名称</div>
            <div field="CatalogKey" width="80" headeralign="center" renderer="onLinkRender" allowsort="true"
                align="left">
                栏目Key</div>
            <div field="IsPublic" width="40" renderer="onEnumRender" headeralign="center" allowsort="true"
                align="center">
                是否公开</div>
            <div field="InHomePageNum" width="80" headeralign="center" allowsort="true" align="right">
                显示行数</div>
            <div field="SortIndex" width="60" headeralign="center" allowsort="true" align="right">
                排序</div>
        </div>
    </div>
</div>
<div id="queryWindow" class="mini-window" title="详细查询" style="width: 690px; height: 145px;"
    showmodal="true" allowresize="false" allowdrag="true">
    <div class="queryDiv">
        <form id="queryForm" method="post">
        <table>
            <tr>
                <td width="15%" align="center">
                    栏目名称
                </td>
                <td width="35%" align="left">
                    <input name="$LK$CatalogName" style="width: 75%;" class="mini-textbox" />
                </td>
                <td width="15%" align="center">
                    主页显示
                </td>
                <td width="35%" align="left">
                    <input class="mini-combobox" name="$LK$IsOnHomePage" style="width: 75%;" valuefield="value"
                        textfield="text" data="TrueOrFalse" shownullitem="true" />
                </td>
            </tr>
        </table>
        </form>
        <div>
            <a class="mini-button" onclick="search()" iconcls="icon-find"  style="margin-right: 20px;">
                查询</a> <a class="mini-button" onclick="clearQueryForm('queryForm')"  iconcls="icon-undo">
                    清空</a>
        </div>
    </div>
</div>
<script type="text/javascript">
@Html.GetEnum("System.TrueOrFalse")
</script>
<script type="text/javascript">
    //为Grid枚举列指定枚举定义
    addGridEnum("dataGrid", "IsOnHomePage", "TrueOrFalse");
    addGridEnum("dataGrid", "IsPublic", "TrueOrFalse");
    //注册Grid链接列
    addGridLink('dataGrid', 'CatalogName', 'Edit?ID={ID}', { funcType: 'view', width: '720', height: '360', title: "查看公共信息栏目" });
    function closeWindows() {
        mini.get("dataGrid").load();
    }
</script>
