<script id="TargetColumn" type="text/x-jquery-tmpl">
    <div class="BIinfo-block ${Style}">
        <div class="BIinfo-block-content">
            <span class="title"><i>|</i>${Title}</span>
            {{each Tag}}
            <span class="text" style="font-size: 12px; line-height: 30px; margin: 0px 20px 0px 20px; display: block;color:#777;border-bottom: 1px solid #e6e7e9; padding:5px 0px 5px 0px;">
                {{if $value.Image}}
                <img style="width: 17px; height: 17px; vertical-align: middle; margin-right:3px;" src="${$value.Image}" />
                {{/if}}
                <span style="font-size:13px;">${$value.Title}</span>
                {{if $value.hasArrow=="1"}}
                {{if $value.Arrow>0}}
                <small class="fontred" style="font-weight:bolder;">↑${$value.Arrow}${$value.ArrowUnit}</small>
                {{else}}
                <small class="fontgreen" style="font-weight:bolder;">↓${$value.Arrow}${$value.ArrowUnit}</small>
                {{/if}}
                {{/if}}
                <label style="float: right; ">
                    {{if $value.Prefix}}
                    <label style="display:inline-block;"> ${$value.Prefix}</label>
                    {{/if}}
                    <label>
                        {{if $value.LinkUrl}}
                        <a href="javascript:void(0);" onclick="openUrl('${$value.LinkUrl}', '${$value.Title}', '${$value.width}', '${$value.height}')" style="font-size: 16px; font-weight: bold; margin: 0px 5px; ">${$value.Value}</a>
                        {{else}}
                        <a href="javascript:void(0);" style="font-size: 16px; font-weight: bold; margin: 0px 5px; text-decoration: none;">${$value.Value}</a>
                        {{/if}}
                    </label>
                    <label style="width:30px; display:inline-block;color:#333;"> ${$value.Unit}</label>
                </label>
            </span>
            {{/each}}
            <div class="linechart">
                <div style="width:${Rate}%; background-color:#00b4c1; height:10px;"></div>
            </div>
            <span class="text" style="font-size:12px; margin: 5px 20px; display: block;">${BarName}<label style="float: right; ">${Rate}%</label></span>
        </div>
    </div>
</script>


