
/*.Project
{
    background: url(/CommonWebResource/RelateResource/image/Market/Project.png) no-repeat;
}
.SubProject
{
    background: url(/CommonWebResource/Theme/Default/MiniUI/icons/subproject.gif) no-repeat;
}
.Device
{
    background: url(/CommonWebResource/Theme/Default/MiniUI/icons/process_start.gif) no-repeat;
}
.Entity
{
    background: url(/CommonWebResource/Theme/Default/MiniUI/icons/node.png) no-repeat;
}
.Phase
{
    background: url(/CommonWebResource/Theme/Default/MiniUI/icons/cutover.png) no-repeat;
}
.Major
{
    background: url(/CommonWebResource/Theme/Default/MiniUI/icons/major.gif) no-repeat;
}
.Work
{
    background: url(/CommonWebResource/Theme/Default/MiniUI/icons/package.gif) no-repeat;
}
.WorkType
{
    background: url(/CommonWebResource/Theme/Default/MiniUI/icons/package.gif) no-repeat;
}
.Month
{
    background: url(/CommonWebResource/Theme/Default/MiniUI/icons/month.gif) no-repeat;
}*/
