@{
    ViewBag.Title = "DeptReceiptInfo";
}

<script src="/CommonWebResource/CoreLib/HighCharts/highcharts.js" type="text/javascript"></script>
<script src="/CommonWebResource/CoreLib/HighCharts/highcharts-3d.js" type="text/javascript"></script>

<div id="mainlayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div title="north" region="north" height="350px" showspliticon="false" allowresize="false" showheader="false">

        <div id="container" style="height:345px">
        </div>
    </div>
    <div title="center" region="center">
        <div class="mini-fit">
            <div id="dataGrid" url="GetDeptReceiptList" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID" multiselect="true" showpager="false"
                 borderstyle="border:0px;" showsummaryrow="true" ondrawsummarycell="onDrawSummaryCell" onload="onGridLoad" sortmode="client"
                 ondrawcell="onDrawCell">
                <div property="columns">
                    <div type="indexcolumn">
                    </div>
                    <div field="text" width="*" headeralign="center" allowsort="true">
                        部门名称
                    </div>
                    <div field="ReceiptKPI" datatype="currency" summarytype="sum" width="150" headeralign="center" allowsort="true" align="right">
                        收款目标（元）
                    </div>
                    <div field="ReceiptValue" datatype="currency" summarytype="sum" headeralign="center" width="120" allowsort="true" align="right">
                        已收款（元）
                    </div>
                    <div field="RecepitComplateRate" width="90" headeralign="center" allowsort="true" align="right">
                        完成率%
                    </div>
                    <div field="CanReceiptValue" datatype="currency" summarytype="sum" headeralign="center" width="120" allowsort="true" align="right">
                        经营应收款（元）
                    </div>
                    <div field="RemaintContractValue" datatype="currency" summarytype="sum" headeralign="center" width="150" allowsort="true" align="right">
                        当前剩余合同额（元）
                    </div>
                    <div field="ReceiptKPIRemain" datatype="currency" summarytype="sum" headeralign="center" width="120" allowsort="true" align="right">
                        距收款目标（元）
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var baseScale = @Html.Raw(Math.Round(Convert.ToDecimal( DateTime.Now.DayOfYear) / 365*100,2).ToString());
</script>
<script type="text/javascript">
    var belongYear = getQueryString("BelongYear");
    addGridLink('dataGrid', 'ReceiptValue', '/MvcConfig/UI/List/PageView?TmplCode=ReceiptInfo&BelongYear=' + belongYear + '&ProductUnit={value}', { funcType: 'view', height: '80%', width: '80%', addQueryString: false });
    addGridLink('dataGrid', 'CanReceiptValue', '/MvcConfig/UI/List/PageView?TmplCode=ReceiptObjInfo&BelongYear=' + belongYear + '&ChargeDeptID={value}&CanReceipt=True', { funcType: 'view', height: '80%', width: '80%' });

    function onDrawSummaryCell(e) {
        var result = e.result;   var field =  e.field;
        if (result.sumData && e.field) {
            if (result.sumData[e.field] != undefined) {
                e.cellHtml = result.sumData[e.field];
                e.cellStyle = "text-align:right; color:Brown";
                if (field == "ContractComplateRate" || field == "RecepitComplateRate") {
                    if(e.value<baseScale){
                        e.cellStyle = "color:green;font-weight:bold;text-align:right; ";
                    }
                    else{
                        e.cellStyle = "color:red;font-weight:bold;text-align:right; ";
                    }
                    e.cellHtml =result.sumData[e.field] + "%";
                }
            }
            else {
                e.cellStyle = "text-align:right; color:Brown";
            }
        }
    }

    function onGridLoad(e) {
        var dataInfo = mini.decode(e.text);
        $('#container').highcharts(dataInfo.chart);
    }

    function onDrawCell(e) {
        var field = e.field;
        var record = e.record;
        if (field == "ContractComplateRate" || field == "RecepitComplateRate") {
            if (e.value < baseScale) {
                e.cellStyle = "color:green;font-weight:bold;";
            }
            else {
                e.cellStyle = "color:red;font-weight:bold;";
            }
            e.cellHtml = e.value + "%";
        }
    }
</script>