@charset "utf-8";
/* tab样式 */
body { margin:0px;}
.tabs1402-headers { background:#F0F0F0;  margin-top:1px; padding-top:1px;border-top:1px solid #8c8c8c;}
.tabs1402-header { background:#F0F0F0; width:100%; height:26px; }
.tabs1402-space {font-size:14px; font-family:微软雅黑,Arial, Helvetica, sans-serif; border-bottom:1px solid #a9acb5; white-space:nowrap}
.tabs1402-space-img{ margin:0px 5px; content:pointer; border:1px solid #F0F0F0; padding:2px; background-color:#F0F0F0;}
.tabs1402-space-imgon{ margin:0px 5px; content:pointer; border:1px solid #999; padding:2px; background-color:#FFF;}
.tab1402-active-2 {background:#FFF;height:26px; width:50px;padding:0px 10px; border-right:1px solid #a9acb5;border-left:1px solid #a9acb5;border-top:1px solid #a9acb5; font-size:14px; font-family:微软雅黑,Arial, Helvetica, sans-serif; text-align:center; content:pointer;white-space:nowrap}
.tab1402-active-4 {background:#FFF;height:26px; width:95px;padding:0px 10px; border-right:1px solid #a9acb5;border-left:1px solid #a9acb5;border-top:1px solid #a9acb5; font-size:14px; font-family:微软雅黑,Arial, Helvetica, sans-serif; text-align:center; content:pointer;white-space:nowrap}
.tab1402-active-green {background:#FFF;height:26px; color: #03F; padding:0px 10px; border-right:1px solid #5680b6;border-left:1px solid #5680b6;border-top:1px solid #5680b6; font-size:14px; font-family:微软雅黑,Arial, Helvetica, sans-serif; text-align:center; content:pointer;white-space:nowrap}
.tab1402-green { color: #03F;}
.tab1402-green a { color: #03F;}
.tab1402-img { margin:0 3px}
.tab1402-2 {height:26px; width:50px; padding:0px 10px;font-size:14px; font-family:微软雅黑,Arial, Helvetica, sans-serif;border-bottom:1px solid #a9acb5; text-align:center;  cursor:pointer; white-space:nowrap}
.tab1402-4 {height:26px; width:95px; padding:0px 10px;font-size:14px; font-family:微软雅黑,Arial, Helvetica, sans-serif;border-bottom:1px solid #a9acb5; text-align:center;  cursor:pointer; white-space:nowrap}
.tab1402-bt {height:26px; width:40px;border-bottom:1px solid #a9acb5;text-align:center;   cursor:pointer;}
.tab1402-menu {right:10px; top:28px; position: absolute; width: 110px; border:1px solid #a9acb5; border-left:8px solid #cbcbcb; border-top:1px solid #cbcbcb; z-index:9999; }
.tab1402-menu ul {line-height: 27px;  list-style-type: none;text-align:width: 120px; margin:0;padding:0;}
.tab1402-menu ul li{float: left; width: 110px;background:#ffffff; border-bottom:1px solid #d8d9e0}
.tab1402-menu ul a{ color:#000;display: block; width: 105px;text-align:left;padding-left:5px; overflow:hidden; font-size:14px;font-family:微软雅黑,Arial, Helvetica, sans-serif; cursor:pointer;}
.tab1402-menu ul a:link  {text-decoration:none;}
.tab1402-menu ul a:visited  {text-decoration:none;}
.tab1402-menu ul a:hover  {color:#FFFFFF;text-decoration:none;font-weight:normal;background:#5680b6;}

