<div class="mini-toolbar gw-grid-toolbar">
    <table>
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-add" onclick="add({ height: '85%',width:920,title:'添加公共信息',onDestroy:closeWindows});"
                    plain="true">增加</a> <a class="mini-button" iconcls="icon-edit" onclick="edit({ title:'修改公共信息', height: '85%',width:920,onDestroy:closeWindows});"
                        plain="true">编辑</a> <a class="mini-button" iconcls="icon-remove" onclick="del()"
                            plain="true">删除</a>
            </td>
            <td class="gw-toolbar-right">
                <input class="mini-buttonedit searchbox" id="key" emptytext="请输入标题" style="width: 200px;"
                    onenter="quickSearch('Title');" onbuttonclick="quickSearch('Title');" />
                <a class="mini-button" onclick="showWindow('queryWindow')" iconcls="icon-find" plain="true">
                    详细查询</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" idfield="ID" url="GetList" style="width: 100%;
        height: 100%;" allowmovecolumn="false" multiselect="true">
        <div property="columns">
            <div type="checkcolumn" width="20">
            </div>
            <div field="CatalogId" visible="@ViewBag.CatalogVisible" renderer="onEnumRender" headeralign="center" align="left" width="80" allowsort="true" >
                所属栏目</div>
            <div field="Title" width="200" headeralign="center" renderer="onLinkRender" allowsort="true"
                align="left">
                标题</div>
            <div field="ReceiveDeptName" headeralign="center" align="left" width="120" allowsort="true">
                接收部门</div>
            <div field="ReceiveUserName" headeralign="center" align="left" width="120" allowsort="true">
                接收人</div>
            <div field="ExpiresTime" width="60" dateformat="yyyy-MM-dd" headeralign="center"
                allowsort="true" align="center">
                过期时间</div>
            <div field="Important" width="40" renderer="onEnumRender" headeralign="center" allowsort="true"
                align="center">
                是否重要</div>
            <div field="Urgency" width="40" renderer="onEnumRender" headeralign="center" allowsort="true"
                align="center">
                是否紧急</div>
            <div field="ReadCount" width="40" headeralign="center" allowsort="true" align="right">
                阅读数</div>
        </div>
    </div>
</div>
<div id="queryWindow" class="mini-window" title="详细查询" style="width: 690px; height: 170px;"
    showmodal="true" allowresize="false" allowdrag="true">
    <div class="queryDiv">
        <form id="queryForm" method="post">
        <table>
            <tr>
                <td width="10%" align="center">
                    标题
                </td>
                <td width="23%" align="left">
                    <input name="$LK$Title" style="width: 75%;" class="mini-textbox" />
                </td>
                <td width="10%" align="center">
                    接收部门
                </td>
                <td width="23%" align="left">
                    <input name="$LK$ReceiveDeptName" style="width: 75%;" class="mini-textbox" />
                </td>
                <td width="10%" align="center">
                    接收人
                </td>
                <td width="23%" align="left">
                    <input name="$LK$ReceiveUserName" style="width: 75%;" class="mini-textbox" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    是否重要
                </td>
                <td align="left">
                    <input class="mini-combobox" name="$LK$Important" style="width: 75%;" valuefield="value"
                        textfield="text" data="TrueOrFalse" shownullitem="true" />
                </td>
                <td align="center">
                    是否紧急
                </td>
                <td align="left">
                    <input class="mini-combobox" name="$LK$Urgency" style="width: 75%;" valuefield="value"
                        textfield="text" data="TrueOrFalse" shownullitem="true" />
                </td>
                <td align="center">
                </td>
                <td align="left">
                </td>
            </tr>
        </table>
        </form>
        <div>
            <a class="mini-button" onclick="search()" iconcls="icon-find"  style="margin-right: 20px;">
                查询</a> <a class="mini-button" onclick="clearQueryForm('queryForm')" 
                    iconcls="icon-undo">清空</a>
        </div>
    </div>
</div>
<script type="text/javascript">
@Html.GetEnum("System.TrueOrFalse")
var CatalogEnum = @Html.Raw(ViewBag.CatalogEnum);
    addMultiUserSelector("ReceiveUserId");
</script>
<script type="text/javascript">
    //为Grid枚举列指定枚举定义
    addGridEnum("dataGrid", "Important", "TrueOrFalse");
    addGridEnum("dataGrid", "Urgency", "TrueOrFalse");

    addGridEnum("dataGrid", "CatalogId", "CatalogEnum");
    //注册Grid链接列
    addGridLink('dataGrid', 'Title', 'Edit?ID={ID}', { funcType: 'view', width: 920,
        height: '85%'
    });
    function closeWindows() {
        mini.get("dataGrid").load();
    }
</script>
