<div class="mini-toolbar gw-grid-toolbar">
    <table>
        <tr>
            <td></td>
            <td class="gw-toolbar-right">
                <input id="key" class="mini-buttonedit gw-searchbox" emptytext="请输入登录用户姓名" onenter="quickSearch('UserName');" onbuttonclick="quickSearch('UserName');" />
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" url="GetList" multiselect="true">
        <div property="columns">
            <div field="UserName">登录用户</div>
            <div field="LoginTime" dateFormat="yyyy-MM-dd HH:mm" width="120">登录时间</div>
            <div field="IPAddress">登录IP</div>
            <div field="ComeForm">登录设备类型</div>
            <div width="*"></div>
        </div>
    </div>
</div>
