@{
    ViewBag.Title = "Edit";
}


<div id="formlayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div region="north" height="32" showspliticon="false" showheader="false" allowresize="false" splitsize="0"
         style="border: 0;">
        <div class="mini-toolbar" style="padding: 0px; border-left: 0; border-top: 0; border-right: 0;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;">
                        <a class="mini-button" iconcls="icon-save" onclick="save();" plain="true">保存</a>
                        <a class="mini-button" iconcls="icon-cancel" onclick="closeWindow()" plain="true">取消</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div title="center" region="center" style="border: 0;">
        <div id="dataForm">
            <input name="ID" class="mini-hidden" />
            <div style="padding-left: 20px; padding-top: 10px;">
                <table width="100%" border="0" cellpadding="0" cellspacing="2">
                    <tr>
                        <td width="15%">名称</td>
                        <td width="35%;" style="padding-right: 40px;">
                            <input name="Name" class="mini-textbox" style="width: 100%;" required="true" />
                        </td>
                        <td width="15%">编号</td>
                        <td width="35%;" style="padding-right: 40px;">
                            <input name="Code" class="mini-textbox" required="true" style="width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td>描述</td>
                        <td colspan="3" style="padding-right: 40px;">
                            <input name="Description" class="mini-textarea" style="width: 100%; height: 100px;"
                                   vtype="maxLength:100" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>

