<div class="mini-toolbar" id="btnDiv" style="width: 100%; position: fixed; top: 0; left: 0; z-index: 100;">
    <table>
        <tr>
            <td>
                <a class="mini-button" plain="true" iconcls="icon-save" onclick="returnForm();">确定</a>
            </td>
            <td id="btnRight">
            </td>
        </tr>
    </table>
</div>
<form id="dataForm" method="post" autogetdata="false"  style="top: 30px; position: relative;">
<div class="formDiv">
    <fieldset>
        <legend>基本属性</legend>
        <div>
            <table>
                <tr class="hideRow">
                    <td width="50%">
                    </td>
                    <td width="50%">
                    </td>
                </tr>
                <tr>
                    <td>
                        签字模板：
                    </td>
                    <td>
                        <input name="tmplName" class="mini-combobox" value="auditSignTmpl" data="TmplEnum" style="width: 100%" />
                    </td>
                </tr>
                <tr>
                    <td>
                        签字标题：
                    </td>
                    <td>
                        <input name="signTitle" class="mini-textbox" value="签字" style="width: 100%" />
                    </td>
                </tr>
                <tr>
                    <td>
                        控件宽度：
                    </td>
                    <td>
                        <input name="style_width" class="mini-textbox" value="100%" style="width: 100%" />
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>
</form>
<script type="text/javascript">
    var yesNo = [{ "value": "true", "text": "是" }, { "value": "false", "text": "否"}];
    var TmplEnum = [{ value: "auditSignTmpl", text: "会签模板（无标题）" }, { value: "auditMultiSignTmpl", text: "会签模板（带标题）" }, { value: "auditSignSingleTmpl", text: "单签模板（竖）" }, { value: "auditSignSingleHorizontalTmpl", text: "单签模板（横）" }, { value: "auditSignOnlyUserTmpl", text: "仅签字"}];
    function setData(data) {
        if (data) {
            var form = new mini.Form("dataForm");
            form.setData(mini.decode(data));
            form.setChanged(false);
        }
    }
</script>
