<div class="mini-toolbar" id="btnDiv" style="width: 100%; position: fixed; top: 0; left: 0; z-index: 100;">
    <table>
        <tr>
            <td>
                <a class="mini-button" plain="true" iconcls="icon-save" onclick="returnForm();">确定</a>
            </td>
            <td id="btnRight"></td>
        </tr>
    </table>
</div>
<form id="dataForm" method="post" autogetdata="false" style="top: 30px; position: relative;">
    <div class="formDiv">
        <fieldset>
            <legend>基本属性</legend>
            <div>
                <table>
                    <tr class="hideRow">
                        <td width="50%"></td>
                        <td width="50%"></td>
                    </tr>
                    <tr>
                        <td>
                            必须填写：
                        </td>
                        <td>
                            <input name="required" class="mini-combobox" value="false" data="yesNo" style="width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            是否只读：
                        </td>
                        <td>
                            <input name="readonly" class="mini-combobox" value="false" data="yesNo" style="width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            控件宽度：
                        </td>
                        <td>
                            <input name="style_width" class="mini-textbox" value="100%" style="width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            文件分类：
                        </td>
                        <td>
                            <input name="src" class="mini-textbox" value="Temp" style="width: 100%" />
                        </td>
                    </tr>
                    @*<tr>
                            <td>
                                限制类型(flash)：
                            </td>
                            <td>
                                <input name="limitType" class="mini-textbox"  style="width: 100%" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                限制类型(sliverlight)：
                            </td>
                            <td>
                                <input name="filter" class="mini-textbox"  style="width: 100%" />
                            </td>
                        </tr>*@
                    <tr>
                        <td>限制类型(Mime Type)</td>
                        <td>
                            <input name="fileType" class="mini-textbox" style="width: 100%" />
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
        <fieldset>
            <legend>事件属性</legend>
            <div>
                <table>
                    <tr class="hideRow">
                        <td width="50%"></td>
                        <td width="50%"></td>
                    </tr>
                    <tr>
                        <td>
                            值改变时发生：
                        </td>
                        <td>
                            <input name="onchange" class="mini-textbox" style="width: 100%" />
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
</form>
<script type="text/javascript">
    var yesNo = [{ "value": "true", "text": "是" }, { "value": "false", "text": "否" }];
    function setData(data) {
        if (data) {
            var form = new mini.Form("dataForm");
            form.setData(mini.decode(data));
            form.setChanged(false);
        }
    }
</script>
