@{
    ViewBag.Title = "功能注册选择列表";
}
<div class="mini-toolbar gw-grid-toolbar">
    <table>
        <tr>
            <td>
                <a class="mini-button" iconcls="icon-ok" onclick="returnValue()">选择</a>
                <a class="mini-button" iconcls="icon-add" onclick="add({height:400});">增加</a>
            </td>
            <td class="gw-toolbar-right">
                <input id="key" class="mini-buttonedit gw-searchbox" emptytext="请输入编号或名称" onenter="quickSearch('Code,Name');"
                    onbuttonclick="quickSearch('Code,Name');" />
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit" style="height: 100px;">
    <div id="dataGrid" url="GetList" class="mini-datagrid" style="width: 100%; height: 100%;" allowresize="false"
        idfield="id" multiselect="true">
        <div property="columns">
            <div type="checkcolumn">
            </div>
            <div field="Name" width="150" headeralign="center" allowsort="true">
                功能名称</div>
            <div field="Code" width="100" headeralign="center" allowsort="true">
                编号</div>
            <div field="LinkUrl" width="350" headeralign="center" allowsort="true">
                链接地址</div>
            <div field="Description" width="*" headeralign="center" allowsort="true">
                描述</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function returnValue() {
        var dataGrid = mini.get("dataGrid");
        var result = dataGrid.getSelecteds();
        closeWindow(result);
    }
</script>
