@{
    ViewBag.Title = "TreeSelector";
}

<div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-add" onclick="returnValue();" plain="true">
                    选择
                </a>
            </td>
            <td style="white-space: nowrap;"></td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataTree" class="mini-treegrid" style="width:100%;height:100%;" url="" showtreeicon="true" showcheckbox="false"
         treecolumn="Name" idfield="ID" parentfield="ParentID" resultastree="false" iconfield="TaskType" multiselect="true" ondrawcell="drawIsInCheck"
         allowresize="true" fitcolumns="false" expandonload="true" borderstyle="border-left:0px;border-right:0px;border-bottom:0px;">
        <div property="columns">
            <div type="checkcolumn">
            </div>
            <div name="Name" field="Name" width="240" headeralign="center">名称</div>
            <div name="Code" field="Code" width="100" headeralign="center">编号</div>
            <div name="ProcurementMethod" field="ProcurementMethod" width="100" headeralign="center" align="center">采购形式</div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var engineeringInfoID = getQueryString("EngineeringInfoID");
    var ScheduleCode = getQueryString("ScheduleCode");
    $("#dataTree").attr("url", "GetWBSTree?EngineeringInfoID=" + engineeringInfoID + "&ScheduleCode=" + ScheduleCode);

    function returnValue() {
        var dataTree = mini.get("dataTree");
        var nodes = dataTree.getSelectedNodes();
 
        if (nodes.length == 0) {
            msgUI("您选择节点");
            return;
        }
        var res = $.grep(nodes, function (item, index) {
                return item.NodeType == 'Task'
        });

        closeWindow(res);
    }

    function drawIsInCheck(e) {
        //checkbox
        if (e.columnIndex == 0) {
            if (e.row.NodeType  != 'Task') {
                e.cellHtml = "";
            }
        }
    }
</script>