<div class="mini-toolbar" id="btnDiv" style="width:100%;position: fixed">
    <table>
        <tr>
            <td>
                <a class="mini-button" plain="true" iconcls="icon-cancel" onclick="closeWindow()">取消</a>
            </td>
            <td id="btnRight"></td>
        </tr>
    </table>
</div>
<form id="dataForm" method="post" style="top:30px;position:relative">
    <input name="ID" class="mini-hidden" />
    <div class="formDiv">
        <fieldset>
            <legend>修改前数据</legend>
            <div>
                <table>
                    <tr class="hideRow">
                        <td width="15%"></td>
                        <td width="35%"></td>
                        <td width="15%"></td>
                        <td width="35%"></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input name="OriginalValue" class="mini-textarea" style="width: 100%; height: 370px;" />
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
        <fieldset>
            <legend>修改后数据</legend>
            <div>
                <table>
                    <tr class="hideRow">
                        <td width="15%"></td>
                        <td width="35%"></td>
                        <td width="15%"></td>
                        <td width="35%"></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input name="CurrentValue" class="mini-textarea" style="width: 100%; height: 370px;" />
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
</form>
