h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

body {
    background-color: transparent;
    font-size: 13px;
}

ul {
    padding: 0px;
}

button {
    outline: none !important;
    border: none !important;
}

li {
    list-style: none;
}

a {
    color: #2c2c2c;
}

#Index-container {
    z-index: 999;
    padding-right: 200px !important;
    background-color: rgba(0,0,0,0.7);
    bottom: 0%;
    right: 100%;
}

.Index-container-slider {
    width: 316px !important;
    top: 1px !important;
    left: 0% !important;
}

#Index-container, #tab-content-container {
    height: 100%;
    max-height: 100%;
    position: absolute;
    width: 100%;
}

#tab-content-container {
    top: 0%;
    z-index: 1;
    padding: 0px;
}

#search {
    display: table-cell;
    vertical-align: middle;
    margin-top: 4px;
    margin-bottom: 0px !important;
}

    #search .form-control, #search .form-control:focus {
        border-radius: 20px;
        width: 5px;
        outline: none !important;
        border-color: #e1e2e6;
    }

.navs .has-feedback .form-control {
    padding-right: 21.5px;
}

#indexOne {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    height: 100%;
}

.navs .btns, .tab-content-upload .btns {
    padding: 6px 30px !important;
    margin-right: 12px;
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #f8f8f8;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px #d4d4d4;
}

.tab-content-upload .btns {
    box-shadow: 0px 0px 0px black;
}

.nav-sj {
    position: relative;
    display: inline-block;
}

.nav-all {
    margin-right: 15px;
    border-right: 1px solid #e0e1e5;
    padding-right: 15px;
}

.nav-sj img {
    display: none;
}

.nav-actives img {
    display: inline-block;
}

.nav-near img {
    position: absolute;
    top: 100%;
    right: 48%;
}

.nav-all img {
    position: absolute;
    top: 100%;
    right: 55%;
}

#todoList {
    padding: 0px;
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    position: relative;
}

.todoList-slider {
    background-color: #eef3f6 !important;
    border-radius: 0px 0px 7px 7px;
}

.mini-grid-column-splitter {
    display: none;
}

.mini-grid-headerCell {
    border: none;
    border-right: 0px !important;
    border-bottom: 1px solid #e1e2e7;
    padding: 6px 0px;
    background: none !important;
    background-image: none !important;
}

.mini-grid-table {
    border-collapse: collapse !important;
}

.mini-grid-topRightCell {
    background-color: none;
}

#treegrid .mini-panel-border tr, #treegrid .mini-panel-border div, #treegrid .mini-panel-border td, #treegrid .mini-panel-border th {
    background: none !important;
    font-size: 12px;
}

    #treegrid .mini-panel-border div:not(.mini-tree-nodetitle):not(.enter-arrow) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.mini-grid-border {
    border: none;
    border-top: 1px solid #e1e2e4;
}

.mini-grid-topRightCell {
    border-bottom: 1px solid #e1e2e4;
}

.pager li > a, .pager li > span {
    border-radius: 6px;
    color: black;
    border: 1px solid #9999b1;
    cursor: pointer;
    padding: 2px 10px;
}

.pager li a:hover, .pager li .actives {
    background-color: #7AAFBC;
    color: #ffffff;
    border: 1px solid #7AAFBC;
}
/*删除的*/
.mini-grid-rows-view {
    height: calc(100% - 10px);
    display: inline;
}

.mini-tree-folder {
    display: none !important;
}

.mini-tree-collapse .mini-tree-node-ecicon, .mini-tree-expand .mini-tree-node-ecicon, .mini-tree-leaf {
    padding-right: 3px;
    background-position-y: 2px;
}

.mini-tree-collapse .mini-tree-node-ecicon {
    background-image: url(/EPC/Scripts/Manage/Space/images/tree-open.png);
}

.mini-tree-expand .mini-tree-node-ecicon {
    background-image: url(/EPC/Scripts/Manage/Space/images/tree-chose.png);
}

.mini-tree-leaf {
    background-image: url(/EPC/Scripts/Manage/Space/images/tree-leaf.png);
}

.mini-grid-row:hover {
    cursor: pointer !important;
}

.mini-grid-row td:first-child + td {
    padding-left: 13px !important;
}

.mini-grid-row > td {
    padding: 10px 0px !important;
    font-size: 14px;
}

.mini-tree-nodetext {
    font-size: 14px;
    font-weight: bold;
}

.mini-grid-cell {
    border-right: 0px solid #e1e2e7 !important;
    border-bottom: 1px solid #e1e2e7;
}

.enter-arrow {
    height: 18px;
    cursor: pointer;
}

body #treegrid .mini-grid-row:hover .enter-arrow {
    display: inline-block;
}

.direct-page, .show-page {
    border-radius: 3px;
    outline: none;
    border: none;
}

.direct-page {
    width: 40px;
    border: 1px solid #666;
    text-align: center;
}

.show-page {
    padding: 4px 0px;
}

.mini-tabs-space div {
    width: 30px;
}

.mini-tab {
    border-radius: 5px 5px 0px 0px;
    background-color: #f3f3f3;
    background-image: none;
    padding: 8px 10px;
}

.mini-tabs-header td {
    border-bottom: 1px solid #ffffff;
}

.mini-tab-active {
    background-color: #ffffff;
}

    .mini-tab-active span {
        font-weight: bold;
    }

.mini-tab-close {
    margin-top: 4px;
}

.main-nav {
    box-shadow: 0px 1px 3px #e4e4e4;
    margin: 0px -5px 0px -5px;
    position: relative;
}

    .main-nav ul .main-nav-li {
        float: left;
    }

    .main-nav ul .main-nav-li {
        padding: 14px 22px;
    }

        .main-nav ul .main-nav-li:hover {
            background-color: #eef3f6;
            cursor: pointer;
        }

.main-nav-li-content {
    display: none;
}

.main-nav ul .main-nav-li:hover .main-nav-li-content {
    display: inline-block;
}

.main-nav ul .main-nav-li:hover .mini-tabs-item {
    font-weight: bold;
}

.mini-tabs-body {
    overflow: visible;
}

.mini-tabs-bodys {
    width: 100% !important;
    border: none;
    border-radius: 5px;
}

.mini-tabs-firstSpace {
    background-image: url(/Project/Scripts/EngineeringSpace/images/control.png);
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center 3px;
}

    .mini-tabs-firstSpace:hover {
        cursor: pointer;
    }

.main-nav-li-content {
    position: absolute;
    left: 5px;
    top: calc(100% + 1px);
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #fdfdfd;
    box-shadow: 1px 1px 3px #e3e3e3;
}

    .main-nav-li-content h6 {
        font-weight: bold;
        margin: 0px;
    }

    .main-nav-li-content ul {
        width: 245px;
    }

        .main-nav-li-content ul li {
            width: 33.33%;
            text-align: left;
            float: left;
            margin-top: 15px;
        }

    .main-nav-li-content div div {
        border-right: 1px solid #d6d6d6;
        margin-right: -1px;
        margin-bottom: 20px;
    }

.main-nav-ul-container div {
    float: left;
    padding-left: 40px;
}

.nav-sm {
    padding: 10px 10px;
    background-color: #eef3f6;
    border-radius: 4px;
}

.nav-slider {
    background-color: #2e3d54;
    padding: 8px 10px 13px 10px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 1px 1px #ddd3d1;
    position: relative;
    z-index: 3;
}

    .nav-slider a {
        color: #259eed;
    }

    .nav-slider h6 {
        margin: 0px;
        color: #c6ddff;
        font-size: 14px;
    }

#slider-container .nav-slider .active-pro {
    color: #ffffff;
    padding: 15px 10px;
    background-color: #00afc0;
    margin: 0px 13px;
    border-radius: 50%;
}

.nav-slider img {
    margin-right: 10px;
    margin-top: -4px;
}

#Index-container .mini-panel-slider {
    height: calc(100% + 59px) !important;
}

#treegrid .mini-grid-row-slider:hover {
    background-color: #1e9af0 !important;
}

    #treegrid .mini-grid-row-slider:hover td:first-child {
        color: #ffffff;
    }

#slider-container {
    position: fixed;
    top: 92px;
    width: 250px;
    z-index: 99;
    height: 100%;
    border-radius: 7px;
    padding: 0px 0px;
    left: 0px;
}

    #slider-container span {
        color: #bcccf0;
    }
/*#slider-container .glyphicon-remove{*/
/*color:#*/
/*}*/

body .mini-tree-showArrows .mini-tree-collapse .mini-tree-node-ecicon, .mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon-first, .mini-tree-treeLine .mini-tree-collapse .mini-tree-node-ecicon {
    background-image: url("/Project/Scripts/EngineeringSpace/images/yuandian.png") !important;
    background-repeat: no-repeat;
}

body .mini-tree-showArrows .mini-tree-expand .mini-tree-node-ecicon, .mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon-first, .mini-tree-treeLine .mini-tree-expand .mini-tree-node-ecicon {
    background-image: url("/Project/Scripts/EngineeringSpace/images/yuandian.png") !important;
    background-repeat: no-repeat !important;
}

body .mini-tree-showArrows .mini-tree-expand .mini-tree-node-ecicon {
    background: none;
}

#tree {
    background-color: #2e3d54;
    padding: 2px 0px;
    color: #c8d8f9;
    height: calc(100% - 176px);
    height: -moz-calc(100% - 176px);
    height: -webkit-calc(100% - 176px);
}

#treegrid .mini-tree-leaf {
    background-image: url("/EPC/Scripts/Manage/Space/images/tree-leaf.png");
}

#tree .mini-tree-nowrap .mini-tree-nodetext {
    color: #c0d0f2;
}

#tree .mini-grid-row:hover {
    color: #fff;
}

#tree .mini-tree-node-hover .mini-tree-nodeshow, .mini-tree-selectedNode .mini-tree-nodeshow {
    background: none !important;
    border: none !important;
}

#tree .mini-grid-cell {
    padding: 10px !important;
}

.nav-url {
    color: #959595;
}

    .nav-url .nav-chose {
        display: table-cell;
        vertical-align: middle;
        margin-top: 4px;
        margin-bottom: 0px !important;
        margin-left: 4px;
    }

        .nav-url .nav-chose span {
            line-height: 30px;
            font-size: 13px;
        }

        .nav-url .nav-chose .drop-nav span {
            line-height: 35px;
        }

    .nav-url span {
        color: black;
    }

    .nav-url .home, .nav-url .drop-nav {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 10px;
    }

    .nav-url .drop-nav {
        background-color: rgb(45, 137, 214);
        color: #fff;
    }

        .nav-url .drop-nav span {
            color: #fff;
        }

    .nav-url .home img {
        margin-top: 8px;
    }

#navss .nav {
    display: inline-block;
}

#navss .nav-pills > li {
    margin-right: 10px;
}

.nav > li > a:hover {
    background-color: #94a2af;
    color: #fff;
}

#navss .nav-pills > li > a {
    border-radius: 0px;
}

    #navss .nav-pills > li > a:hover {
        background-color: #94a2af;
        color: #fff;
    }

.tab-title-right p, .tab-title-left h4 {
    margin-bottom: 5px;
    text-align: right;
}
/*.tab-title-right p{*/
/*margin-left:12px;*/
/*display:inline-block;*/
/*}*/
.tab-title-left h4 {
    color: #304b5e;
    text-align: left;
}

.tab-content-contents-left-publish ul {
    flex: 1;
    margin-bottom: 0px !important;
    border-left: 1px solid #dfe2e9;
    padding-top: 14px;
    height: 340px;
}

    .tab-content-contents-left-publish ul li {
        padding: 11px 20px 11px 27px;
        position: relative;
    }

        .tab-content-contents-left-publish ul li span {
            color: #999999;
        }

        .tab-content-contents-left-publish ul li a {
            color: #2b87d4;
        }

        .tab-content-contents-left-publish ul li p {
            margin-bottom: 4px;
        }

.forum-top div {
    flex: 1;
    text-align: center;
}

    .forum-top div:first-child {
        border-right: 1px solid #dfe2e7;
        height: 108px;
    }

.tab-content-contents-right ul li {
    overflow: hidden;
    border-bottom: 1px solid #f8f8f8;
}

    .tab-content-contents-right ul li:hover {
        cursor: pointer;
    }

    .tab-content-contents-right ul li .num, .tab-content-contents-right-top {
        width: 10%;
        display: inline-block;
        font-size: 10px;
        padding: 5px 0px;
        text-align: center;
        background-color: #f8f8f8;
        border-right: 1px solid #e1e2e4;
        float: left;
    }

    .tab-content-contents-right ul li div {
        padding: 5px 13px;
        background-color: #fff;
        width: 90%;
        float: left;
    }

        .tab-content-contents-right ul li div span:last-child {
            float: right;
        }

.contact-title span {
    color: #415462;
    font-size: 14px;
    font-weight: bold;
    ;
}

.tab-content-state .green {
    background-color: #82bf00;
}

.tab-content-state .blue {
    background-color: #2b88d8;
}

.tab-content-state .deep-green {
    background-color: #02afbf;
}

.tab-content-state .red {
    background-color: #e062c6;
}

.tab-content-state .tips {
    height: 4px;
    border-radius: 4px 0px 0px 0px;
    width: 226px;
}

.tab-content-state .state-content {
    padding: 15px 20px;
    background-color: #ffffff;
    border-radius: 0px 0px 7px 7px;
    width: 226px;
    position: relative;
    height: 140px;
}

    .tab-content-state .state-content em {
        color: #969696;
    }

    .tab-content-state .state-content p {
        margin-bottom: 23px;
    }

.tab-content-state .state-content {
    overflow: hidden;
}

    .tab-content-state .state-content .shade {
        position: absolute;
        width: 226px;
        height: 140px;
        background: rgba(0,0,0,0.7);
        padding: 20px 18px;
        top: 100%;
        left: 0px;
        box-sizing: border-box;
    }

        .tab-content-state .state-content .shade p {
            margin-bottom: 0px;
        }

            .tab-content-state .state-content .shade p span:first-child {
                color: #fff;
            }

            .tab-content-state .state-content .shade p span:last-child {
                color: #9cbbda;
            }

    .tab-content-state .state-content div span:first-child {
        line-height: 30px;
    }

    .tab-content-state .state-content div span:last-child {
        padding: 5px 8px;
        float: right;
        color: #bbd4fc;
        border-radius: 15px;
    }

.tab-content-upload .outputs, .tab-content-upload .engineer {
    flex: 1;
    padding: 19px;
    background-color: #fff;
    border-radius: 7px;
}

.tab-content-upload ul {
    height: 348px;
    overflow: auto;
}

.tab-content-upload .tab-title {
    padding: 11px 15px;
    border-bottom: 1px solid #f6f7f9;
    font-weight: bold;
}

.tab-content-upload .outputs {
    margin-left: 12px;
}

.tab-content-upload ul li {
    padding: 7px 14px;
    border-bottom: 1px solid #f4f5f9;
    overflow: hidden;
}

    .tab-content-upload ul li img {
        margin-top: 5px;
        height: 30px;
        margin-right: 15px;
    }

    .tab-content-upload ul li img, .tab-content-upload ul li div {
        float: left;
    }

        .tab-content-upload ul li div p {
            margin-bottom: 5px;
        }

        .tab-content-upload ul li div span {
            color: #cccccc;
            display: inline-block;
            margin-right: 9px;
        }

.control-search span {
    position: absolute;
    right: 18px;
    top: 10px;
}

.chose-profess ul li {
    float: left;
    margin-right: 7px;
    margin-bottom: 6px;
}

    .chose-profess ul li .active {
        border: 3px solid #1d95f4;
        background-color: #fff;
        color: black;
    }

    .chose-profess ul li div {
        padding: 0px 6px;
        background-color: #82bf00;
        color: #fff;
        border-radius: 50%;
        border: 3px solid transparent;
    }

.forum-bottom div {
    height: 25px;
}

    .forum-bottom div a {
        padding: 7px 4px;
        ;
        margin-left: 9px;
    }

        .forum-bottom div a:hover, .forum-bottom div .active {
            border-bottom: 2px solid #2b88d6;
        }

.forum-bottom textarea {
    width: 100%;
    padding: 9px;
    border-radius: 7px;
    border: 1px solid #e1e2e4;
    height: 165px;
    resize: none;
    outline: none;
}

.forum-bottom button {
    margin-top: 5px;
    float: right;
}

.forum-top div:hover {
    color: #2d89d6;
    cursor: pointer;
}

.forum-top div h3 {
    margin-top: 10px;
}

.tab-content-contents-right ul {
    margin-bottom: 0px !important;
    color: #979797;
}

.control-img {
    position: fixed;
    top: 97px;
    left: 4px;
    display: none;
    z-index: 999;
    top: 9px;
}

.state-panel {
    padding: 5px 6px;
    background-color: #fff;
    border-radius: 15px;
    margin-left: 8px;
    line-height: 24px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.tab-content-state .addstate .state-content span {
    line-height: 110px;
    color: #999997;
}

.close-iframe {
    position: absolute;
    top: 9px;
    right: 5px;
    display: none;
}

    .close-iframe :hover {
        cursor: pointer !important;
    }

#iframe-container {
    height: calc(100% + 42px);
    margin-top: -42px;
}

.iframe-item {
    height: 100%;
    position: relative;
    width: 100%;
    background-color: transparent;
}

    .iframe-item div {
        position: absolute;
    }
    /*修改*/
    .iframe-item .item-slider {
        z-index: 88;
        width: 250px;
        margin-top: 87px;
        height: 100%;
    }

    .iframe-item .item-content {
        width: 100%;
        padding-left: 250px;
        height: calc(100% - 82px);
        margin-top: 82px;
    }

iframe {
    width: 100%;
    height: 100%;
}

.mini-grid-cell-inner {
    color: black;
}

.mini-grid-columns-view tbody > tr:first-child + tr td:first-child + td {
    padding-left: 43px !important;
}

.mini-tree-leaf:before {
    content: "";
}
/*新加的 */
.navs .btns:hover {
    background-color: #1e9af2;
    border: none;
    color: #fff;
}

.chose-page {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    margin-left: 15px;
}

.page-set {
    display: inline-block;
    margin: 20px 0px;
    position: absolute;
    bottom: 0px;
    right: 15px;
}

#Index-container .mini-panel {
    overflow: auto;
}

.navs .nav-near {
    margin-lefT: 15px;
}

#treegrid1 tr:hover {
    cursor: pointer !important;
}

#navss .nav-pills li:hover .close-iframe {
    display: inline-block;
}
/*add///////////////////////////////////////////////////////////////////////////////*/
.chose-room {
    display: inline-block;
    padding: 7px 14px;
    color: #fff;
    background-color: #3188d7;
    margin-top: 3px;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

    .chose-room span {
        font-size: 13px;
    }

    .chose-room:hover {
        cursor: pointer;
    }

        .chose-room:hover span {
            text-decoration: underline;
        }

.navs {
    background-color: #ffffff;
    height: 41px;
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 0px 11px 0px 0px;
}

#Index-container .up-sj {
    position: absolute;
    top: 6px;
    right: 190px;
    height: 28px;
    width: 28px;
    background-color: #3188d7;
    border-radius: 4px;
    cursor: pointer;
}

    #Index-container .up-sj:hover {
        background-color: #ad2f28;
    }

.url-active {
    display: inline-block;
    margin-left: 15px;
    padding-left: 15px;
    margin-top: 9px;
    border-left: 1px solid #e0e4e7;
    width: calc(100% - 180px);
}

    .url-active > span {
        float: left;
    }

    .url-active span {
        color: #3188d7;
        font-size: 13px;
        padding: 0 6px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .url-active .t1 {
        font-size: 15px;
        font-weight: 600;
    }

    .url-active .now {
        color: #3188d7;
        font-size: 13px;
        display: inline-block;
        border: 1px solid transparent;
    }

    .url-active .menu {
        color: #3188d7;
        font-size: 13px;
        border: 1px solid rgba(54, 106, 160, 0.8);
        overflow: auto;
        position: absolute;
        top: 31px;
        background-color: #fff;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
        z-index: 99;
    }

        .url-active .menu ul {
            padding: 10px;
            margin: 0px;
            display: inline-block;
        }

        .url-active .menu li {
            height: 32px;
            line-height: 32px;
            cursor: pointer;
            color: #666;
            padding: 0px 10px 0px 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 200px;
            float: left;
        }

            .url-active .menu li:hover {
                color: #fff;
                background: #7aafbc url(/EPC/Scripts/Manage/Space/images/select-on.png) no-repeat left;
                transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
            }

        .url-active .menu .nowselect {
            background: url(/EPC/Scripts/Manage/Space/images/select-now.png) no-repeat left;
            color: #333;
        }

    .url-active .menus {
        color: #3188d7;
        font-size: 13px;
        border: 1px solid rgba(54, 106, 160, 0.8);
        overflow: auto;
        position: absolute;
        top: 31px;
        background-color: #fff;
        box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
        z-index: 99;
    }

        .url-active .menus ul {
            padding: 10px;
            margin: 0px;
            display: inline-block;
        }

        .url-active .menus li {
            height: 32px;
            line-height: 32px;
            cursor: pointer;
            color: #666;
            padding: 0px 10px 0px 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 300px;
            min-width: 120px;
        }

            .url-active .menus li:hover {
                color: #fff;
                background: #7aafbc url(/EPC/Scripts/Manage/Space/images/select-on.png) no-repeat left;
                transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
            }

        .url-active .menus .nowselect {
            background: url(/EPC/Scripts/Manage/Space/images/select-now.png) no-repeat left;
            color: #333;
        }

    .url-active .select {
        color: #fff;
        font-size: 13px;
        border: 1px solid #ccc;
        padding: 0 25px 0 10px;
        background: url(/EPC/Scripts/Manage/Space/images/select-down.png) right no-repeat;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }

    .url-active .select-on {
        border-top: 1px solid rgba(54, 106, 160, 0.8);
        border-bottom: 0px solid rgba(54, 106, 160, 0.8);
        border-left: 1px solid rgba(54, 106, 160, 0.8);
        border-right: 1px solid rgba(54, 106, 160, 0.8);
        background: rgba(255, 255, 255, 1) url(/EPC/Scripts/Manage/Space/images/select-up.png) right no-repeat;
        padding: 0 25px 0 10px;
        color: #000;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 100;
        position: relative;
        cursor: pointer;
    }

.drop-nav {
    padding: 7px 9px;
    border: 1px solid #dfe2e7;
    border-radius: 50%;
    margin-top: 5px;
    background-color: transparent;
    height: 29px;
    width: 29px;
}

    .drop-nav:hover {
        cursor: pointer;
    }

        .drop-nav:hover span {
            font-weight: bold;
        }

    .drop-nav span {
        color: #fff;
    }

#navss {
    background-color: #2e3d54;
    border-top: 1px solid #e1e2e4;
    position: fixed;
    width: 100%;
    z-index: 500;
    height: 40px;
    top: -4px;
}

    #navss .nav-pills {
        margin-left: 15px;
    }

        #navss .nav-pills > li > a {
            background-color: #415067;
            color: #bdc4ca;
            display: inline-block;
            max-width: 171px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #navss .nav-pills > .active a {
            background-color: #94a2af;
            color: #fff;
        }

.nav > li > a {
    padding: 8px 25px;
    margin-top: 2px;
}

.control-img {
    padding: 7px;
    background-color: #5487d2;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    top: 44px;
    z-index: 1;
}

    .control-img:hover {
        cursor: pointer;
    }

.todoListtop {
    background-color: #f7f7f7;
    width: 100%;
    height: 40px;
    overflow: hidden;
    outline: none;
    border-radius: 10px;
    padding-top: 4px;
}

    .todoListtop ul {
        padding-left: 60px;
        margin: 0px;
        float: left;
    }

        .todoListtop ul li {
            float: left;
            padding: 6px;
            margin-right: 29px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
        }

        .todoListtop ul .active {
            border-bottom: 2px solid #5487d1;
        }

.search-input {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 30px;
}

    .search-input input {
        border-radius: 20px;
        padding: 4px 12px;
        border: 1px solid #e1e1e6;
        outline: none;
        width: 350px;
        font-size: 13px;
    }

    .search-input span {
        position: absolute;
        right: 13px;
        top: 9px;
    }

.icon-search {
    background: none;
    cursor: pointer;
}

.close-iframe {
    color: #fff;
}

.mini-tree-parentNode .mini-tree-node-ecicon {
    display: inline-block;
}

.mini-tree-node-ecicon {
    display: none;
}

.mini-tree .mini-tree-icon {
    width: 13px;
}

tr {
    cursor: pointer !important;
}

.url-active .now :hover {
    text-decoration: underline !important;
}

.mini-grid-cell-nowrap {
    position: relative;
}

.mini-grid-cell, mini-grid-cell-inner, .mini-grid-cell-nowrap {
    overflow: inherit;
}

body #treegrid .mini-panel-border .enter-arrow {
    height: 20px;
    cursor: pointer;
    display: none;
    width: 43px;
    padding: 0px 10px;
    color: #fff;
    background: #000 !important;
    border-radius: 20px;
    font-size: 12px;
    position: absolute;
    right: 10px;
}

.mini-tree-nodeshow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.mini-grid-row .mini-tree-nodetext {
    width: calc(100% - 25px);
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mini-grid-row:hover .mini-tree-nodetext {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 114px);
}

.mini-tree-nodes-tr .mini-tree-nodetext {
    width: calc(100% - 61px);
}

.mini-tree-nodes-tr .mini-tree-nodes-tr .mini-tree-nodetext {
    width: calc(100% - 74px);
}

.mini-tree-nodes-tr .mini-grid-row::hover .mini-tree-nodetext {
    width: calc(100% - 135px);
}

.mini-tree-nodes-tr .mini-tree-nodes-tr .mini-grid-row:hover .mini-tree-nodetext {
    width: calc(100% - 145px);
}

body .mini-panel-border .enter-arrow span:first-child {
    display: inline-block;
    margin-right: 10px;
}
