<div style="width: 100%; height: 100%;">
    <div class="mini-toolbar" style="padding: 2px; border-top: 0; border-left: 0; border-right: 0;">
        <a class="mini-button" iconcls="icon-ok" plain="true" onclick="returnValue()">选择</a>
        <a class="mini-button" iconcls="icon-clear" plain="true" onclick="closeWindow([]);">取消</a>
    </div>
    <div class="mini-fit" style="overflow-x: hidden;padding:5px; ">
        <ul id="dataTree" class="mini-tree" style="width: 100%; overflow: hidden;" showtreeicon="true" url="GetTree" textfield="Name" idfield="ID" parentfield="ParentID" resultastree="false"
            expandonload="0" checkrecursive="false" checkedField="IsCheck" >
        </ul>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        var selectMode = getQueryString("SelectMode");
        var tree = mini.get("dataTree");
        if (selectMode == "Multi") {
            tree.set({ "showCheckBox": true });
        }
        else {
            tree.on("nodeselect", function () { returnValue(); });
            $(".mini-toolbar").hide();
        }
    });


    function returnValue() {
        
        var tree = mini.get("dataTree");
        var result;
        if (tree.showCheckBox) {
            result = tree.getCheckedNodes();
        }
        else
            result = [tree.getSelectedNode()];
        
        if (result.length > 0) {
            jQuery.ajax({
                url: changeToFullUrl('SetOrgRelation'),
                type: "post",
                data: { ID: getQueryString("ID"), RoleID: getQueryString("RoleID"), RelationData: mini.encode(result) },
                cache: false,
                async: false,
                success: function (data, textStatus) {
                    //增加新版报错分支
                    if (data && typeof (data) == "string" && data.indexOf("{\"errcode\"") == 0) {
                        var fail = jQuery.parseJSON(data);
                        var msg = getErrorFromHtml(fail.errmsg);
                        msgUI(msg, 4);
                        return;
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }
        closeWindow(result);
    }

    function setData() {
        var tree = mini.get("dataTree");
        for (var i = 0; i < data.length; i++) {
            var node = tree.getNode(data[i]["ID"]);
            tree.checkNode(node);
        }
    }


</script>
<style type="text/css">
    .GroupCompany
    {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/org.gif) no-repeat;
    }
    .Company
    {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/org.gif) no-repeat;
    }
    .Org
    {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/org.gif) no-repeat;
    }
    .Dept
    {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/dept.gif) no-repeat;
    }
    .ManufactureDept
    {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/cutover.png) no-repeat;
    }
    .SubDept
    {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/node.png) no-repeat;
    }
    .Post
    {
        background: url(/CommonWebResource/Theme/Default/MiniUI/icons/user.png) no-repeat;
    }
</style>
