<div class="mini-toolbar" id="btnDiv" style="width: 100%; position: fixed; top: 0;
    left: 0; z-index: 100;">
    <table>
        <tr>
            <td>
                <a class="mini-button" plain="true" iconcls="icon-save" onclick="returnForm();">确定</a>
            </td>
            <td id="btnRight">
            </td>
        </tr>
    </table>
</div>
<form id="dataForm" method="post" autogetdata="false" style="top: 30px; position: relative;">
<div class="formDiv">
    <fieldset>
        <legend>基本属性</legend>
        <div>
            <table style="width: 100%;">
                <tr class="hideRow">
                    <td width="30%">
                    </td>
                    <td width="50%">
                    </td>
                </tr>
                <tr>
                    <td>
                        过滤空格：
                    </td>
                    <td>
                        <input name="Filter" class="mini-combobox" value="around" data="ExcelFilter" style="width: 100%" />
                    </td>
                </tr>
                <tr>
                    <td>分隔符:</td>
                    <td>
                         <input class="mini-radiobuttonlist" name="IsMultiple" required="true" textfield="text" valuefield="value" value="false" data="IsMultiple" onvaluechanged="valueChangedIsMultiple"></input>
                    </td>
                </tr>
                <tr>
                    <td>
                        枚举：
                    </td>
                    <td>
                        <input name="EnumKey" textname="EnumKey" required="true" class="mini-buttonedit" style="width: 100%" onbuttonclick="onDataClick" />
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>
</form>
<script type="text/javascript">
    var yesNo = [{ "value": "true", "text": "是" }, { "value": "false", "text": "否"}];
    var ExcelFilter = [{ "value": "around", "text": "前后" }, { "value": "middle", "text": "中间" }];
    var IsMultiple = [{ "value": "false", "text": "单个" }, { "value": "true", "text": "多个(大小写逗号,，)" }];

    function setData(data) {
        if (data) {
            var form = new mini.Form("dataForm");
            form.setData(mini.decode(data));
            form.setChanged(false);
        }
    }

    function onDataClick() {
        var btn = mini.getbyName("EnumKey");
        var data = btn.getValue();
        openWindow('/MvcConfig/Meta/Enum/EnumEdit', { width: 350, height: 300, data: data, onDestroy: function (s) {
            if (s != "close") {
                var d = s;
                if (typeof (s) == "object" || typeof (s) == "array" || s.constructor == Array || s.constructor == Object)
                    var d = mini.encode(s);
                btn.setValue(d);
                btn.setText(d);
            }
        }
        });
    }
</script>
