<div class="mini-toolbar gw-grid-toolbar" borderstyle="border-left:0px">
    <table>
        <tr>
            <td>
                <a class="mini-button" iconcls="icon-save" onclick="addForm();">选择</a>
            </td>
            <td class="gw-toolbar-right">
                <input id="key" class="mini-buttonedit gw-searchbox" emptytext="请输入编号或名称" onenter="quickSearch('Code,Name');" onbuttonclick="quickSearch('Code,Name');" />
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" borderstyle="border-left:0px;border-right:0px;border-bottom:0px" collapsegrouponload="false" url="/Base/UI/Form/GetFormList">
        <div property="columns">
            <div type="checkcolumn" width="45">
            </div>
            <div field="Code" width="120" allowsort="true" align="center">
                表单编号
            </div>
            <div field="Name" width="150" allowsort="true">
                表单名称
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addForm() {
        var dataGrid = mini.get("dataGrid");
        var select = dataGrid.getSelected();
        if (!select) {
            msgUI("请选择一条记录!");
            return;
        }
        addExecuteParam("ID", select.ID);
        execute("AddFormTemplet", {
            onComplete: function (result) {
                msgUI("创建成功!", 1, function (e) {
                    closeWindow();
                });
            },
            onError: function (data) {
            }
        });

    }
</script>
