<li>
    <div id="taskNoticeForOverview" class="dnd-modal">
        <div class="dnd-modal-l">
            <div class="dnd-modal-title">
                <span>任务单</span>
            </div>
            <ul class="dnd-modal-list">

            </ul>
        </div>
    </div>
    <div id="roomStaffArrangementForOverview" class="dnd-modal">
        <div class="dnd-modal-l">
            <div class="dnd-modal-title">
                <span>参与所室人员</span>
            </div>
            <ul class="dnd-modal-items">

            </ul>
        </div>
    </div>
</li>
<script type="text/javascript">
</script>
