@{
    ViewBag.Title = "Tab";
}

<div class="mini-fit" style="padding-top: 5px;">
    <div id="userListTab" class="mini-tabs" activeindex="0" style="width: 100%; height: 100%;" tabposition="left" tabalign="left">
        <div title="用<br>户<br>视<br>图" url="List">
        </div>
        <div title="列<br>表<br>视<br>图" url="/MvcConfig/UI/List/PageView?TmplCode=UserUnitPrice">
        </div>
    </div>
</div>