@{
    ViewBag.Title = "项目设计工作区";
}
<link href="~/Scripts/WBS/WBSIcon.css" rel="stylesheet" type="text/css" />
<div>
</div>
<div id="mainTab" class="mini-tabs" activeindex="0" style="width: 100%; height: 100%;" borderstyle="border:0;"
    tabposition="left">
    <div title="设<br>计<br>输<br>入" url="../DesignInput/ListView?ProjectInfoID=@ViewBag.ProjectInfo.ID&SpaceCode=@ViewBag.SpaceCode">
    </div>
    <div title="设<br>计<br>成<br>果"  name="Product" url="../Product/DesignMain?ProjectInfoID=@ViewBag.ProjectInfo.ID&SpaceCode=@ViewBag.SpaceCode">
    </div>
    <div title="校<br>审<br>会<br>签"  url="/Project/Form/Audit/List?ProjectInfoID=@ViewBag.ProjectInfo.ID&SpaceCode=@ViewBag.SpaceCode">
    </div>
    <div title="互<br>提<br>资<br>料"  url="CooperationPlanSpace?ProjectInfoID=@ViewBag.ProjectInfo.ID&SpaceCode=@ViewBag.SpaceCode&WBSValue=@ViewBag.SpaceCode">
    </div>
    <div  title="出<br>图<br>记<br>录" url="/Project/Extend/Publish/PublishApplySureView?ViewType=DesignWorkSpace&ProjectInfoID=@ViewBag.ProjectInfo.ID&SpaceCode=@ViewBag.SpaceCode">
    </div>
    <div title="变<br>更<br>记<br>录" url="/Project/Form/DesignChange/WorkSpaceList?ProjectInfoID=@ViewBag.ProjectInfo.ID&SpaceCode=@ViewBag.SpaceCode&IsLeaf=false">
    </div>
</div>
<script type="text/javascript">
    function pageLoad() {
        var tabs = mini.get("mainTab");
        tabs.activeTab("Product");

    }

    function setTab() {
        var tab = mini.get("subTab");

        var url = "../CooperationExecute/CooperationPlanInList?ProjectInfoID=@ViewBag.ProjectInfo.ID&SpaceCode=@ViewBag.SpaceCode&WBSValue=@ViewBag.SpaceCode";
        tab.tabs[0].url = url;
        tab.reloadTab(tab.tabs[0]);
    }
</script>
<style type="text/css">
    .mini-tabs-bodys
    {
        padding: 0 0 0 0;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
    }
</style>
