@model System.Collections.Generic.IEnumerable<HR.Logic.Domain.T_Employee>
<style>
    .ay_main
    {
        width: 313px;
        height: 135px;
        margin: 20px;
        padding: 0 15px 0 0;
        border-bottom: 1px solid #dfdfdf;
        border-right: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
        border-top: 3px solid #2d4f74;
        float: left;
        overflow: hidden;
    }
    
    .ay_main_photo
    {
        width: 103px;
        height: 135px;
        line-height: 135px;
        float: left;
        overflow: hidden;
    }
    
    .ay_main_photo img
    {
        width: 103px;
        height: 135px;
    }
    
    .ay_main_right
    {
        width: 200px;
        height: 135px;
        float: right;
        overflow: hidden;
    }
    
    .ay_right_top
    {
        width: 100%;
        border-bottom: 1px solid #dfdfdf;
        padding: 15px 0 5px 0;
        overflow: hidden;
    }
    
    .ay_name
    {
        font: 14px "Microsoft YaHei" , "Arial" , Helvetica, sans-serif;
        color: #000;
        float: left;
        line-height: 24px;
        height: 24px;
        margin-left: 5px;
    }
    
    .ay_duty
    {
        font-size: 12px;
        color: #666;
        float: left;
        line-height: 24px;
        height: 24px;
        margin-left: 5px;
    }
    
    .ay_info
    {
        font-size: 12px;
        color: #666;
        line-height: 20px;
        overflow: hidden;
        margin: 10px 0 0 5px;
    }
</style>
<html>
<body style="width: 99%; height: 99%;">
    @foreach (HR.Logic.Domain.T_Employee user in Model)
    {
        <div class="ay_main ">
            <div class="ay_main_photo">
                @* <img id="photo" src="@user.Portrait" alt="@user.Name" />*@
                <input id="Portrait" class="mini-Pic" src='GetPic?ID=@user.ID&ImageType=Portrait' noneImageSrc="/CommonWebResource/RelateResource/image/photo.jpg" imageWidth="90px" imageHeight="120px"/>
            </div>
            <div class="ay_main_right">
                <div class="ay_right_top">
                    <div class="ay_name">
                        @user.Name
                    </div>
                    @if (!string.IsNullOrEmpty(user.PositionalTitles))
                    {
                        <div class="ay_duty">
                            [@user.PositionalTitles]
                        </div>
                    }
                </div>
                <div class="ay_info">
                    分机号：@user.OfficePhone<br />
                    手机号：@user.MobilePhone<br />
                    邮&nbsp;&nbsp;&nbsp;箱：@user.Email<br />
                </div>
            </div>
        </div>
    }
</body>
</html>
