<form method="post">
<input name="ID" class="mini-hidden" />
<div class="formDiv">
    <br />
    <a class="mini-button" iconcls="icon-add" onclick='printWord("SealBorrow", "a7af00b3-e39d-47c6-9b42-3bec8a396a20");'>测试打印</a>
    <br />
    部门弹出单选：
    <input name="btnEdit1" textname="btnEdit1_Text" class="mini-buttonedit" allowinput="false" required="true" />
    <br />
    部门弹出多选：
    <input name="btnEdit2" textname="btnEdit2_Text" class="mini-buttonedit" allowinput="false" />
    <br />
    人员弹出单选：
    <input name="btnEdit3" textname="btnEdit3_Text" class="mini-buttonedit" allowinput="false" />
    <br />
    人员弹出多选：
    <input name="btnEdit4" textname="btnEdit4_Text" class="mini-buttonedit" required="true" />
    <br />
</div>
<a class="mini-button" iconcls="icon-add" onclick="addRow({});">增加</a>
<div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 300px" allowcelledit="true" allowcellselect="true" editnextonenterkey="true" borderstyle="border-left:0px;border-right:0px;border-bottom:0px">
    <div property="columns">
        <div field="Code" width="150" allowsort="true">编号</div>
        <div field="User" displayfield="UserName" width="150" allowsort="true">姓名
            <input name="User" property="editor" class="mini-buttonedit" valuechanged="valueChanged" style="width: 100%;" />
        </div>
        <div field="Description" width="*">描述
            <input property="editor" class="mini-textbox" style="width: 100%;" />
        </div>
    </div>
</div>
角色：
<input name="RoleIDs" textname="RoleNames" class="mini-buttonedit" style="width: 200;" />
<br />
组织：
<input name="OrgIDs" textname="OrgNames" class="mini-buttonedit" style="width: 200;" />
<br />
<a class="mini-button" iconcls="icon-add" onclick="getUsers();">获取用户</a>
</form>
<script type="text/javascript">
    addSingleOrgSelector("btnEdit1");
    addMultiOrgSelector("btnEdit2");
    addMultiUserSelector("btnEdit3");
    addMultiUserSelector("btnEdit4");
    addMultiUserSelector("User", { returnParams: 'value:ID,text:Name,Code:Code,Description:Sex' });
</script>
<script type="text/javascript">
    addMultiOrgSelector("OrgIDs", { title: "请选择组织" });
    addMultiRoleSelector("RoleIDs", { title: "请选择角色" });
</script>
<script type="text/javascript">
    function getUsers() {
        var roleIDs = mini.getbyName("RoleIDs").getValue();
        var orgIDs = mini.getbyName("OrgIDs").getValue();

        execute("TestGetUsers?RoleIDs=" + roleIDs + "&OrgIDs=" + orgIDs, { onComplete: function (text) {
            var data = mini.decode(text);
            var names = data.UserNames;
            alert(names);
        }
        });
        
    }
</script>
<script type="text/javascript">
    function pageLoad() {
        var btn4 = mini.getbyName("btnEdit4");
        btn4.setValue("a1bc0104-ab8c-43f2-afe8-f62a9c25a620");
        btn4.setText("黄明");

        var btn3 = mini.getbyName("btnEdit3");
        btn3.setValue("USER000A");
        btn3.setText("管理员");


        var grid = mini.get("dataGrid");
        var data = [{ ID: '11', Code: 'admin', User: 'USER000A', UserName: '管理员', Description: '11111' }, { ID: '11', Code: 'm_huang', User: 'a1bc0104-ab8c-43f2-afe8-f62a9c25a620', UserName: '黄明', Description: '11111'}];
        grid.setData(data);
    }

    function valueChanged(e) {        
        alert(e.sender.getValue());
    }
</script>
