<div class="mini-toolbar" id="btnDiv" style="width:100%;position: fixed">
    <table>
        <tr>
            <td>
                <a class="mini-button" plain="true" iconcls="icon-save" onclick="save();">保存</a>
                @* <a class="mini-button" plain="true" iconcls="icon-word" onclick="ExportWord();">导出Word</a>*@
                <a class="mini-button" plain="true" iconcls="icon-cancel" onclick="closeWindow()">取消</a>
            </td>
        </tr>
    </table>
</div>
<form id="dataForm" method="post" style="top:30px;position:relative">
    <input name="ID" class="mini-hidden" />
    <input name="GroupID" class="mini-hidden" />
    <div class="formDiv">
        <fieldset id="test">
            <legend>基本信息</legend>
            <div>
                <table>
                    <tr class="hideRow">
                        <td width="15%"></td>
                        <td width="35%"></td>
                        <td width="15%"></td>
                        <td width="35%"></td>
                    </tr>
                    <tr>
                        <td>
                            账号
                        </td>
                        <td>
                            <input name="Code" class="mini-textbox" style="width: 100%" required="true" />
                        </td>
                        <td style="padding-left:20px;">
                            姓名
                        </td>
                        <td>
                            <input name="Name" class="mini-textbox" style="width: 100%" required="true" />
                        </td>
                    </tr>
                    @if (Formula.FormulaHelper.GetCurrentLGID() == "EN")
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                姓名(英语)
                            </td>
                            <td>
                                <input name="NameEN" class="mini-textbox" style="width: 100%" required="true" />
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            工号
                        </td>
                        <td>
                            <input name="WorkNo" class="mini-textbox" style="width: 100%;" />
                        </td>
                        <td style="padding-left:20px;">
                            性别
                        </td>
                        <td>
                            <input name="Sex" class="mini-combobox" valuefield="value" style="width: 100%;" data="Sex" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            RTX
                        </td>
                        <td>
                            <input name="RTX" class="mini-textbox" style="width: 100%" />
                        </td>
                        <td style="padding-left:20px;">
                            Email
                        </td>
                        <td>
                            <input name="Email" class="mini-textbox" style="width: 100%;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            联系电话
                        </td>
                        <td>
                            <input name="Phone" class="mini-textbox" style="width: 100%" />
                        </td>
                        <td style="padding-left:20px;">
                            手机
                        </td>
                        <td>
                            <input name="MobilePhone" class="mini-textbox" style="width: 100%;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            联系地址
                        </td>
                        <td>
                            <input name="Address" class="mini-textbox" style="width: 100%" />
                        </td>
                        <td style="padding-left:20px;">
                            排序号
                        </td>
                        <td>
                            <input name="SortIndex" class="mini-textbox" style="width: 100%" vtype="float" />
                        </td>
                    </tr>
                    <tr id="dept">
                        <td>
                            当前部门
                        </td>
                        <td>
                            <input name="DeptName" class="mini-textbox" style="width: 100%" />
                        </td>
                        <td style="padding-left:20px;">
                            所属部门
                        </td>
                        <td>
                            <input name="DeptNames" class="mini-textbox" style="width: 100%" vtype="float" />
                        </td>
                    </tr>
                    <tr id="CorpID">
                        <td>
                            所属公司
                        </td>
                        <td>
                            <input name="CorpID" class="mini-combobox" valuefield="value" style="width: 100%;" data="enumCompony" required="true" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            备注
                        </td>
                        <td colspan="3">
                            <input name="Description" class="mini-textarea" style="width: 100%; height: 290px" />
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
</form>
<!--导出Word——模拟异步ajax提交表单 -->
<form id='wordForm' style='display:none;' action='@Url.Action("ExportWord")' method='post' target='wordIFrame'>
    <input name="ID" class="mini-hidden" />
</form>
<iframe id='wordIFrame' name='wordIFrame' style='display: none;'></iframe>
<script type="text/javascript">
@Html.GetEnum("System.Sex");
    var enumCompony=@Html.Raw(@ViewBag.enumCompony);
    if(!enumCompony)
        $("#CorpID").hide();
    function ExportWord()
    {
        // 提交下载表单（利用iframe模拟Ajax）
        var wordForm = $("#wordForm");
        wordForm.find("input[name='ID']").val(getQueryString("ID"));
        wordForm.submit();
    }
</script>
<script type="text/javascript">
    if (getQueryString("FuncType") != "View") {
        $("#dept").hide();
    }
    if (getQueryString("ID") != "") {
        //$("[name='Code']").attr("enabled", "false");
    }
</script>
