<div class="mini-toolbar gw-grid-toolbar">
    <table>
        <tr>
            <td>
                <a class="mini-button" iconcls="icon-ok" onclick="doReset();">撤销</a>
            </td>
            <td class="gw-toolbar-right">
                <input id="key" class="mini-buttonedit gw-searchbox" emptytext="请输入账号或姓名或工号" onenter="quickSearch('Code,Name,WorkNo');" onbuttonclick="quickSearch('Code,Name,WorkNo');" />
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" url="GetRetiredList" multiselect="false">
        <div property="columns">
            <div type="checkcolumn"></div>
            <div field="Code" width="60px" allowsort="true" align="center">账号</div>
            <div field="Name" width="60px" allowsort="true" align="center">姓名</div>
            <div field="Sex" width="40px" allowsort="true" align="center">性别 </div>
            <div field="WorkNo" width="60px" allowsort="true" align="center">工号</div>
            <div field="Phone" width="100px" allowsort="true">电话</div>
            <div field="MobilePhone" width="100px" allowsort="true">手机</div>
            <div field="Email" width="300px" allowsort="true">Email</div>
            <div field="DeleteTime" allowsort="true" width="100px" dateformat="yyyy-MM-dd" align="center">离退时间</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    @Html.GetEnum("System.Sex");
</script>
<script type="text/javascript">
    addGridEnum("dataGrid", "Sex", "Sex");
    addGridLink("dataGrid", "Name", "Edit?ID={ID}&FuncType=View", { title: "查看离退用户", refresh: false });
</script>
<script type="text/javascript">
    function doReset() {
        msgUI("确定要撤销吗？", 2, function (action) {
            if (action == "ok") {
                msgUI("请输入新账号：", 5, function (btn, data) {
                    if (btn == "ok") {
                        if ($.trim(data) === "") {
                            msgUI("必须填写新账号！");
                            return;
                        }
                        addExecuteParam("NewCode", data);
                        execute("DoReset", { mustConfirm: false, refresh: true, closeWindow: false, actionTitle: "撤销" });
                    }
                });

            }
        })
    }
</script>


