@{
    ViewBag.Title = "TraceList";
}

<div id="mainLayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div title="west" region="west" width="350" expanded="true" showspliticon="true" showheader="false" style="border-bottom:0px;">
        <div class="mini-toolbar" style="padding: 0px; ">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;"></td>
                    <td style="white-space: nowrap;">
                        <input id='keys' class='mini-buttonedit gw-searchbox' emptytext='请输入名称' onenter="treeSearch" onbuttonclick="treeSearch" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="mini-fit">
            <ul id="dataTree" class="mini-tree" style="width: 100%; height: 100%;" showtreeicon="true" textfield="Name" idfield="ID" iconfield="NodeType"
                onnodeselect="onNodeSelect" enablehottrack="false" parentfield="ParentID" resultastree="false" expandonload="true"
                ondrawnode="onDrawNode"></ul>
        </div>
    </div>
    <div title="center" region="center">
        <div class="mini-fit" style="padding-top: 5px;">
            <div id="mainTab" class="mini-tabs" activeindex="0" style="width: 100%; height: 100%;" borderstyle="border:0px;">
                <div title="成果图纸">
                    <div class="mini-toolbar" style="padding: 0px; border: 0">
                        <table>
                            <tr>
                                <td style="width: 100%;">
                                    <a class="mini-button" iconcls="icon-download" onclick="downLoad();">批量下载DWG</a>
                                    <a class="mini-button" iconcls="icon-goto" onclick="downLoadPDF()" plain="true">批量下载PDF</a>
                                </td>
                                <td style="white-space: nowrap;">
                                    <input id="key" class="mini-buttonedit gw-searchbox" emptytext="请输入成果名称或编号" onenter="quickSearch('Code,Name');"
                                           onbuttonclick="quickSearch('Code,Name');" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="mini-fit">
                        <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" url=""
                             multiselect="true" borderstyle="border-left:0;border-right:0;">
                            <div property="columns">
                                <div type="checkcolumn">
                                </div>
                                <div field="Code" width="100" allowsort="true" align="left">
                                    成果编号
                                </div>
                                <div field="Name" width="300" allowsort="true" align="left">
                                    成果名称
                                </div>
                                <div field="Version" width="50" allowsort="true" align="right">
                                    版本号
                                </div>
                                <div field="FileType" width="60" allowsort="true" align="center">
                                    类型
                                </div>
                                <div field="AuditState" width="60" allowsort="true" allowsort="true" align="center">
                                    校审状态
                                </div>
                                <div field="CreateUser" width="60" allowsort="true" align="center">
                                    提交人
                                </div>
                                <div field="SubmitDate" width="80" allowsort="true" align="center" dateformat="yyyy-MM-dd">
                                    提交日期
                                </div>
                                <div field="AuditInfo" name="AuditInfo" width="100" allowsort="false" align="center">
                                    校审单信息
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    @Html.GetEnum("Base.DrawingFileType")
    @Html.GetEnum(typeof(EPC.Logic.AuditState))
    @Html.GetEnum(typeof(EPC.Logic.CoSignState))
</script>
<script type="text/javascript">
    var engineerinInfoID = getQueryString("EngineeringInfoID");
    $("#dataTree").attr("url", "GetDesignWorkSpaceTree?EngineeringInfoID=" + engineerinInfoID);

    addGridEnum("dataGrid", "FileType", "DrawingFileType");
    addGridEnum("dataGrid", "AuditState", "AuditState");
    addGridEnum("dataGrid", "CoSignState", "CoSignState");

    addGridLink("dataGrid", "Name", "/EPC/Design/WorkSpace/DesignWorkSpaceEdit?ID={ID}", { funcType: "view", height: "60%", width: "50%" });


    addGridButton("dataGrid", "AuditInfo", {
        linkText: '校审单信息', onButtonClick: function (row) {
            var auditID = row["AuditID"];
            if (!auditID) return msgUI("该成果没有关联的校审单信息");
            var url = "/EPC/Design/Audit/PageView?TmplCode=DrawingAudit&FuncType=View&ID=" + auditID;
            openWindow(url, {
                refresh: false, title: "校审单信息", width: "90%", height: "70%",
                onDestroy: function () {
                    mini.get("dataGrid").reload();
                }
            });
        }
    });

    function onDrawNode(e) {
        var node = e.node;
        if (node.DrawingCount > 0) {
            e.nodeHtml = node.Name + "【" + node.DrawingCount + "】";
        }
        if (!node.ParentID) {
            e.nodeStyle = "font-weight:bolder; ";
        }
    }

    var wbsID = "";
    var taskID = "";
    function onNodeSelect(e) {
        var node = e.node;
        var url = "GetDrawingList?WBSID=" + e.node.WBSID + "&TaskID=" + e.node.TaskID;
        var dataGrid = mini.get("dataGrid");
        dataGrid.setUrl(url);
        dataGrid.reload();
    }

    function downLoad() {
        var grid = mini.get("dataGrid");
        var rows = grid.getSelecteds();
        if (rows == undefined || rows.length == 0)
            return msgUI("请选择需要下载的附件！", 1);
        var filedIds = "";
        for (var i = 0; i < rows.length; i++) {
            if (rows[i].MainFile != undefined && rows[i].MainFile != null && rows[i].MainFile != "")
                filedIds += rows[i].MainFile.split('_')[0] + ",";
        }
        if (filedIds.length > 0)
            filedIds = filedIds.substr(0, filedIds.length - 1);
        else
            return msgUI("无附件可下载！", 1);
        DownloadFile(filedIds);
    }

    function downLoadPDF() {
        var grid = mini.get("dataGrid");
        var rows = grid.getSelecteds();
        if (rows == undefined || rows.length == 0)
            return msgUI("请选择需要下载的成果！", 1);
        var filedIds = "";
        for (var i = 0; i < rows.length; i++) {
            if (rows[i].PdfFile != undefined && rows[i].PdfFile != null && rows[i].PdfFile != "")
                filedIds += rows[i].PdfFile.split('_')[0] + ",";
        }
        if (filedIds.length > 0)
            filedIds = filedIds.substr(0, filedIds.length - 1);
        else
            return msgUI("无附件可下载！", 1);
        DownloadFile(filedIds);
    }

    function viewAuditInfo(AuditID) {
        if (!AuditID) { return; }
        var url = "/EPC/Design/Audit/PageView?TmplCode=DrawingAudit&FlowCode=DrawingAudit&FuncType=View&ID=" + AuditID;
        openWindow(url, {
            refresh: false, title: "校审单信息", width: "70%", height: "90%",
            onDestroy: function () {
            }
        });
    }
    function treeSearch() {
        var tree = mini.get("dataTree");
        var key = mini.get("keys").getValue();
        if (key == "") {
            tree.clearFilter();
        } else {
            key = key.toLowerCase();
            tree.filter(function (node) {
                var text = node.Name ? node.Name.toLowerCase() : "";
                if (text.indexOf(key) != -1) {
                    return true;
                }
            });
        }
    }
</script>