@{
    ViewBag.Title = "WBSDocEdit";
}

<div id="formlayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div region="north" height="32" showspliticon="false" showheader="false" allowresize="false" splitsize="0"
         style="border: 0;">
        <div class="mini-toolbar" style="padding: 0px; border-left: 0; border-top: 0; border-right: 0;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;">
                        <a class="mini-button" iconcls="icon-save" onclick="save({action:'SaveDocument'});" plain="true">保存</a>
                        <a class="mini-button" iconcls="icon-cancel" onclick="closeWindow()" plain="true">取消</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div title="center" region="center" style="border: 0;">
        <div id="dataForm" url="GetDocumentData">
            <input name="ID" class="mini-hidden" />
            <input name="EngineeringInfoID" class="mini-hidden" />
            <input name="RelateObjType" class="mini-hidden" />
            <input name="RelateObjID" class="mini-hidden" />
            <fieldset class="formDiv">
                <legend>基本信息</legend>
                <table class="ke-zeroborder" style="width:100%;" cellpadding="2" border="0">
                    <tbody>
                        <tr>
                            <td style="width:15%;"></td>
                            <td style="width:35%;"></td>
                            <td style="width:15%;"></td>
                            <td style="width:35%;"></td>
                        </tr>
                        <tr>
                            <td>
                                文件名称
                            </td>
                            <td colspan="3">
                                <input name="Name" style="width: 100%" class="mini-textbox" required="true" vtype="maxLength:500" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                附件
                            </td>
                            <td colspan="3">
                                <input name='FileID' class='mini-singlefile' style='width:100%'/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                备注
                            </td>
                            <td colspan="3">
                                <input name='Remark' class='mini-textarea' style='width:100%' maxlength='2000' />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
