@{
    ViewBag.Title = "Tab";
}

<div class="mini-fit" style="padding-top: 5px;">
    <div id="mainTabs" class="mini-tabs" activeindex="0" style="width: 100%; height: 100%;">
        <div title="项目级资质维护" url="ManagerList">
        </div>
        <div title="专业级资质维护" url="MajorList">
        </div>
    </div>
</div>
<style type="text/css">
    body {
        overflow: hidden;
    }
</style>