@{
    ViewBag.Title = "ComplexTextBlockSettings";
}
<div id="formlayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div region="north" height="32" showspliticon="false" showheader="false" allowresize="false" splitsize="0"
         style="border: 0;">
        <div class="mini-toolbar" style="padding: 0px; border-left: 0; border-top: 0; border-right: 0;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;">
                        <a class="mini-button" iconcls="icon-save" onclick="returnValue();" plain="true">确定</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div title="center" region="center" style="border: 0;">
        <div id="dataForm" autogetdata="false">
            <input name="ID" class="mini-hidden" />
            <fieldset class="formDiv">
                <legend>数据源定义</legend>
                <table style="width:100%" border="0" cellpadding="0" cellspacing="2">
                    <tr>
                        <td colspan="4">
                            <div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="width: 100%;">
                                            <a class="mini-button" iconcls="icon-add" onclick="addRow({}, { gridId: 'dataSourceGrid', islast: true })">添加</a>
                                            <a class="mini-button" iconcls="icon-remove" onclick="delRow({ gridId: 'dataSourceGrid' });">移除</a>
                                            <a class="mini-button" iconcls="icon-up" onclick="moveUp('dataSourceGrid');">上移</a>
                                            <a class="mini-button" iconcls="icon-down" onclick="moveDown('dataSourceGrid');">下移</a>

                                        </td>
                                        <td style="white-space: nowrap;"></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="dataSourceGrid" class="mini-datagrid" style="width: 100%; height: 150px;" url=""
                                 allowcellvalid="true" multiselect="true" allowcelledit="true" allowcellselect="true"
                                 showpager="false" allowunselect="false">
                                <div property="columns">
                                    <div type="checkcolumn"></div>
                                    <div field="Code" width="100" vtype="required;">
                                        编号
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div type="comboboxcolumn" field="ConnName" width="150" autoshowpopup="true" align="center" vtype="required;">
                                        数据库连接
                                        <input property="editor" class="mini-combobox" style="width: 100%;" data="ConnEnum" />
                                    </div>
                                    <div field="SQL" width="*">
                                        SQL
                                        <input property="editor" class="mini-textarea" style="width: 100%;" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="formDiv">
                <legend>基础信息</legend>
                <table style="width:100%" border="0" cellpadding="0" cellspacing="2">
                    <tr>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                    </tr>
                    <tr>
                        <td>header显示</td>
                        <td colspan="3" style="padding-right:40px;">
                            <input name="MainTitle" style="width: 100%" class="mini-textbox" required="true" emptytext="请输入标题名称" vtype="maxLength:50" />
                        </td>
                    </tr>
                    <tr>
                        <td>样式</td>
                        <td style="padding-right:40px;">
                            <input name="Style" class="mini-combobox" style="width: 100%;" textfield="text" valuefield="value" required="true"
                                   data="BlockStyle" allowinput="false" />
                        </td>
                        <td></td>
                        <td style="padding-right:40px;"></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="formDiv">
                <legend>标签属性定义</legend>
                <table style="width:100%" border="0" cellpadding="0" cellspacing="2">
                    <tr>
                        <td colspan="4">
                            <div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="width: 100%;">
                                            <a class="mini-button" iconcls="icon-add" onclick="addRow({}, { gridId: 'tagDefineGrid', isLast: true })">添加</a>
                                            <a class="mini-button" iconcls="icon-remove" onclick="delRow({ gridId: 'tagDefineGrid' });">移除</a>
                                            <a class="mini-button" iconcls="icon-up" onclick="moveUp('tagDefineGrid');">上移</a>
                                            <a class="mini-button" iconcls="icon-down" onclick="moveDown('tagDefineGrid');">下移</a>
                                        </td>
                                        <td style="white-space: nowrap;"></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="tagDefineGrid" class="mini-datagrid" style="width: 100%; height: 150px;" url="" allowcellvalid="true" multiselect="true" allowcelledit="true" allowcellselect="true"
                                 showpager="false" allowunselect="false">
                                <div property="columns">
                                    <div type="checkcolumn"></div>
                                    <div field="Value" width="100" align="left" vtype="required;">
                                        <a href="#" title="数据源定义中的字段,写法如:{UserInfo.Name}">显示内容</a>
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="Title" width="100" align="left" vtype="required;">
                                        标题
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="Unit" width="100" align="left">
                                        单位
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="LinkUrl" width="180" align="left">
                                         <a href="#" title="PC端打开的URL地址">链接URL</a>
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="MobileLinkUrl" width="*" align="left">
                                        <a href="#" title="写法/Report/List?TmplCode=LeaderQuery&EngineeringInfoID={ID}&Title={Name},TmplCode为图表编号、{ID}为参数">移动端URL</a>
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="width" width="50" align="right">
                                        width
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="height" width="50" align="right">
                                        height
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="Prefix" width="45">
                                        前缀
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript">
    @Html.GetEnum(typeof( Config.ConnEnum))
</script>
<script type="text/javascript">
    var BlockStyle = [{ text: "蓝色", value: "blue" }, { text: "红色", value: "red" }, { text: "绿色", value: "green" },
    { text: "紫色", value: "purple" }, { text: "橙色", value: "orange" }];
    function setData(data) {
        if (data) {
            var rowSettings = mini.decode(data);
            var form = new mini.Form("dataForm");
            form.setData(rowSettings);
            form.setChanged(false);
            if (rowSettings.dataSource) {
                var dataSourceGrid = mini.get("dataSourceGrid");
                dataSourceGrid.setData(rowSettings.dataSource);
            }
            if (rowSettings.tagDefine) {
                var tagDefineGrid = mini.get("tagDefineGrid");
                tagDefineGrid.setData(mini.decode(rowSettings.tagDefine));
            }
        }
    }

    function moveUp(gridId) {
        var dataGrid = mini.get("#" + gridId);
        if (dataGrid) {
            var rows = dataGrid.getSelecteds();
            dataGrid.moveUp(rows);
        }
    }

    function moveDown(gridId) {
        var dataGrid = mini.get("#" + gridId);
        if (dataGrid) {
            var rows = dataGrid.getSelecteds();
            dataGrid.moveDown(rows);
        }
    }


    function returnValue() {
        var form = new mini.Form("dataForm");
        form.validate();
        if (!form.isValid()) {
            msgUI("请检查页面填写内容格式"); return;
        }
        var formData = form.getData();
        var dataSourceGrid = mini.get("dataSourceGrid");
        dataSourceGrid.commitEdit();
        dataSourceGrid.validate(); if (!dataSourceGrid.isValid()) { return; }
        var dataSource = dataSourceGrid.getData();
        formData.dataSource = dataSource;

        var tagDefineGrid = mini.get("tagDefineGrid");
        tagDefineGrid.commitEdit();
        tagDefineGrid.validate(); if (!tagDefineGrid.isValid()) { return; }
        var tagDefine = tagDefineGrid.getData();
        formData.tagDefine = tagDefine;

        closeWindow(formData);
    }
</script>
