@{
    ViewBag.Title = "NoticeGridSettings";
}

<div id="formlayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div region="north" height="32" showspliticon="false" showheader="false" allowresize="false" splitsize="0"
         style="border: 0;">
        <div class="mini-toolbar" style="padding: 0px; border-left: 0; border-top: 0; border-right: 0;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;">
                        <a class="mini-button" iconcls="icon-save" onclick="returnValue();" plain="true">确定</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div title="center" region="center" style="border: 0;">
        <div id="dataForm" autogetdata="false">
            <input name="ID" class="mini-hidden" />
            <fieldset class="formDiv">
                <legend>数据源定义</legend>
                <table style="width:100%" border="0" cellpadding="0" cellspacing="2">
                    <tr>
                        <td colspan="4">
                            <div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="width: 100%;">
                                            <a class="mini-button" iconcls="icon-add" onclick="addRow({}, { gridId: 'dataSourceGrid', islast: true })">添加</a>
                                            <a class="mini-button" iconcls="icon-remove" onclick="delRow({ gridId: 'dataSourceGrid' });">移除</a>
                                            <a class="mini-button" iconcls="icon-up" onclick="moveUp('dataSourceGrid');">上移</a>
                                            <a class="mini-button" iconcls="icon-down" onclick="moveDown('dataSourceGrid');">下移</a>

                                        </td>
                                        <td style="white-space: nowrap;"></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="dataSourceGrid" class="mini-datagrid" style="width: 100%; height: 150px;" url=""
                                 allowcellvalid="true" multiselect="true" allowcelledit="true" allowcellselect="true"
                                 showpager="false" allowunselect="false">
                                <div property="columns">
                                    <div type="checkcolumn"></div>
                                    <div field="Code" width="100" vtype="required;">
                                        编号
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div type="comboboxcolumn" field="ConnName" width="150" autoshowpopup="true" align="center" vtype="required;">
                                        数据库连接
                                        <input property="editor" class="mini-combobox" style="width: 100%;" data="ConnEnum" />
                                    </div>
                                    <div field="SQL" width="*">
                                        SQL
                                        <input property="editor" class="mini-textarea" style="width: 100%;" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="formDiv">
                <legend>基础信息</legend>
                <table style="width:100%" border="0" cellpadding="0" cellspacing="2">
                    <tr>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                    </tr>
                    <tr>
                        <td>header显示</td>
                        <td style="padding-right:40px;">
                            <input name="MainTitle" style="width: 100%" class="mini-textbox"  required="true" vtype="maxLength:50" />
                        </td>
                        <td>应用数据源编号</td>
                        <td style="padding-right:40px;">
                            <input name="InUserDataSource" style="width: 100%" class="mini-textbox" required="true" vtype="maxLength:50" />
                        </td>
                    </tr>
                    <tr>
                        <td>标题显示</td>
                        <td style="padding-right: 40px;">
                            <input name="Title" style="width: 100%" class="mini-textbox"  />
                        </td>
                        <td>高度</td>
                        <td style="padding-right: 40px;">
                            <input name="Height" style="width: 100%" class="mini-textbox"  />
                        </td>
                    </tr>
                    <tr>
                        <td>内容显示</td>
                        <td colspan="3" style="padding-right: 40px;">
                            <input name="Content" style="width: 100%;" class="mini-textarea" required="true" />
                        </td>
                    </tr>
                    <tr>
                        <td>右侧标签显示</td>
                        <td colspan="3" style="padding-right:40px;">
                            <input name="Tag" style="width: 100%" class="mini-textbox" vtype="maxLength:50" />
                        </td>
                    </tr>
                    <tr>
                        <td>文件ID字段</td>
                        <td style="padding-right:40px;">
                            <input name="FileIDField" style="width: 100%" class="mini-textbox" vtype="maxLength:50" />
                        </td>
                        <td>文件类型字段</td>
                        <td style="padding-right:40px;">
                            <input name="FileTypeField" style="width: 100%" class="mini-textbox" vtype="maxLength:50" />
                        </td>
                    </tr>
                    <tr>
                        <td>分组配置</td>
                        <td colspan="3" style="padding-right:40px;">
                            <input name="GroupField"  textname="GroupField" style="width: 100%" class="mini-buttonedit"  onbuttonclick="onDataClick" />
                        </td>
                    </tr>
                    <tr>
                        <td>分组右侧标签显示</td>
                        <td colspan="3" style="padding-right:40px;">
                            <input name="GroupTag" style="width: 100%" class="mini-textbox" vtype="maxLength:50" />
                            注:支持sum、min、max、count四种。例子:合同额{sum:ContractValue}万元,合同数{count:ContractNum}个。
                        </td>
                    </tr>
                    <tr>
                        <td>更多URL链接</td>
                        <td colspan="3" style="padding-right:40px;">
                            <input name="showUrl" style="width: 100%" class="mini-textbox" vtype="maxLength:500" />
                        </td>
                    </tr>
                    <tr>
                        <td>链接URL</td>
                        <td colspan="3" style="padding-right:40px;">
                            <input name="LinkUrl" style="width: 100%" class="mini-textbox" vtype="maxLength:500" />
                        </td>
                    </tr>
                    <tr>
                        <td>移动端URL</td>
                        <td colspan="3" style="padding-right:40px;">
                            <input name="MobileLinkUrl" style="width: 100%" class="mini-textbox" vtype="maxLength:500" />
                            注:移动端写法/Report/List?TmplCode=LeaderQuery&EngineeringInfoID={ID}&Title={Name},TmplCode为图表编号、{ID}为参数
                        </td>
                    </tr>
                </table>
            </fieldset>

        </div>
    </div>
</div>
<script type="text/javascript">
    @Html.GetEnum(typeof( Config.ConnEnum))
</script>
<script type="text/javascript">

    function setData(data) {
        if (data) {
            var rowSettings = mini.decode(data);
            var form = new mini.Form("dataForm");
            form.setData(rowSettings);
            form.setChanged(false);
            if (rowSettings.dataSource) {
                var dataSourceGrid = mini.get("dataSourceGrid");
                dataSourceGrid.setData(rowSettings.dataSource);
            }
        }
    }

    function moveUp(gridId) {
        var dataGrid = mini.get("#" + gridId);
        if (dataGrid) {
            var rows = dataGrid.getSelecteds();
            dataGrid.moveUp(rows);
        }
    }

    function moveDown(gridId) {
        var dataGrid = mini.get("#" + gridId);
        if (dataGrid) {
            var rows = dataGrid.getSelecteds();
            dataGrid.moveDown(rows);
        }
    }

    function onDataClick() {
        var btn = mini.getbyName("GroupField");
        var data = btn.getValue();
        var url = "EnumEdit";
        openWindow(url, {
            width: 350, title: "数据源编辑", data: data, onDestroy: function (s) {
                if (s != "close") {
                    var d = s;
                    if (typeof (s) == "object" || typeof (s) == "array" || s.constructor == Array || s.constructor == Object)
                        var d = mini.encode(s);
                    btn.setValue(d);
                    btn.setText(d);
                }
            }
        });
    }

    function returnValue() {
        var form = new mini.Form("dataForm");
        form.validate();
        if (!form.isValid()) {
            msgUI("请检查页面填写内容格式"); return;
        }
        var formData = form.getData();

        var dataSourceGrid = mini.get("dataSourceGrid");
        dataSourceGrid.commitEdit();
        dataSourceGrid.validate(); if (!dataSourceGrid.isValid()) { return; }
        var dataSource = dataSourceGrid.getData();
        formData.dataSource = dataSource;
        closeWindow(formData);
    }
</script>
