<div id="formlayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div region="north" height="32" showspliticon="false" showheader="false" allowresize="false" splitsize="0"
         style="border: 0;">
        <div class="mini-toolbar" style="padding: 0px; border-left: 0; border-top: 0; border-right: 0;">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;">
                        <a class="mini-button" iconcls="icon-save" onclick="returnValue();" plain="true">确定</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div title="center" region="center" style="border: 0;">
        <div id="dataForm" autogetdata="false">
            <input name="ID" class="mini-hidden" />
            <fieldset class="formDiv">
                <legend>数据源定义</legend>
                <table style="width:100%" border="0" cellpadding="0" cellspacing="2">
                    <tr>
                        <td colspan="4">
                            <div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="width: 100%;">
                                            <a class="mini-button" iconcls="icon-add" onclick="addRow({}, { gridId: 'dataSourceGrid', islast: true })">添加</a>
                                            <a class="mini-button" iconcls="icon-remove" onclick="delRow({ gridId: 'dataSourceGrid' });">移除</a>
                                            <a class="mini-button" iconcls="icon-up" onclick="moveUp('dataSourceGrid');">上移</a>
                                            <a class="mini-button" iconcls="icon-down" onclick="moveDown('dataSourceGrid');">下移</a>
                                        </td>
                                        <td style="white-space: nowrap;"></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="dataSourceGrid" class="mini-datagrid" style="width: 100%; height: 350px;" url=""
                                 allowcellvalid="true" multiselect="true" allowcelledit="true" allowcellselect="true" editnextonenterkey="true" editnextrowcell="true"
                                 showpager="false" allowunselect="false">
                                <div property="columns">
                                    <div type="checkcolumn"></div>
                                    <div field="Name" width="100" vtype="required;">
                                        名称
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="Code" width="100" vtype="required;">
                                        编号
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div type="comboboxcolumn" field="ConnName" width="150" autoshowpopup="true" align="center" vtype="required;">
                                        数据库连接
                                        <input property="editor" class="mini-combobox" style="width: 100%;" data="ConnEnum" />
                                    </div>
                                    <div field="SQL" width="*">
                                        SQL
                                        <input property="editor" class="mini-textarea" style="width: 100%;" />
                                    </div>
                                    <div type="comboboxcolumn" field="AutoSumRow" autoshowpopup="true" width="70">
                                        自动行总计
                                        <input property="editor" class="mini-combobox" style="width: 100%;" data="trueOrFalse" />
                                    </div>
                                    <div type="comboboxcolumn" field="SumType" autoshowpopup="true" width="70">
                                        总计类型
                                        <input property="editor" class="mini-combobox" style="width: 100%;" data="sumType" shownullitem="true"/>
                                    </div>
                                </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="formDiv">
                <legend>筛选定义</legend>
                <table style="width:100%" border="0" cellpadding="0" cellspacing="2">
                    <tr>
                        <td>是否筛选</td>
                        <td style="padding-right:40px;">
                            <input name="HasFilter" class="mini-combobox" style="width: 100%;" textfield="text" valuefield="value" required="true" valuefromselect="true"
                                   data="trueOrFalse" allowinput="false" onvaluechanged="onFilterValueChanged" />
                        </td>
                        <td></td>
                        <td style="padding-right:40px;"></td>
                    </tr>
                    <tr>
                        <td colspan="4" id="filterTD">
                            <div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="width: 100%;">
                                            <a class="mini-button" iconcls="icon-add" onclick="addRow({}, { gridId: 'filterGrid', isLast: true })">添加</a>
                                            <a class="mini-button" iconcls="icon-remove" onclick="delRow({ gridId: 'filterGrid' });">移除</a>
                                            <a class="mini-button" iconcls="icon-up" onclick="moveUp('filterGrid');">上移</a>
                                            <a class="mini-button" iconcls="icon-down" onclick="moveDown('filterGrid');">下移</a>
                                        </td>
                                        <td style="white-space: nowrap;"></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="filterGrid" class="mini-datagrid" style="width: 100%; height: 150px;" url="" allowcellvalid="true" multiselect="true"
                                 allowcelledit="true" allowcellselect="true" editnextonenterkey="true" editnextrowcell="true"
                                 showpager="false" allowunselect="false">
                                <div property="columns">
                                    <div type="indexcolumn"></div>
                                    <div field="FieldName" width="10%" align="center">
                                        字段显示名称
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="Field" width="10%" align="left" vtype="required;">
                                        字段名称
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="Settings" width="150" align="center">
                                        选择内容设置
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%"></td>
                        <td width="10%" style="padding-right: 40px;"></td>
                        <td width="10%" style="padding-right: 40px;"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="formDiv">
                <legend>基础信息</legend>
                <table style="width:100%" border="0" cellpadding="0" cellspacing="2">
                    <tr>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                    </tr>
                    <tr>
                        <td>标题显示</td>
                        <td colspan="3" style="padding-right:40px;">
                            <input name="MainTitle" style="width: 100%" class="mini-textbox" vtype="maxLength:50" />
                        </td>
                    </tr>
                    <tr>
                        <td>默认数据源</td>
                        <td style="padding-right:40px;">
                            <input name="DefaultDataSource" style="width: 100%" class="mini-textbox" required="true" vtype="maxLength:50" />
                        </td>
                        <td>允许多数据源切换</td>
                        <td style="padding-right:40px;">
                            <input name="AllowChangeDataSource" class="mini-combobox" style="width: 100%;" textfield="text" valuefield="value" required="true"
                                   data="trueOrFalse" allowinput="false" />
                        </td>
                    </tr>
                    <tr>
                        <td>样式</td>
                        <td style="padding-right:40px;">
                            <input name="Style" class="mini-combobox" style="width: 100%;" textfield="text" valuefield="value" required="true"
                                   data="BlockStyle" allowinput="false" />
                        </td>
                        <td>列表高度</td>
                        <td style="padding-right:40px;">
                            <input name="gridHeight" style="width: 100%" class="mini-textbox" vtype="maxLength:50" />
                        </td>
                    </tr>
                    <tr>
                        <td>行分组字段</td>
                        <td style="padding-right:40px;">
                            <input name="rowGroupField" style="width: 100%" class="mini-textbox" vtype="maxLength:50" />
                        </td>
                        <td>列分组字段</td>
                        <td style="padding-right:40px;">
                            <input name="columnGroupField" style="width: 100%" class="mini-textbox" vtype="maxLength:50" />
                        </td>
                    </tr>
                    <tr>
                        <td>统计字段</td>
                        <td style="padding-right:40px;"><input name="groupValueField" style="width: 100%" class="mini-textbox" vtype="maxLength:50" /></td>
                        <td>显示汇总行</td>
                        <td style="padding-right:40px;">
                            <input name="showSummaryRow" class="mini-combobox" style="width: 100%;" textfield="text" valuefield="value"
                                   data="trueOrFalse" allowinput="false" />
                        </td>
                    </tr>
                    <tr>
                        <td>是否动态列</td>
                        <td style="padding-right:40px;">
                            <input name="gridDynColumn" class="mini-combobox" style="width: 100%;" textfield="text" valuefield="value" required="true"
                                   data="trueOrFalse" allowinput="false" onvaluechanged="onDynColumnChanged" />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="formDiv" id="ColumnDefineRow">
                <legend>列表配置</legend>
                <table style="width:100%" border="0" cellpadding="0" cellspacing="2">
                    <tr>
                        <td colspan="4">
                            <div class="mini-toolbar" style="padding: 0px; border-bottom: 0;">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="width: 100%;">
                                            <a class="mini-button" iconcls="icon-add" onclick="addRow({}, { gridId: 'columnDefine', isLast: true })">添加</a>
                                            <a class="mini-button" iconcls="icon-remove" onclick="delRow({ gridId: 'columnDefine' });">移除</a>
                                            <a class="mini-button" iconcls="icon-up" onclick="moveUp('columnDefine');">上移</a>
                                            <a class="mini-button" iconcls="icon-down" onclick="moveDown('columnDefine');">下移</a>
                                        </td>
                                        <td style="white-space: nowrap;"></td>
                                    </tr>
                                </table>
                            </div>
                            <div id="columnDefine" class="mini-datagrid" style="width: 100%; height: 450px;" url="" allowcellvalid="true" multiselect="true"
                                 allowcelledit="true" allowcellselect="true" editnextonenterkey="true" editnextrowcell="true"
                                 showpager="false" allowunselect="false">
                                <div property="columns">
                                    <div type="checkcolumn"></div>
                                    <div field="Title" width="100" align="left" vtype="required;">
                                        列名
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="Field" width="100" align="left">
                                        列字段
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div type="comboboxcolumn" autoshowpopup="true" field="Align" width="100" align="left" vtype="required;">
                                        对齐
                                        <input property="editor" class="mini-combobox" style="width:100%;" data="alignData" textfield="text" valuefield="value" />
                                    </div>
                                    <div field="Width" width="100" align="left">
                                        列宽
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="Format" width="100" align="left">
                                        格式
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="DefaultValue" width="80" align="left">
                                        默认值
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div type="comboboxcolumn" autoshowpopup="true" field="SummaryType" width="60" align="left">
                                        汇总
                                        <input property="editor" class="mini-combobox" style="width:100%;" data="sumType" textfield="text" valuefield="value" shownullitem="true"/>
                                    </div>
                                    <div field="EnumInfo" width="100" align="left">
                                        枚举
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                    <div field="LinkUrl" width="100" align="left">
                                        链接URL
                                        <input property="editor" class="mini-textbox" style="width: 100%;" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                        <td width="15%"></td>
                        <td width="35%;" style="padding-right: 40px;"></td>
                    </tr>
                </table>
            </fieldset>

        </div>
    </div>
</div>
<script type="text/javascript">
    @Html.GetEnum(typeof( Config.ConnEnum))
</script>
<script type="text/javascript">
    var BlockStyle = [{ text: "蓝色", value: "blue" }, { text: "红色", value: "red" }, { text: "绿色", value: "green" },
    { text: "紫色", value: "purple" }, { text: "橙色", value: "orange" }];
    var plotValueDisplay = [{ text: "值", value: "y" }, { text: "百分比", value: 'percentage' }];
    var alignData = [{ text: "左对齐", value: "left" }, { text: "居中", value: "center" }, { text: "右对齐", value: "right" }];
    var valignData = [{ text: "上对齐", value: "top" }, { text: "居中", value: "middle" }, { text: "下对齐", value: "bottom" }];
    var layoutData = [{ text: "水平", value: "horizontal" }, { text: "垂直", value: "vertical" }];
    var trueOrFalse = [{ text: "是", value: "true" }, { text: "否", value: "false" }];
    var sumType = [{ text: "合计", value: "Sum" }, { text: "最大", value: "Max" }, { text: "最小", value: "Min" }, { text: "平均", value: "Avg" }];
    function setData(data) {
        $("#filterTD").hide();
        if (data) {
            var rowSettings = mini.decode(data);
            if (rowSettings.gridDynColumn == "true") {
                $("#ColumnDefineRow").hide();
                mini.getbyName("columnGroupField").setRequired(true);
            }
            else {
                rowSettings.gridDynColumn = "false";
            }
            var form = new mini.Form("dataForm");
            form.setData(rowSettings);
            form.setChanged(false);
            if (rowSettings.dataSource) {
                var dataSourceGrid = mini.get("dataSourceGrid");
                dataSourceGrid.setData(rowSettings.dataSource);
            }
            if (rowSettings.ColumnDefine) {
                var columnDefineGrid = mini.get("columnDefine");
                if (columnDefineGrid) {
                    columnDefineGrid.setData(mini.decode(rowSettings.ColumnDefine));
                }
            }
            if (rowSettings.FilterInfo) {
                var filterGrid = mini.get("filterGrid");
                filterGrid.setData(mini.decode(rowSettings.FilterInfo));
            }
            if (rowSettings.HasFilter == "true") {
                $("#filterTD").show();
            }
        }
    }

    addGridButton("filterGrid", "Settings", {
        linkText: '选择数据源设置', onButtonClick: function (row) {
            var url = "/MvcConfig/Meta/Enum/EnumEdit";
            openWindow(url, {
                width: 350, title: "数据源编辑", data: row["EnumData"], onDestroy: function (data) {
                    if (data != "close") {
                        var d = data;
                        if (typeof (data) == "object" || typeof (data) == "array" || data.constructor == Array || data.constructor == Object)
                            var d = mini.encode(data);
                        row["EnumData"] = d;
                    }
                }
            });
        }
    });

    function onDynColumnChanged(e) {
        if (e.value == "true") {
            $("#ColumnDefineRow").hide();
            mini.getbyName("columnGroupField").setRequired(true);
        }
        else {
            $("#ColumnDefineRow").show();
            mini.getbyName("columnGroupField").setRequired(false);
        }
    }

    function onFilterValueChanged(e) {
        if (e.value == "true") {
            $("#filterTD").show();
        }
        else {
            $("#filterTD").hide();
        }
    }

    function moveUp(gridId) {
        var dataGrid = mini.get("#" + gridId);
        if (dataGrid) {
            var rows = dataGrid.getSelecteds();
            dataGrid.moveUp(rows);
        }
    }

    function moveDown(gridId) {
        var dataGrid = mini.get("#" + gridId);
        if (dataGrid) {
            var rows = dataGrid.getSelecteds();
            dataGrid.moveDown(rows);
        }
    }


    function returnValue() {
        var form = new mini.Form("dataForm");
        form.validate();
        if (!form.isValid()) {
            msgUI("请检查页面填写内容格式"); return;
        }
        var formData = form.getData();
        var dataSourceGrid = mini.get("dataSourceGrid");
        dataSourceGrid.commitEdit();
        dataSourceGrid.validate(); if (!dataSourceGrid.isValid()) { return; }
        var dataSource = dataSourceGrid.getData();
        formData.dataSource = dataSource;

        var columnDefineGrid = mini.get("columnDefine");
        columnDefineGrid.commitEdit();
        columnDefineGrid.validate(); if (!columnDefineGrid.isValid()) { return; }
        var columnDefine = columnDefineGrid.getData();
        formData.ColumnDefine = columnDefine;


        var filterGrid = mini.get("filterGrid");
        filterGrid.commitEdit();
        filterGrid.validate(); if (!filterGrid.isValid()) { return; }
        var filterInfo = filterGrid.getData();
        formData.FilterInfo = filterInfo;
        closeWindow(formData);
    }
</script>
