@{
    ViewBag.Title = "TaskPackageImport";
}
<link href="~/Scripts/WBS/WBSIcon.css" rel="stylesheet" type="text/css" />
<div class="mini-toolbar" style="padding: 0px; border-top: 0; border-left: 0; border-right: 0;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-add" onclick="returnValue" plain="true">导入</a>
            </td>
            <td style="white-space: nowrap;">
                <input id="key" class="mini-buttonedit gw-searchbox" emptytext="请输入名称或编号" onenter="quickSearch('Name,Code');"
                    onbuttonclick="quickSearch('Name,Code');" />
                <a class="mini-button" iconcls="icon-find" onclick="showWindow('queryWindow');" plain="true">详细查询</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" url="GetList" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="ID"
         multiselect="true" borderstyle="border-bottom: 0; border-left: 0; border-right: 0;">
        <div property="columns">
            <div type="checkcolumn">
            </div>
            <div field="Name" width="*" headeralign="center" allowsort="true">
                名称
            </div>
            <div field="Code" width="120" headeralign="center" allowsort="true">
                编号
            </div>
            <div field="MajorCode" width="80" headeralign="center" allowsort="true" align="center">
                专业
            </div>
            <div field="PhaseCode" headeralign="center" width="80" allowsort="true" align="center">
                阶段
            </div>
            <div field="ProjectClass" headeralign="center" width="100" allowsort="true" align="center">
                业务类型
            </div>
            <div field="WorkLoad" headeralign="center" width="120" allowsort="true" align="right">
                定额工时
            </div>
            @*<div field="DrawingCount" headeralign="center" width="80" allowsort="true" align="right">
                图纸张数
            </div>*@
        </div>
    </div>
</div>
<div id="queryWindow" class="mini-window" title="详细查询" style="width: 690px; height: 145px;" showmodal="true"
    allowresize="false" allowdrag="true">
    <div class="queryDiv">
        <form id="queryForm" method="post">
        <table>
            <tr>
                <td width="15%" align="center">
                    名称
                </td>
                <td width="35%" align="left">
                    <input name="$LK$Name" style="width: 75%;" class="mini-textbox" />
                </td>
                <td width="15%" align="center">
                    编号
                </td>
                <td width="35%" align="left">
                    <input name="$LK$Code" style="width: 75%;" class="mini-textbox" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    阶段
                </td>
                <td align="left">
                    <input class="mini-combobox" name="$LK$PhaseCode" style="width: 75%;" valuefield="value" textfield="text"
                        data="Phase" shownullitem="true" />
                </td>
                <td align="center">
                    专业
                </td>
                <td align="left">
                    <input class="mini-combobox" name="$LK$MajorCode" style="width: 75%;" valuefield="value" textfield="text"
                        data="Major" shownullitem="true" />
                </td>
            </tr>
        </table>
        </form>
        <div>
            <a class="mini-button" onclick="search()" iconcls="icon-find" style="margin-right: 20px;">查询</a>
            <a class="mini-button" onclick="clearQueryForm('queryForm')" iconcls="icon-undo">清空</a>
        </div>
    </div>
</div>
<script type="text/javascript">
var Major = @Html.Raw(ViewBag.Major);
var Phase  = @Html.Raw(ViewBag.Phase);
</script>
<script type="text/javascript">
    addGridEnum("dataGrid", "MajorCode", "Major");
    addGridEnum("dataGrid", "PhaseCode", "Phase");
    function returnValue() {
        var dataGrid = mini.get("dataGrid");
        var rows = dataGrid.getSelecteds();
        closeWindow(rows);
    }
</script>
