@{
    ViewBag.Title = "FinishDetail";
}
<div class="mini-fit">
    <div id="dataGrid" url="GetCurrentFinishDetail" class="mini-datagrid" style="width: 100%; height: 100%;"
        idfield="ID" multiselect="true" borderstyle="border:0;" showpager="false">
        <div property="columns">
            <div type="indexcolumn">
            </div>
            <div field="ProjectInfoName" width="300" headeralign="center" allowsort="true">
                项目名称</div>
            <div field="Name" width="*" headeralign="center" allowsort="true">
                卷册名称</div>
            <div field="Code" width="90" headeralign="center">
                卷册编号</div>
            <div field="MajorValue" width="90" headeralign="center" align="center">
                专业</div>
            <div field="DesignerUserName" width="90" headeralign="center" align="center">
                设计人</div>
            <div field="PlanEndDate" width="90" dateformat="yyyy-MM-dd" headeralign="center" align="center">
                计划完成日期</div>
            <div field="FactEndDate" width="90" dateformat="yyyy-MM-dd" headeralign="center" align="center">
                实际完成日期</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var Major = @Html.Raw(ViewBag.MajorJson)
</script>
<script type="text/javascript">
    var projectInfoID = getQueryString("ProjectInfoID");
    var year = getQueryString("Year");
    var season = getQueryString("Season");
    var month = getQueryString("Month");

    var url = $("#dataGrid").attr("url");
    url = url.split('?')[0] + "?ProjectInfoID=" + projectInfoID + "&Year=" + year + "&Season=" + season + "&Month=" + month;
    $("#dataGrid").attr("url", url);

    addGridEnum("dataGrid", "MajorValue", "Major");

</script>
