@{
    ViewBag.Title = "总裁桌面";
}
<div id="LeadTabs" class="mini-tabs" activeindex="0" style="width: 100%; height: 100%;"
    maskonload="false" >
    <div title='员工基本信息'  url='/MvcConfig/UI/BI/PageView?TmplCode=HRLead'
        showclosebutton='false'>
        员工基本信息</div>
    <div title='部门信息' url='/MvcConfig/UI/BI/PageView?TmplCode=HRLeadDept'
        showclosebutton='false'>
        部门信息</div>
    <div title='人才梯队' url='/MvcConfig/UI/BI/PageView?TmplCode=HRLeadUser'
        showclosebutton='false'>
        人才梯队</div>
    <div title='招聘及培训情况' url='/MvcConfig/UI/BI/PageView?TmplCode=HRLeadTrain'
        showclosebutton='false'>
        招聘及培训情况</div>
</div>
