<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" url="GetFlowExecList" multiselect="true">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div field="TaskUserDept" width="150">接收人部门</div>
            <div field="TaskUserName" width="60" align="center">接收人</div>
            <div field="ExecUserName" width="60" align="center">操作人</div>
            <div field="ExecRoutingName" width="60" align="center">操作</div>
            <div field="CreateTime" width="110" dateformat="yyyy-MM-dd HH:mm">接收时间</div>
            <div field="ExecTime" width="110" dateformat="yyyy-MM-dd HH:mm">操作时间</div>
            <div field="UseTime" width="60" align="center">操作耗时</div>
            <div field="ExecComment" width="*">操作意见</div>
        </div>
    </div>
</div>
