<form id="dataForm" method="post" url="GetUserInfo">
<input name="ID" class="mini-hidden" />
<div class="formDiv">
    <fieldset>
        <legend>明细信息</legend>
        <div>
            <table>
                <tr class="hideRow">
                    <td width="15%">
                    </td>
                    <td width="35%">
                    </td>
                    <td width="15%">
                    </td>
                    <td width="35%">
                    </td>
                </tr>
                <tr>
                    <td>
                        姓名：
                    </td>
                    <td>
                        <input name="Name" class="mini-textbox" style="width: 100%;"  />
                    </td>
                    <td>
                        部门：
                    </td>
                    <td>
                        <input name="DeptName" class="mini-textbox" style="width: 100%" />
                    </td>
                </tr>
                <tr>
                    <td>
                        电话：
                    </td>
                    <td>
                        <input name="Phone" class="mini-textbox" style="width: 100%;" />
                    </td>
                    <td>
                        手机：
                    </td>
                    <td>
                        <input name="MobilePhone" class="mini-textbox" style="width: 100%" />
                    </td>
                </tr>
                <tr>
                    <td>
                        接收时间：
                    </td>
                    <td>
                        <input name="CreateTime" class="mini-textbox" style="width: 100%;"  />
                    </td>
                    <td>
                        操作时间：
                    </td>
                    <td>
                        <input name="ExecTime" class="mini-textbox" style="width: 100%" />
                    </td>
                </tr>
                <tr>
                    <td>
                        意见：
                    </td>
                    <td colspan="3">
                        <input name="ExecComment" class="mini-textarea" style="width: 100%;"  />
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</div>
</form>
