<div class="mini-fit">
    <ul id="dataTree" class="mini-tree" style="overflow: hidden; width: 100%; height: 100%" url="/Base/Meta/Category/GetTree?RootFullID=0" textfield="Name" idfield="ID" parentfield="ParentID" resultastree="false"
        onnodeclick="onNodeSelect" expandonload="1" contextmenu="#treeMenu" iconfield="IconClass">
    </ul>
</div>
<ul id="treeMenu" class="mini-contextmenu" onbeforeopen="onBeforeOpen">
    <li name="menuAddModule" iconcls="icon-add" onclick="nodeAdding({url:'/Base/Meta/Category/ModuleEdit'});">增加模块</li>
    <li name="menuEditModule" iconcls="icon-edit" onclick="nodeEditing({url:'/Base/Meta/Category/ModuleEdit'});">编辑模块</li>
    <li name="menuDelModule" iconcls="icon-remove" onclick="nodeDeleting({action:'/Base/Meta/Category/DeleteNode'});">删除模块</li>
    <li name="menuAddCategory" iconcls="icon-add" onclick="nodeAdding({url:'/Base/Meta/Category/CategoryEdit?Code={Code}'});">增加分类</li>
    <li name="menuEditCategory" iconcls="icon-edit" onclick="nodeEditing({url:'/Base/Meta/Category/CategoryEdit'});">编辑分类</li>
    <li name="menuDelCategory" iconcls="icon-remove" onclick="nodeDeleting({action:'/Base/Meta/Category/DeleteNode'});">删除分类</li>
</ul>
<script type="text/javascript">
    //树节点点击事件
    var url = window.parent.listUrl;
    function onNodeSelect(e) {
        var arr = e.node.FullID.split('.');
        var dataGrid = window.parent.mini.get("dataGrid");
        if (arr.length > 1) {
            window.parent.jQuery(".gw-grid-toolbar .mini-button").show();
            dataGrid.setUrl(url + "?CategoryID=" + e.node.ID + "&NodeFullID=" + e.node.FullID);
            dataGrid.load();
        }
        else {          
            dataGrid.setUrl(url);
            dataGrid.load();
            window.parent.jQuery(".gw-grid-toolbar .mini-button").hide();
        }
    }

    function onBeforeOpen(e) {
        var menu = e.sender;
        var tree = window.parent.mini.get("dataTree");

        var node = tree.getSelectedNode();
        if (!node) {
            e.cancel = true;
            return;
        }
        var menuAddModule = mini.getbyName("menuAddModule", menu);
        var menuEditModule = mini.getbyName("menuEditModule", menu);
        var menuDelModule = mini.getbyName("menuDelModule", menu);
        var menuAddCategory = mini.getbyName("menuAddCategory", menu);
        var menuEditCategory = mini.getbyName("menuEditCategory", menu);
        var menuDelCategory = mini.getbyName("menuDelCategory", menu);

        if (node.ParentID == null || node.ParentID == "") {
            menuAddModule.show();
            menuEditModule.hide();
            menuDelModule.hide();
            menuAddCategory.hide();
            menuEditCategory.hide();
            menuDelCategory.hide();
        }
        else if (node.ParentID == "0") {
            menuAddModule.hide();
            menuEditModule.show();
            menuDelModule.show();
            menuAddCategory.show();
            menuEditCategory.hide();
            menuDelCategory.hide();
        }
        else {
            menuAddModule.hide();
            menuEditModule.hide();
            menuDelModule.hide();
            menuAddCategory.hide();
            menuEditCategory.show();
            menuDelCategory.show();
        }
    }

</script>
