@{
    ViewBag.Title = "成果升版";
}
<div class="mini-toolbar" id="btnDiv">
    <table>
        <tr>
            <td>
                <a class="mini-button" plain="true" iconcls="icon-save" onclick="UpVersion();">保存</a>
                <a class="mini-button" plain="true" iconcls="icon-cancel" onclick="closeWindow()">取消</a>
            </td>
        </tr>
    </table>
</div>
<div>
    <form id="dataForm" method="post" url="GetVersion">
        <input name="ID" class="mini-hidden" />
        <input name="ProjectInfoID" class="mini-hidden" />
        <input name="WBSID" class="mini-hidden" />
        <input name="AuditID" class="mini-hidden" />
        <input name="VersionID" class="mini-hidden" />
        <input name="PrintCount" class="mini-hidden" />
        <div class="formDiv">
            <fieldset>
                <legend>成果信息</legend>
                <div>
                    <table>
                        <tr class="hideRow">
                            <td width="15%"></td>
                            <td width="35%"></td>
                            <td width="15%"></td>
                            <td width="35%"></td>
                        </tr>
                        <tr>
                            <td>
                                名称
                            </td>
                            <td>
                                <input name="Name" style="width: 100%" class="mini-textbox" required="true" />
                            </td>
                            <td>
                                编号
                            </td>
                            <td>
                                <input name="Code" style="width: 100%" class="mini-textbox" required="true" enabled="false" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                类型
                            </td>
                            <td>
                                <input name="FileType" class="mini-combobox" style="width: 100%;" textfield="text" valuefield="value"
                                       data="ProductFileType" />
                            </td>
                            <td>
                                折合A1
                            </td>
                            <td>
                                <input name="ToA1" style="width: 100%" class="mini-textbox" vtype="float" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                版本号
                            </td>
                            <td>
                                <input name="Version" style="width: 100%" class="mini-textbox" enabled="false" />
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                成果附件
                            </td>
                            <td colspan="3">
                                <input name="MainFile" class="mini-singlefile" style="width: 100%;" vtype="maxLength:100" />
                            </td>
                        </tr>
                        @{
                            var ArchiveType = ViewBag.ArchiveType.Split(',');
                            for (int i = 0; i < ArchiveType.Length; i++)
                            {
                                var file = ArchiveType[i];
                                var name = "其他文件";
                                if (file == "PdfFile") { name = "PDF文件"; }
                                else if (file == "PlotFile") { name = "Plot文件"; }
                                else if (file == "XrefFile") { name = "引用文件"; }
                                else if (file == "DwfFile") { name = "Dwf文件"; }
                                else if (file == "TiffFile") { name = "Tiff文件"; }
                                else if (file == "SignPdfFile") { name = "盖章PDF文件"; }
                                <tr>
                                    <td>
                                        @name
                                    </td>
                                    <td colspan="3">
                                        <input name="@file" class="mini-singlefile" style="width: 100%;" vtype="maxLength:100" />
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td>
                                备注
                            </td>
                            <td colspan="3">
                                <input name="Description" class="mini-textarea" style="width: 100%; height: 100px;" vtype="maxLength:100" />
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
    </form>
</div>
<script>
    @Html.GetEnum("Project.ProductFileType");
    addSingleUserSelector("RegisterID");
</script>
<script type="text/javascript">
    function UpVersion() {
        save({ action: "UpVersion", actionTitle: "升版" });
    }

</script>