<div class="mini-toolbar" id="btnDiv">
    <table>
        <tr>
            <td>
                <a class="mini-button" plain="true" iconcls="icon-save" onclick="save({closeWindow:false});">保存</a>
                <a class="mini-button" plain="true" iconcls="icon-cancel" onclick="closeWindow()">取消</a>
            </td>
            <td id="btnRight">
                <a class="mini-button" onclick="showHelp()" iconcls="icon-help" plain="true">帮助</a>
            </td>
        </tr>
    </table>
</div>
<form id="dataForm" method="post">
<input name="ID" class="mini-hidden" />
<div class="mini-fit">
    <div class="mini-tabs" activeindex="0" style="width: 100%; height: 100%; padding: 0px">
        <div title="行标签">
            <div class='mini-toolbar' style='height: 25px; border-bottom: 0px;'>
                <table>
                    <tr>
                        <td style='text-align: left;'>
                            <a class='mini-button' iconcls='icon-add' onclick='AddRow("RowItems")' visible='true'>添加</a>
                            <a class='mini-button' iconcls='icon-remove' onclick='delRow({gridId:"RowItems"});' visible='true'>移除</a>
                            <a class='mini-button' iconcls='icon-up' onclick='moveUp("RowItems");' visible='true'>上移</a>
                            <a class='mini-button' iconcls='icon-down' onclick='moveDown("RowItems");' visible='true'>下移</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            <div id='RowItems' multiselect='true' allowalternating='false' showindexcolumn='false' pagesize='50' style='width: 100%; height: 400px;' class='mini-datagrid'
                allowcellvalid='true' multiselect='true' allowcelledit='true' allowcellselect='true' showpager='false' allowunselect='false'>
                <div property='columns'>
                    <div type='checkcolumn'>
                    </div>
                    <div field="Visible" width="80px" align="center" header="默认显示" autoshowpopup="true">
                        <input property='editor' class='mini-combobox' style='width: 100%' data="yesNo" onitemclick="commitGridEdit" />
                    </div>
                    <div field='FieldName' width='150' header='字段编号' vtype="required;">
                        <input property='editor' class='mini-textbox' style='width: 100%' />
                    </div>
                    <div field='Caption' width='150' header='字段标题' vtype="required;">
                        <input property='editor' class='mini-textbox' style='width: 100%' />
                    </div>
                    <div field='Enum' displayfield='Enum' header='枚举' width="*">
                        <input property='editor' name='data' textname='data' class="mini-buttonedit" style="width: 100%" onbuttonclick="onDataClick" />
                    </div>
                </div>
            </div>
        </div>
        <div title="列标签">
            <div class='mini-toolbar' style='height: 25px; border-bottom: 0px;'>
                <table>
                    <tr>
                        <td style='text-align: left;'>
                            <a class='mini-button' iconcls='icon-add' onclick='AddRow("ColumnItems")' visible='true'>添加</a>
                            <a class='mini-button' iconcls='icon-remove' onclick='delRow({gridId:"ColumnItems"});' visible='true'>移除</a>
                            <a class='mini-button' iconcls='icon-up' onclick='moveUp("ColumnItems");' visible='true'>上移</a>
                            <a class='mini-button' iconcls='icon-down' onclick='moveDown("ColumnItems");' visible='true'>下移</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            <div id='ColumnItems' multiselect='true' allowalternating='false' showindexcolumn='false' pagesize='50' style='width: 100%; height: 400px;' class='mini-datagrid'
                allowcellvalid='true' multiselect='true' allowcelledit='true' allowcellselect='true' showpager='false' allowunselect='false'>
                <div property='columns'>
                    <div type='checkcolumn'>
                    </div>
                    <div field="Visible" width="80px" align="center" header="默认显示" autoshowpopup="true">
                        <input property='editor' class='mini-combobox' style='width: 100%' data="yesNo" onitemclick="commitGridEdit" />
                    </div>
                    <div field='FieldName' width='150' header='字段编号' vtype="required;">
                        <input property='editor' class='mini-textbox' style='width: 100%' />
                    </div>
                    <div field='Caption' width='150' header='字段标题' vtype="required;">
                        <input property='editor' class='mini-textbox' style='width: 100%' />
                    </div>
                    <div field='Enum' displayfield='Enum' header='枚举' width="*">
                        <input property='editor' name='data' textname='data' class="mini-buttonedit" style="width: 100%" onbuttonclick="onDataClick" />
                    </div>
                </div>
            </div>
        </div>
        <div title="统计项">
            <div class='mini-toolbar' style='height: 25px; border-bottom: 0px;'>
                <table>
                    <tr>
                        <td style='text-align: left;'>
                            <a class='mini-button' iconcls='icon-add' onclick='AddRow("DataItems")' visible='true'>添加</a>
                            <a class='mini-button' iconcls='icon-remove' onclick='delRow({gridId:"DataItems"});' visible='true'>移除</a>
                            <a class='mini-button' iconcls='icon-up' onclick='moveUp("DataItems");' visible='true'>上移</a>
                            <a class='mini-button' iconcls='icon-down' onclick='moveDown("DataItems");' visible='true'>下移</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            <div id='DataItems' multiselect='true' allowalternating='false' showindexcolumn='false' pagesize='50' style='width: 100%; height: 400px;' class='mini-datagrid'
                allowcellvalid='true' multiselect='true' allowcelledit='true' allowcellselect='true' showpager='false' allowunselect='false'>
                <div property='columns'>
                    <div type='checkcolumn'>
                    </div>
                    <div field="Visible" width="80px" align="center" header="默认显示" autoshowpopup="true">
                        <input property='editor' class='mini-combobox' style='width: 100%' data="yesNo" onitemclick="commitGridEdit" />
                    </div>
                    <div field='FieldName' width='150' header='字段编号' vtype="required;">
                        <input property='editor' class='mini-textbox' style='width: 100%' />
                    </div>
                    <div field='Caption' width='150' header='字段标题' vtype="required;">
                        <input property='editor' class='mini-textbox' style='width: 100%' />
                    </div>
                    <div field="SumType" width="100" align="center" header="统计方式" autoshowpopup="true" vtype="required;">
                        <input property='editor' class='mini-combobox' style='width: 100%' data="sumType" onitemclick="commitGridEdit" />
                    </div>
                    <div width="*">
                    </div>
                </div>
            </div>
        </div>
        <div title="过滤项">
            <div class='mini-toolbar' style='height: 25px; border-bottom: 0px;'>
                <table>
                    <tr>
                        <td style='text-align: left;'>
                            <a class='mini-button' iconcls='icon-add' onclick='AddRow("FilterItems")' visible='true'>添加</a>
                            <a class='mini-button' iconcls='icon-remove' onclick='delRow({gridId:"FilterItems"});' visible='true'>移除</a>
                            <a class='mini-button' iconcls='icon-up' onclick='moveUp("FilterItems");' visible='true'>上移</a>
                            <a class='mini-button' iconcls='icon-down' onclick='moveDown("FilterItems");' visible='true'>下移</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
            </div>
            <div id='FilterItems' multiselect='true' allowalternating='false' showindexcolumn='false' pagesize='50' style='width: 100%; height: 400px;' class='mini-datagrid'
                allowcellvalid='true' multiselect='true' allowcelledit='true' allowcellselect='true' showpager='false' allowunselect='false'>
                <div property='columns'>
                    <div type='checkcolumn'>
                    </div>
                    <div field="Visible" width="80px" align="center" header="默认显示" autoshowpopup="true">
                        <input property='editor' class='mini-combobox' style='width: 100%' data="yesNo" onitemclick="commitGridEdit" />
                    </div>
                    <div field='FieldName' width='150' header='字段编号' vtype="required;">
                        <input property='editor' class='mini-textbox' style='width: 100%' />
                    </div>
                    <div field='Caption' width='150' header='字段标题' vtype="required;">
                        <input property='editor' class='mini-textbox' style='width: 100%' />
                    </div>
                    <div field='CtrlType' header='控件类型' width="100" align="center" autoshowpopup="true" vtype="required">
                        <input property='editor' class='mini-combobox' style='width: 100%' multiselect="false" valuefield="value" textfield="text" data="ctrlType" onitemclick="commitGridEdit"
                            onvaluechanged="itemCtrlTypeChanged" />
                    </div>
                    <div field='QueryType' header='筛选方式' width="100" align="center" autoshowpopup="true" vtype="required">
                        <input property='editor' class='mini-combobox' style='width: 100%' multiselect="false" valuefield="value" textfield="text" data="queryType" onitemclick="commitGridEdit" />
                    </div>
                    <div field='FieldValue' header='筛选值' width="*">
                        <input property='editor' class='mini-textbox' style='width: 100%' />
                    </div>
                    <div field='Enum' displayfield='Enum' header='枚举' width="150px">
                        <input property='editor' name='data' textname='data' class="mini-buttonedit" style="width: 100%" onbuttonclick="onDataClick" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<script type="text/javascript">
    var yesNo = [{ value: "1", text: "是" }, { value: "0", text: "否"}];
    var sumType = [{ value: "Count", text: "计数" }, { value: "Sum", text: "求和" }, { value: "Min", text: "最小值" }, { value: "Max", text: "最大值" }, { value: "Average", text: "平均值"}];
    addGridEnum("DataItems", "Visible", "yesNo");
    addGridEnum("RowItems", "Visible", "yesNo");
    addGridEnum("ColumnItems", "Visible", "yesNo");
    addGridEnum("DataItems", "SumType", "sumType");
</script>
<script type="text/javascript">
    var yesNo = [{ value: "1", text: "是" }, { value: "0", text: "否"}];
    var queryType = [{ value: "in", text: "包含" }, { value: "like", text: "类似于" }, { value: ">", text: "大于" }, { value: "<", text: "小于" }, { value: ">=", text: "大于等于" }, { value: "<=", text: "小于等于" }, { value: "between", text: "介于"}];
    var ctrlType = [{ value: "text", text: "文本框" }, { value: "date", text: "日期框" }, { value: "dropdown", text: "下拉框"}];
    addGridEnum("FilterItems", "Visible", "yesNo");
    addGridEnum("FilterItems", "QueryType", "queryType");
    addGridEnum("FilterItems", "CtrlType", "ctrlType");
</script>
<script type="text/javascript">
    var gridId = "ColumnItems";
    function commitGridEdit() {
        var grid = mini.get(gridId);
        grid.commitEdit();
    }
    function moveUp() {
        var dataGrid = mini.get(gridId);
        var rows = dataGrid.getSelecteds();
        dataGrid.moveUp(rows);
    }
    function moveDown() {
        var dataGrid = mini.get(gridId);
        var rows = dataGrid.getSelecteds();
        dataGrid.moveDown(rows);
    }
    function onDataClick() {
        var btn = mini.getbyName("data");
        var data = btn.getValue();
        openWindow('/MvcConfig/Meta/Enum/EnumEdit', { width: 450, height: 300, data: data, onDestroy: function (s) {
            if (s != "close") {
                var d = s;
                if (typeof (s) == "object" || typeof (s) == "array" || s.constructor == Array || s.constructor == Object)
                    var d = mini.encode(s);
                btn.setValue(d);
                btn.setText(d);
            }
        }
        });
    }
</script>
<script type="text/javascript">
    function AddRow(gridId) {
        openWindow("FieldSelector", { width:500,height:450, onDestroy: function (data) {
            if (data == "close")
                return;
            for (var i = 0; i <= data.length; i++) {
                addRow(data[i], { gridId: gridId, isLast: true });
            }
        }
        });
    }
</script>
