<div id="divDes" style="font-family: 'Microsoft YaHei';  font-weight: bold; color:#000; text-align: center; background-color:#eee; position:absolute;  height:100%; width: 100%;">
    <div style="position:absolute; top:48%;text-align:center;width:100%; font-size:14px;">
    请选择一条记录!
</div>
</div>
