<div class="mini-splitter" id="_splitter" style="width: 100%; height: 100%;" vertical="true" allowresize="false" handlersize="0">
    <div size="40" showcollapsebutton="false" style="border: 0px; padding-left: 6px; line-height: 35px;">
        <div class="mini-toolbar"  style="height: 35px; border-top: 0px; border-left: 0px; ">
            <table>
                <tr>
                    <td style="height: 35px; line-height: 29px; font-family: 'Microsoft YaHei';">
                        <a class="mini-button" iconcls="icon-add" id="createRole" onclick="add();">创建菜单</a>
                    </td>
                    <td id="btnRight">
                        @*<a class="mini-button" iconcls="icon-up" plain="true" onclick="prev();">上一步</a>*@
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div showcollapsebutton="false">
        <div class="mini-splitter" style="width: 100%; height: 100%;" borderstyle="border:0px">
            <div showcollapsebutton="true" size="60%" style="border: 0px">
                <div class="mini-fit">
                    <div id="dataGrid" borderstyle="border:0px" class="mini-datagrid" onrowclick="onRowclick" style="width: 100%; height: 100%;">
                        <div property="columns">
                            <div type="checkcolumn" width="30"></div>
                            <div name="Content" width="*" renderer="onContentRenderer" headeralign="center">入口路径</div>
                            <div name="Button" width="120" headeralign="center" align="center" cellstyle="padding:0;" renderer="onButtonRenderer">授权到</div>
                        </div>
                    </div>
                </div>
            </div>
            <div showcollapsebutton="true" style="border: 0px">
                <div id="tabs" class="mini-tabs" style="width: 100%; height: 100%;" activeindex="0" plain="false">
                    <div title="已授权的组织或角色">
                        <div class="mini-splitter" style="width: 100%; height: 100%;">
                            <div showcollapsebutton="false">
                                <div class="mini-fit">
                                    <div id="roleGrid" class="mini-datagrid" borderstyle="border:0px" showpager="false" onrowclick="onDataGridRowClick" style="width: 100%; height: 100%;"
                                        url="/Base/Auth/ResRole/GetRelationList" multiselect="false" allowunselect="false">
                                        <div property="columns">
                                            <div field="Type" width="60" align="center">
                                                类型
                                            </div>
                                            <div field="Name" width="200" align="center">
                                                名称
                                            </div>
                                            <div field="Description" width="*">
                                                描述
                                            </div>
                                            <div field="Delete" width="60">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div maxsize="300" minsize="250" showcollapsebutton="true" expanded="false">
                                <div showcollapsebutton="false" style="width: 100%; height: 100%;">
                                    <div class="mini-toolbar">
                                        <table>
                                            <tr>
                                                <td></td>
                                                <td id="btnRight">
                                                    <input id="key" class="mini-textbox" emptytext="请输入工号或姓名" style="width: 150px;" onenter="quickSearch('WorkNo,Name',{gridId:'userGrid'});" />
                                                    <a class="mini-button" onclick="quickSearch('WorkNo,Name',{gridId:'userGrid'});" iconcls="icon-search">查询</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="mini-fit">
                                        <div id="userGrid" class="mini-datagrid" borderstyle="border:0px" style="width: 100%; height: 100%;" url="/Base/Auth/ResRole/GetUserRelationList">
                                            <div property="columns">
                                                <div field="WorkNo" width="60">
                                                    工号
                                                </div>
                                                <div field="Name" width="*">
                                                    姓名
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div title="已授权的对象">
                        <div class="mini-splitter" style="width: 100%; height: 100%;">
                            <div showcollapsebutton="false">
                                <div class="mini-fit">
                                    <div id="objectGrid" class="mini-datagrid" showpager="false" onrowclick="onObjectDataGridRowClick" borderstyle="border:0px" style="width: 100%; height: 100%;"
                                        multiselect="false" allowunselect="false">
                                        <div property="columns">
                                            <div field="Type" width="80" align="center" data="ResType">
                                                类型 
                                            </div>
                                            <div field="Name" width="120" align="center">
                                                名称
                                            </div>
                                            <div field="DataFilter" width="*">
                                                数据过滤
                                            </div>
                                            <div field="ButtonID" width="*">
                                                按钮ID或字段
                                            </div>
                                            <div field="setting" width="100" align="center" renderer="onObjectButtonRenderer">
                                                授权到
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div maxsize="300" minsize="250" showcollapsebutton="true" expanded="false">
                                <div class="mini-fit">
                                    <div id="objectRoleGrid" class="mini-datagrid" borderstyle="border:0px" showpager="false"  style="width: 100%; height: 100%;"
                                       url="/Base/Auth/ResRole/GetRelationList"  multiselect="false" allowunselect="false">
                                        <div property="columns">
                                            <div field="Type" width="60" align="center">
                                                类型
                                            </div>
                                            <div field="Name" width="100" align="center">
                                                名称
                                            </div>
                                            <div field="Description" width="*">
                                                描述
                                            </div>
                                            <div field="Delete" width="60">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .left_main {
        margin: 0px 10px;
    }

    .left_main_list {
        width: 100%;
    }

        .left_main_list span {
            float: right;
            margin: 0px;
            padding: 0px;
        }

            .left_main_list span a {
                padding-left: 5px;
            }

        .left_main_list h1 {
            font: 12px "Microsoft YaHei","Arial", Helvetica, sans-serif;
            font-weight: bold;
            float: left;
            margin: 0px;
            padding: 0px;
        }

        .left_main_list h2 {
            font: 12px "宋体","Arial", Helvetica, sans-serif;
            font-weight: bold;
            float: left;
            margin: 0px;
            padding-top: 3px;
        }

        .left_main_list h3 {
            margin: 0px;
            padding: 0px;
        }

            .left_main_list h3 a {
                font: 15px "Microsoft YaHei","Arial","Arial", Helvetica, sans-serif;
                font-weight: bold;
                color: #006b9c;
                float: left;
                margin: 0px;
                padding: 0px;
                text-decoration: none;
                position: absolute;
            }

                .left_main_list h3 a:hover {
                    color: #33C;
                    text-decoration: underline;
                }

        .left_main_list h6 {
            float: left;
            margin: 0px;
            padding: 0px;
            padding-top: 1px;
        }

    .left_main_listread {
        width: 100%;
    }

        .left_main_listread span {
            float: right;
            margin: 0px;
            padding: 0px;
        }

            .left_main_listread span a {
                padding-left: 5px;
            }

        .left_main_listread h1 {
            font: 12px "Microsoft YaHei","Arial", Helvetica, sans-serif;
            color: #444;
            float: left;
            margin: 0px;
            padding: 0px;
        }

        .left_main_listread h2 {
            font: 12px "宋体","Arial", Helvetica, sans-serif;
            font-weight: normal;
            color: #444;
            float: left;
            margin: 0px;
            padding-top: 3px;
        }

        .left_main_listread h3 {
            margin: 0px;
            padding: 0px;
        }

            .left_main_listread h3 a {
                font: 15px "Microsoft YaHei","Arial","Arial", Helvetica, sans-serif;
                font-weight: normal;
                color: #444;
                float: left;
                margin: 0px;
                padding: 0px;
                text-decoration: none;
            }

                .left_main_listread h3 a:hover {
                    color: #33C;
                    text-decoration: underline;
                }

        .left_main_listread h6 {
            float: left;
            margin: 0px;
            padding: 0px;
            padding-top: 1px;
        }


    .left_main_listimportant {
        width: 100%;
    }

        .left_main_listimportant span {
            float: right;
            margin: 0px;
            padding: 0px;
        }

            .left_main_listimportant span a {
                padding-left: 5px;
            }

        .left_main_listimportant h1 {
            font: 12px "Microsoft YaHei","Arial", Helvetica, sans-serif;
            color: #444;
            float: left;
            margin: 0px;
            padding: 0px;
        }

        .left_main_listimportant h2 {
            font: 12px "宋体","Arial", Helvetica, sans-serif;
            color: #444;
            float: left;
            margin: 0px;
            padding-top: 3px;
        }

        .left_main_listimportant h3 {
            margin: 0px;
            padding: 0px;
        }

            .left_main_listimportant h3 a {
                font: 15px "Microsoft YaHei","Arial","Arial", Helvetica, sans-serif;
                font-weight: bold;
                color: #fa2805;
                float: left;
                margin: 0px;
                padding: 0px;
                text-decoration: none;
            }

                .left_main_listimportant h3 a:hover {
                    color: #33C;
                    text-decoration: underline;
                }

        .left_main_listimportant h6 {
            float: left;
            margin: 0px;
            padding: 0px;
            padding-top: 1px;
        }

    /*.mini-grid-cell{border-right-width:0px}*/

    .left_filters {
        height: 30px;
    }

    .left_filter_wrapper {
        height: 28px;
        border: 1px #d4d4d4 solid;
    }

    .left_filter_left {
        float: left;
        line-height: 28px;
        height: 28px;
        font-size: 12px;
        padding-left: 7px;
        padding-top: 5px;
    }

    .left_filter_right {
        float: right;
        display: inline-table;
    }

        .left_filter_right a {
            font-size: 12px;
            text-decoration: none;
            border-top: currentColor 0px none;
            border-bottom: currentColor 0px none;
            border-right: currentColor 0px none;
            border-left: #d4d4d4 1px solid;
            line-height: 28px;
            padding: 0px 15px 0px 20px;
            float: right;
            color: #000;
        }

    .left_filter_right_on {
        background-color: #ECEDEF;
    }

    .left_filter_right span {
        float: left;
        line-height: 28px;
        cursor: pointer;
    }

    .down {
        background-image: url(/Base/Scripts/ShortMsg/filter_down.png);
        width: 7px;
        height: 8px;
        overflow: hidden;
        margin: 10px 0px 0px 5px;
        overflow: hidden;
        float: left;
        line-height: 28px;
        cursor: pointer;
    }

    .up {
        background-image: url(/Base/Scripts/ShortMsg/filter_up.png);
        width: 7px;
        height: 8px;
        overflow: hidden;
        margin: 10px 0px 0px 5px;
        overflow: hidden;
        float: left;
        line-height: 28px;
        cursor: pointer;
    }

    .active {
        background-color: #DFE8F6;
    }

    .checkbox {
        margin-top: 3px;
        float: left;
    }

    .label {
        line-height: 28px;
        height: 28px;
        float: left;
    }

    .btnRole {
        border-bottom: solid 1px #adb3b9;
        height: 28px;
        line-height: 28px;
    }
    .mini-splitter-pane2-vertical {
        border: 0;
        border-top: solid 1px #ccc;
    }
    #createRole {
        font-family: 微软雅黑;
        text-align: center;
        border-radius: 5px;
        background: -webkit-linear-gradient(top, #3c8dbc, #2e88c0);
        background: -moz-linear-gradient(top, #3c8dbc, #2e88c0);
        background: linear-gradient(top, #3c8dbc, #2e88c0);
        background: -ms-linear-gradient(top, #3c8dbc, #2e88c0);
        background-color: #2e88c0;
        box-shadow: 0 1px 2px #B8DCF1 inset, 0 -1px 0 #316F96 inset;
        color: #fff;
    }

        #createRole .icon-add {
            color: #fff;
            background-image: none;
            font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

    .mini-tabs-scrollCt {
        position: relative;
        border-bottom: solid 1px #A8A8A8;
        border: solid 1px #fff;
        background: #f0f0f0 repeat-x 0 0;
        zoom: 1;
    }
</style>
<script type="text/javascript">
    @Html.GetEnum(typeof(Base.Logic.ResType));
    @Html.GetEnum(typeof(Base.Logic.DataFilterType));
</script>
<script type="text/javascript">
    var record, row;
    var grid = mini.get("dataGrid");

    function pageLoad() {
        var dataGrid = mini.get("dataGrid");
        var categoryID = getCache("_CacheCategoryID");
        dataGrid.setUrl("GetFlowRoleList?CategoryID=" + categoryID);
    }

    function add() {
        var url = 'FlowRoleEdit?CategoryID=' + getQueryString("CategoryID");
        openWindow(url, {
            title: '添加', width: 750, height: 330, onDestroy: function (data) {
                if (data != 'close') {
                    mini.get("dataGrid").reload();
                }
            }
        });
    }

    function edit(id) {
        var url = 'FlowRoleEdit?CategoryID=' + getQueryString("CategoryID") + "&ID=" + id;
        openWindow(url, {
            title: '编辑', width: 750, height: 330, onDestroy: function (data) {
                if (data != 'close') {
                    mini.get("dataGrid").reload();
                }
            }
        });
    }

    function imgMouseOver(e) {
        if (!e) e = window.event;
        var img = e.target || e.srcElement;
        var src = $(img).attr("src").replace(".png", "on.png");
        $(img).attr("src", src);
    }

    function imgMouseOut(e) {
        if (!e) e = window.event;
        var img = e.target || e.srcElement;
        var src = $(img).attr("src").replace("on.png", ".png");
        $(img).attr("src", src);
    }

    function onContentRenderer(e) {
        var rec = e.record;
        var rowIndex = e.rowIndex;
        var $table = $("<table width=\"100%\" border=\"0\" style=\"table-layout:fixed;\" cellspacing=\"5\" cellpadding=\"0\"></table");
        var id = rec.ID;
        var receiverID = rec.ReceiverID;
        //第一行
        var title = $.trim(rec.Name);
        var createTime = $.trim(rec.CreateTime) == "" ? "" : new Date(rec.CreateTime).format("yyyy年MM月dd日hh:mm:ss");
        var fullPath = $.trim(rec.FullPath);
        var $img = $("<img>").attr("width", "16px").attr("height", "16px").attr("border", "0px").attr("align", "absmiddle");
        var $tr1td = $("<td></td>").append($("<h1></h1>").text(title)).append($("<h2></h2>").text("[" + createTime + "]"));

        var $tr1 = $("<tr></tr>").append($tr1td);
        $table.append($tr1);

        //第二行
        var $title = $("<h3></h3>").append("<img src='/CommonWebResource/Theme/Default/MiniUI/icons/right.gif' style='float:left;padding-top:2px;' />").append($("<a></a>").attr("href", "javascript:;").text(fullPath).attr("onclick", "edit('" + id + "');"));
        var $tr2td = $("<td></td>").append($title);
        $table.append($("<tr></tr>").append($tr2td));

        var $html = $("<div></div>").attr("id", "Content" + id).append($table);
        if (rec.AlreadyRead == 1)
            $html.addClass("left_main_listread")
        else
            $html.addClass("left_main_list")

        return $html[0].outerHTML;
    }

    function onButtonRenderer(e) {
        var rec = e.record;
        var id = rec.ID;
        var rowIndex = e.rowIndex;
        var $btnRole = $("<span></span>");
        $btnRole.append($("<a style='margin-right:5px;'>角色</a>").attr("href", "javascript:void(0)").attr("title", "授权到角色").attr("onclick", "relation(1, 'dataGrid')"));
        $btnRole.append($("<a style='margin-right:5px;'>组织</a>").attr("href", "javascript:void(0)").attr("title", "授权到组织").attr("onclick", "relation(2, 'dataGrid')"));
        $btnRole.append($("<a style='margin-right:5px;'>用户</a>").attr("href", "javascript:void(0)").attr("title", "授权到用户").attr("onclick", "relation(3, 'dataGrid')"));
        $btnRole.append($("<a>对象</a><br/>").attr("href", "javascript:void(0)").attr("title", "授权到对象").attr("onclick", "objectRole('" + id + "','" + rec.FullID + "','" + rec.Url + "')"));
        var $btnEditDel = $("<span></span>");
        $btnEditDel.append($("<a style='margin-right:5px;'>编辑</a>").attr("href", "javascript:void(0)").attr("title", "编辑").attr("onclick", "edit('" + id + "')"));
        $btnEditDel.append($("<a style='margin-right:5px;'>删除</a>").attr("href", "javascript:void(0)").attr("title", "删除").attr("onclick", "deleteRole(" + rowIndex + ",'" + rec.FullID + "')"));
        $btnEditDel.append($("<a>预览</a>").attr("href", "javascript:void(0)").attr("title", "预览").attr("onclick", "openWindow('" + rec.Url + "', {title: '预览',addQueryString:false})"));
        var $html1 = $("<div class='btnRole'></div>").attr("id", "Content" + id).append($btnRole);
        var $html2 = $("<div style='height:26px;line-height:26px'></div>").attr("id", "ed" + id).append($btnEditDel);
        return $html1[0].outerHTML + $html2[0].outerHTML;
    }

    function onObjectButtonRenderer(e) {
        var rec = e.record;
        var id = rec.ID;
        var $btnRole = $("<span></span>");
        $btnRole.append($("<a style='margin-right:5px;'>角色</a>").attr("href", "javascript:void(0)").attr("title", "授权到角色").attr("onclick", "relation(1, 'objectGrid')"));
        $btnRole.append($("<a style='margin-right:5px;'>组织</a>").attr("href", "javascript:void(0)").attr("title", "授权到组织").attr("onclick", "relation(2, 'objectGrid')"));
        $btnRole.append($("<a style='margin-right:5px;'>用户</a><br/>").attr("href", "javascript:void(0)").attr("title", "授权到用户").attr("onclick", "relation(3, 'objectGrid')"));
        var $btnEditDel = $("<span></span>");
        $btnEditDel.append($("<a style='margin-right:5px;'>编辑</a>").attr("href", "javascript:void(0)").attr("title", "编辑").attr("onclick", "editObjectRole('" + id + "')"));
        $btnEditDel.append($("<a style='margin-right:5px;'>删除</a>").attr("href", "javascript:void(0)").attr("title", "删除").attr("onclick", "delObjectRole('" + id + "')"));
        var $html1 = $("<div class='btnRole'></div>").attr("id", "Content" + id).append($btnRole);
        var $html2 = $("<div></div>").attr("id", "ed" + id).append($btnEditDel);
        return $html1[0].outerHTML + $html2[0].outerHTML;
    }

    function objectRole(id, fullID, path) {
        var parentID = fullID;
        if (fullID.lastIndexOf('.') >= 0)
            parentID = fullID.substring(fullID.lastIndexOf('.') + 1, fullID.length);
        openWindow('ObjectRoleEdit?FlowResRoleID=' + id + '&FullID=' + fullID + "&ParentID=" + parentID + "&Path=" + path, {
            title: '添加', width: 800, height: 600, onDestroy: function (s) {
                if (s != 'close') {
                    mini.get("objectGrid").reload();
                }
            }
        });
    }

    function editObjectRole(id) {
        openWindow('ObjectRoleEdit?ID=' + id, {
            title: '编辑', width: 800, height: 600, onDestroy: function (s) {
                if (s != 'close') {
                    mini.get("objectGrid").reload();
                }
            }
        });
    }

    function delObjectRole(id) {
        if (id) {
            msgUI("确认删除？", 2, function (action) {
                if (action == "ok") {
                    addExecuteParam("ID", id);
                    execute("DeleteObjectRole", {
                        onComplete: function (data) {
                            mini.get("objectGrid").reload();
                        }
                    });
                }
            });
        }
    }

    function prev() {
        window.parent.flowNavBar(window.parent.FlowUse);
    }

    function onRowclick(e) {
        record = e.record;
        var roleGrid = mini.get("roleGrid");
        roleGrid.setUrl(roleGrid.url.split('?')[0] + "?NodeFullID=" + e.record.FullID);
        roleGrid.load();
        var userGrid = mini.get("userGrid");
        userGrid.setUrl("/Base/Auth/ResRole/GetUserRelationList?NodeFullID=" + e.record.FullID);
        userGrid.load();
        var objectGrid = mini.get("objectGrid");
        objectGrid.setUrl("GetObjectRole?FullID=" + e.record.FullID);
        objectGrid.load();
    }    function relation(type, grid) {
        if (type == 1)
            relationAppending(urlConstant.multiRole, { fullRelation: true, isGrid: true, paramFrom: grid, gridId: grid, refreshGrids: "roleGrid,userGrid,objectRoleGrid", action: '/Base/Auth/ResRole/SetRoleRelation', width: 700 });        else if (type == 2)            relationAppending(urlConstant.multiOrg, { fullRelation: true, isGrid: true, paramFrom: grid, gridId: grid, refreshGrids: "roleGrid,userGrid,objectRoleGrid", action: '/Base/Auth/ResRole/SetOrgRelation', width: 320, height: 500 });        else            relationAppending(urlConstant.multiUser, { fullRelation: true, isGrid: true, paramFrom: grid, gridId: grid, refreshGrids: "roleGrid,userGrid,objectRoleGrid", action: '/Base/Auth/ResRole/SetUserRelation', width: 750, height: 595 });
    }    function deleteRole(rowIndex, fullID) {
        msgUI("确认删除？", 2, function (action) {
            if (action == "ok") {
                execute("DeleteNode?FullID=" + fullID, {
                    onComplete: function (rtn) {
                        mini.get("dataGrid").reload();
                        mini.get("roleGrid").reload();
                        mini.get("userGrid").reload();
                    }
                });
            }
        });
    }
    addGridButton("roleGrid", "Delete", {
        linkText: '删除', onButtonClick: function (row) {
            var array = new Array();
            array.push(row);
            addExecuteParam("NodeFullID", record.FullID);
            addExecuteParam("RelationData", mini.encode(array));
            addExecuteParam("FullRelation", false);
            msgUI("确认删除？", 2, function (action) {
                if (action == "ok") {
                    execute("/Base/Auth/ResRole/DeleteRelation", {
                        onComplete: function (rtn) {
                            mini.get("roleGrid").reload();
                        }
                    });
                }
            });
        }
    });

    function onDataGridRowClick(e) {
        var userGrid = mini.get("userGrid");
        userGrid.setUrl("/Base/Auth/ResRole/GetUserRelationList?NodeFullID=" + record.FullID + "&GridRowID=" + e.record.ID);
        userGrid.load();
    }

    function onObjectDataGridRowClick(e) {
        var objectRoleGrid = mini.get("objectRoleGrid");
        objectRoleGrid.setUrl("/Base/Auth/ResRole/GetRelationList?NodeFullID=" + e.record.FullID);
        objectRoleGrid.load();
    }

    addGridEnum("objectGrid", "Type", "ResType");
    addGridEnum("objectGrid", "DataFilter", "DataFilterType");

</script>
<script type="text/javascript">
    @Html.GetEnum(typeof(Base.Logic.RoleType)); 
</script>
<script type="text/javascript">
    addGridEnum("objectRoleGrid", "Type", "RoleType");
    addGridEnum("objectRoleGrid", "IsCurrentDeptAuth", "yesNo");
    addGridButton("objectRoleGrid", "Delete", { 
        linkText: '删除', onButtonClick: function (row) {
            var objectGrid = mini.get("objectGrid");
            var select = objectGrid.getSelected();
            delRelation({ action: "/Base/Auth/ResRole/DeleteRelation", relationData: [row], nodeFullID: select.FullID, gridId: 'objectRoleGrid' });
        }
    });
</script>