@{
    ViewBag.Title = "WBS属性编辑";
}
<div id="formlayout" class="mini-layout" style="width: 100%; height: 100%;">
    <div region="north" height="36" showspliticon="false" showheader="false" allowresize="false"
         splitsize="0" style="border: 0;">
        <div class="mini-toolbar" id="btnDiv">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 100%;">
                        <a class="mini-button" iconcls="icon-save" onclick="save();" plain="true">保存</a>
                        <a class="mini-button" iconcls="icon-cancel" onclick="closeWindow()" plain="true">取消</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div title="center" region="center" style="border: 0;">
        <div class="formDiv">
            <div id="dataForm">
                <input name="ID" class="mini-hidden" />
                <input name="Type" class="mini-hidden" />
                <fieldset>
                    <legend>基本信息</legend>
                    <div>
                        <table>
                            <tr class="hideRow">
                                <td width="15%"></td>
                                <td width="35%"></td>
                                <td width="15%"></td>
                                <td width="35%"></td>
                            </tr>
                            <tr>
                                <td>
                                    WBS名称
                                </td>
                                <td>
                                    <input name="Name" class="mini-textbox" style="width: 100%;" required="true" />
                                </td>
                                <td style="padding-left: 20px">
                                    WBS值
                                </td>
                                <td>
                                    <input name="Code" class="mini-textbox" required="true" style="width: 100%" />
                                </td>
                            </tr>
                             @if(System.Configuration.ConfigurationManager.AppSettings["IsUseMultilingual"] == "True")
                             {
                                <tr>
                                    <td>
                                        WBS名称(英文)
                                    </td>
                                    <td colspan="3">
                                        <input name="NameEN" class="mini-textbox" style="width: 100%;" />
                                    </td>
                                </tr>
                             }
                            <tr>
                                <td>
                                    WBS编号
                                </td>
                                <td>
                                    <input name="WBSCode" class="mini-textbox" required="true" style="width: 100%" />
                                </td>
                                <td style="padding-left: 20px">
                                    业务类型
                                </td>
                                <td>
                                    <input name="BelongMode" class="mini-combobox" style="width: 100%;" textfield="text"
                                           valuefield="value" data="ProjectClass" allowinput="false" multiselect="true" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    排序号
                                </td>
                                <td>
                                    <input name="SortIndex" class="mini-textbox" required="true" style="width: 100%"
                                           vtype="int" />
                                </td>
                                <td style="padding-left: 20px"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    描述
                                </td>
                                <td colspan="3">
                                    <input name="Description" class="mini-textarea" style="width: 100%; height: 100px;"
                                           vtype="maxLength:100" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    @Html.GetEnum("Base.ProjectClass")
</script>
<script type="text/javascript">
    var saveBase = save;
    save = function () {
        var rowID = mini.getbyName("ID").getValue();
        var code = mini.getbyName("Code").getValue();
        var name = mini.getbyName("Name").getValue();
        addExecuteParam("rowID", rowID);
        addExecuteParam("code", code);
        addExecuteParam("name", name);
        execute("AddAuditMode", {
            onFail: function () {
                msgUI("关联校审模式失败，请联系管理员！");
            }
        });

        saveBase();
    }
</script>
