<div class="mini-splitter" style="width: 100%; height: 100%;" allowresize="true">
    <div size="150" showcollapsebutton="true">
        <div class="mini-fit">
            <ul id="dataTree" class="mini-tree" style="overflow: hidden; width: 100%; height: 100%" url="/Base/Meta/Category/GetTree?RootFullID=0" textfield="Name"
                idfield="ID" parentfield="ParentID" resultastree="false" onnodeclick="onNodeSelect" expandonload="1" contextmenu="#treeMenu" iconfield="IconClass">
            </ul>
        </div>
    </div>
    <div showcollapsebutton="false">
        <div class="mini-toolbar gw-grid-toolbar" borderstyle="border-left:0px">
            <table>
                <tr>
                    <td>
                        <a class="mini-button" iconcls="icon-add" onclick="add({url:'Edit?CategoryID={ID}&ConnName={Code}&CategoryCode={CategoryCode}',paramFrom:'dataTree'});">增加</a>
                        <a class="mini-button" iconcls="icon-copy" onclick="execute('Clone?ListID={ID}',{mustConfirm:true,mustSelectOneRow:true,actionTitle:'克隆'});">克隆</a>
                        <a class="mini-button" iconcls="icon-remove" onclick="del();">删除</a>
                        <a class="mini-button" iconcls="icon-refer" onclick="createMenu();">创建入口并授权</a>
                        <a class="mini-button" iconcls="icon-download" onclick="exportSQL();">导出SQL</a>
                        @if (System.Configuration.ConfigurationManager.AppSettings["CorpAuthEnabled"].ToLower() == "true" && Request["listType"] != "subCompany")
                        {
                            <a class="mini-button" iconcls="icon-ok" onclick="SetCompanyAuth">授权到子公司</a>
                        }
                    </td>
                    <td class="gw-toolbar-right">
                        <input id="key" class="mini-buttonedit gw-searchbox" emptytext="请输入编号或名称" onenter="quickSearch('Code,Name');" onbuttonclick="quickSearch('Code,Name');" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="mini-fit">
            <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" url="GetList" multiselect="true" borderstyle="border-left:0px;border-right:0px;border-bottom:0px" frozenstartcolumn="0" frozenendcolumn="2">
                <div property="columns">
                    <div type="checkcolumn">
                    </div>
                    <div field="Code" width="120" allowsort="true" align="center">
                        列表编号
                    </div>
                    <div field="Name" width="150" allowsort="true">
                        列表名称
                    </div>
                    <div headeralign="center" header="相关业务数据">
                        <div property="columns">
                            <div field="ConnName" width="80" allowsort="true" align="center">
                                库名
                            </div>
                            <div field="SQL" width="200" allowsort="true">
                                SQL
                            </div>
                        </div>
                    </div>
                    <div field="ModifyTime" align="center" datatype="date" dateformat="yyyy-MM-dd HH:mm" width="120" allowsort="true">
                        最后修订时间
                    </div>
                    <div headeralign="center" header="修订">
                        <div property="columns">
                            <div field="Base" width="60" align="center">
                                基本信息
                            </div>
                            <div field="LayoutGrid" width="60" align="center">
                                表格属性
                            </div>
                            <div field="LayoutField" width="60" align="center">
                                字段信息
                            </div>
                            <div field="LayoutButton" width="60" align="center">
                                按钮信息
                            </div>
                            <div field="DefaultValue" width="60" align="center">
                                数据源
                            </div>
                        </div>
                    </div>
                    <div field="PreView" width="60" align="center">
                        预览
                    </div>
                    <div field="Export" width="80" align="center">
                        导出HTML
                    </div>
                    <div field="ExportSql" width="80" align="center">
                        导出Sql
                    </div>
                    @if (System.Configuration.ConfigurationManager.AppSettings["CorpAuthEnabled"].ToLower() == "true")
                    {
                        <div field="CompanyName" width="200">
                            子公司权限
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<ul id="treeMenu" class="mini-contextmenu" onbeforeopen="onBeforeOpen">
    <li name="menuAddModule" iconcls="icon-add" onclick="nodeAdding({url:'/Base/Meta/Category/ModuleEdit'});">增加模块</li>
    <li name="menuEditModule" iconcls="icon-edit" onclick="nodeEditing({url:'/Base/Meta/Category/ModuleEdit'});">编辑模块</li>
    <li name="menuDelModule" iconcls="icon-remove" onclick="nodeDeleting({action:'/Base/Meta/Category/DeleteNode'});">删除模块</li>
    <li name="menuAddCategory" iconcls="icon-add" onclick="nodeAdding({url:'/Base/Meta/Category/CategoryEdit?Code={Code}'});">增加分类</li>
    <li name="menuEditCategory" iconcls="icon-edit" onclick="nodeEditing({url:'/Base/Meta/Category/CategoryEdit'});">编辑分类</li>
    <li name="menuDelCategory" iconcls="icon-remove" onclick="nodeDeleting({action:'/Base/Meta/Category/DeleteNode'});">删除分类</li>
</ul>
<script type="text/javascript">
    addGridLink("dataGrid", "PreView", "/MvcConfig/UI/List/PageView?TmplCode={Code}", { title: '预览列表：{Name}', linkText: '预览', width: 1000 });
    addGridLink("dataGrid", "Base", "Edit?ID={ID}", { linkText: '基本信息', width: 1000 });
    addGridLink("dataGrid", "LayoutGrid", "LayoutGridEdit?ID={ID}", { linkText: '表格属性', width: 350, refresh: false });
    addGridLink("dataGrid", "LayoutField", "LayoutFieldEdit?ID={ID}&TmplCode={Code}", { linkText: '字段信息', width: 1000, refresh: false });
    addGridLink("dataGrid", "LayoutButton", "LayoutButtonEdit?ID={ID}&TmplCode={Code}", { linkText: '按钮信息', width: 1000, refresh: false });
    addGridLink("dataGrid", "DefaultValue", "DefaultValueEdit?ListID={ID}", { linkText: '数据源', width: 1000 });
    addGridButton("dataGrid", "Export", {
        linkText: '导出HTML', onButtonClick: function (row) {
            var url = "/MvcConfig/UI/List/ExportHtml?TmplCode=" + row["Code"];
            window.location = url;
        }
    });
    addGridButton("dataGrid", "ExportSql", {
        linkText: '导出Sql', onButtonClick: function (row) {
            var url = "/Base/UI/ExportSql/SqlFile?DefID=" + row["ID"] + "&FileCode=List_" + row["Code"] + "&TableName=S_UI_List";
            window.location = url;
        }
    });
    jQuery(".gw-grid-toolbar .mini-button").hide();
</script>
<script type="text/javascript">
    //树节点点击事件
    var url = "GetList";
    function onNodeSelect(e) {
        var arr = e.node.FullID.split('.');
        var dataGrid = mini.get("dataGrid");
        if (arr.length > 1) {
            jQuery(".gw-grid-toolbar .mini-button").show();
            dataGrid.setUrl(url + "?CategoryID=" + e.node.ID + "&NodeFullID=" + e.node.FullID + "&listType=" + getQueryString("listType"));
            dataGrid.load();
        }
        else {
            var dataGrid = mini.get("dataGrid");
            dataGrid.setUrl(url + "?listType=" + getQueryString("listType"));
            dataGrid.load();
            jQuery(".gw-grid-toolbar .mini-button").hide();
        }
    }

    function onBeforeOpen(e) {
        var menu = e.sender;
        var tree = mini.get("dataTree");

        var node = tree.getSelectedNode();
        if (!node) {
            e.cancel = true;
            return;
        }
        var menuAddModule = mini.getbyName("menuAddModule", menu);
        var menuEditModule = mini.getbyName("menuEditModule", menu);
        var menuDelModule = mini.getbyName("menuDelModule", menu);
        var menuAddCategory = mini.getbyName("menuAddCategory", menu);
        var menuEditCategory = mini.getbyName("menuEditCategory", menu);
        var menuDelCategory = mini.getbyName("menuDelCategory", menu);

        if (node.ParentID == null || node.ParentID == "") {
            menuAddModule.show();
            menuEditModule.hide();
            menuDelModule.hide();
            menuAddCategory.hide();
            menuEditCategory.hide();
            menuDelCategory.hide();
        }
        else if (node.ParentID == "0") {
            menuAddModule.hide();
            menuEditModule.show();
            menuDelModule.show();
            menuAddCategory.show();
            menuEditCategory.hide();
            menuDelCategory.hide();
        }
        else {
            menuAddModule.hide();
            menuEditModule.hide();
            menuDelModule.hide();
            menuAddCategory.hide();
            menuEditCategory.show();
            menuDelCategory.show();
        }
    }

</script>
<script type="text/javascript">
    function createMenu() {
        var dataGrid = mini.get("#dataGrid");
        var rows = dataGrid.getSelecteds();
        if (rows.length != 1) {
            msgUI("请选择一行！");
            return;
        }
        var url = "CreateMenu?ListID=" + rows[0]["ID"];
        execute(url, {
            onComplete: function (text) {
                msgUI("创建菜单入口成功！");
            }
        });
    }
</script>
<script type="text/javascript">
    function exportSQL() {
        var grid = mini.get("dataGrid");
        var rows = grid.getSelecteds();
        if (rows.length == 0) {
            msgUI("请选择记录！");
            return;
        }
        var url = "/Base/UI/ExportSql/SqlFile?DefID=" + getValues(rows, "ID") + "&FileCode=ListSql&TableName=S_UI_List";
        window.location = url;
    }

    function SetCompanyAuth() {
        openWindow("/MvcConfig/Auth/Org/Selector?SelectMode=Multi", {
            mustSelectRow: true,
            onDestroy: function (data) {
                var selectRowIds = getValues(mini.get("dataGrid").getSelecteds(), "ID");
                var orgIds = getValues(data, "ID");
                var orgNams = getValues(data, "Name");

                addExecuteParam("objIds", selectRowIds);
                addExecuteParam("orgIds", orgIds);
                addExecuteParam("orgNames", orgNams);
                execute("SetCompanyAuth", { actionTitle: "授权" })
            }
        })
    }
</script>
