        <div class="mini-fit">
            <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" url="Select" multiselect="true" borderstyle="border-left:0px;border-right:0px;border-bottom:0px" >
                <div property="columns">
                    <div type="indexcolumn">
                    </div>
                    <div field="Name" width="230" allowsort="true" align="center">
                        名称</div>
                    <div field="CreateTime" dateformat="yyyy-MM-dd HH:mm" width="120" allowsort="true" align="center">
                        创建时间</div>
                    <div headeralign="center" header="操作"  width="120" >
                        <div property="columns">
                            <div field="Delete" width="60" align="center">
                                删除</div>
                            <div field="PreView" width="60" align="center">
                                预览</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
    addGridLink("dataGrid", "PreView", "{Url}", { title: '预览列表：{Name}', linkText: '预览', width: '80%' });
    addGridButton("dataGrid", "Delete", {
        linkText: '删除', onButtonClick: function (row) {
            var url = "/Base/PortalBlock/ShortCut/DeleteShortCut?ID=" + row["ID"];
            msgUI("确认要删除该记录？", 2, function (action) {
                if (action == "ok") {
                    execute(url, {
                        onComplete: function (data, settings) {
                            mini.get("dataGrid").reload();
                        }
                    });
                }
            });
        }
    });
</script>