
/* 供portalLTE内嵌的网页使用  */
body, td, th
{
    font-family: "微软雅黑",Arial,sans-serif;
    font-size: 13px;
    color: #666;
}

td
{
    line-height: 18px;
}

h1
{
    font-size: 24px;
    color: #000;
}

.mini-menu-popup
{
    padding: 0px;
    border: solid 1px #cfd6da;
    background: #cfd6da;
}

.mini-textbox-border
{
    background: white;
    border: solid 1px #cccccc;
    border-radius: 5px;
    padding: 0px: 5px;
    width: auto;
    height: 29px;
    display: block;
    position: relative;
    overflow: hidden;
    padding-left: 1px;
    padding-right: 1px;
}

.mini-textbox-input
{
    height: 29px;
    line-height: 20px;
}

.mini-textarea .mini-textbox-border
{
}

.mini-textbox
{
    height: 31px;
    margin: 0px 0;
}

body .mini-textarea
{
    height: 100%;
    min-height: 100px;
}

.mini-buttonedit-border
{
    background: white;
    border: solid 1px #cccccc;
    width: auto;
    border-radius: 5px;
    padding: 5px;
    height: 19px;
    display: block;
    position: relative;
    overflow: hidden;
    padding-right: 22px;
    padding-left: 1px;
}

.mini-buttonedit
{
    height: 31px;
    margin: 0px 0;
}

.mini-buttonedit-buttons
{
    top: 4px;
}

fieldset
{
    border-bottom: 0px #cdcdcd solid;
    border-left: 0px #cdcdcd solid;
    border-right: 0px #cdcdcd solid;
    border-top: 1px #e8e9ec solid;
}

.mini-toolbar
{
    border: 0px;
    padding: 2px;
    background-image: none;
    background-color: #f9f9f9;
    font-family: "微软雅黑",Arial,sans-serif;
    min-height: 37px;
}
.mini-toolbar>table
{
    min-height: 37px;
}
.mini-layout-region .mini-toolbar,.mini-layout-region .mini-toolbar>table {
    min-height:initial;
}

.mini-layout
{
    width: 500px;
    height: 250px;
    overflow: hidden;
    font-size: 14px;
    font-family: "微软雅黑",Arial,sans-serif;
}

    .mini-layout legend
    {
        font-size: 13px;
        font-family: "微软雅黑",Arial,sans-serif;
    }

.mini-tabs-bodys
{
    padding: 0px;
}

.mini-tab-active
{
    border-bottom: solid 1px #f9f9f9;
    background: #f9f9f9;
}

.bootstrap-toolbar
{
    border-top: solid 1px #ccc !important;
    border-right: solid 1px #ccc !important;
    height: 37px !important;
}

.mini-button
{
    font-size: 12px;
    font-family: "微软雅黑",Arial,sans-serif;
}
.mini-flow-button {
    min-width: 80px;
    line-height: 25px;
    font-family: 微软雅黑;
    text-align: center;
    padding-left: 12px;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #3c8dbc, #2e88c0);
    background: -moz-linear-gradient(top, #3c8dbc, #2e88c0);
    background: linear-gradient(top, #3c8dbc, #2e88c0);
    background: -ms-linear-gradient(top, #3c8dbc, #2e88c0);
    background-color: #2e88c0;
    border: 1px solid #2576A8;
    box-shadow: none!important;
    color: #fff;
    text-shadow: 1px 1px 0.5px #22629B;
	-webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.mini-flow-button:hover {transform: scale(1.1); }
.mini-menu-horizontal .mini-separator {
    height: 19px !important;
}
.mini-listbox-header
{
    background-image: none;
    background-color: #f9f9f9;
    border: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
}

.mini-listbox-showColumns .mini-listbox-header td
{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.mini-listbox-showColumns .mini-listbox-view td
{
    padding-top: 4px;
    padding-bottom: 6px;
}

.mini-listbox .mini-listbox-checkbox
{
    width: 28px;
}

.mini-grid-headerCell
{
    background-image: none;
    background-color: #f9f9f9;
    border-right: #ececec 1px solid;
    border-bottom: #ccc 1px solid;
}

.mini-grid-topRightCell
{
    background-image: none;
    background-color: #f9f9f9;
    border-right: #ccc 0px solid;
    border-bottom: #ccc 1px solid;
}

.mini-panel-border
{
        border: 1px solid rgba(14,61,110,1);
}

.mini-grid-border
{
    border: 1px solid #ccc;
}

.mini-grid-cell-inner, .mini-grid-headerCell-inner
{
    font-size: 12px;
    font-family: "微软雅黑",Arial,sans-serif;
}

.mini-grid-headerCell-outer
{
    position: relative;
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.mini-grid-cell
{
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 6px;
	border-right: #ececec 1px solid;
}

    .mini-grid-cell:hover
    {
        background-color: #dbe2e9 !important;
    }

.nav-slider .close-slider:hover
{
    background-color: #009bdb!important;
}

.nav-tabs > li:hover a
{
    background-color: #dbe2e9 !important;
}

.mini-grid-newRow
{
    background: #FFF;
}

.mini-splitter-border
{
    border: solid 1px #ccc;
}

.mini-splitter-pane2
{
    border-left: solid 1px #ccc;
}

.mini-radiobuttonlist table label
{
    font-size: 12px;
    font-family: "微软雅黑",Arial,sans-serif;
    line-height: 29px;
}

.mini-checkbox
{
    font-size: 12px;
    font-family: "微软雅黑",Arial,sans-serif;
}

.mini-auditsign div
{
    border: 1px solid #ccc !important;
    border-radius: 5px;
}

.mini-auditsign table
{
    border: 0px solid #ccc;
    margin: 10px;
    border-radius: 5px;
}

input, textarea, keygen, select, button
{
    font-size: 12px;
    font-family: "微软雅黑",Arial,sans-serif !important;
}

.mini-menu-horizontal .mini-menu-inner
{
    padding: 6px;
    _padding-bottom: 7px;
    background-image: none;
    background-color: #cfd6da;
}

.mini-menu-border
{
    border-bottom: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

.mini-menu
{
    font-size: 12px;
    font-family: "微软雅黑",Arial,sans-serif;
}
/*.mini-menuitem
{
    line-height: 20px;
    height: auto;
    width: auto;
    position: relative;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding: 8px;
    margin-right: 10px;
}*/
.mini-menuitem-hover
{
    border: solid 1px #cfd6da;
    background-color: #cfd6da;
    background-image: none;
    color: #cfd6da;
}

.mini-menuitem-hover .mini-menuitem-text
{
    color: #FFF;
}

.mini-menuitem-icon, .mini-menuitem-allow
{
    width: 0px !important;
}

.mini-panel-header
{
    background-color: rgb(60, 141, 188);
    background-image: none;
}

.mini-window .mini-panel-header
{
    background-image: none;
    background-color:rgba(54, 106, 160, 0.8) !important;
	border-bottom: solid 1px rgba(54, 106, 160, 0.8) !important;
}

.mini-panel .mini-panel-title
{
    font-family: "微软雅黑",Arial,sans-serif;
    color: #FFF;
    font-size: 13px;
}

.gw-grid-toolbar
{
    height: 37px;
}

#btnDiv
{
    border-bottom: solid 1px #ccc;
    border-right: 0px;
    z-index: 999;
}

.mini-panel-header-inner
{
    padding-top: 10px;
    padding-left: 16px;
}

.mini-panel .mini-tools
{
    top: 10px;
    right: 8px;
}

.mini-tools span
{
    margin-right: 5px;
}

.mini-panel-header
{
    height: 35px;
}

.mini-textbox-input, .mini-buttonedit-input
{
    text-indent: 10px;
}

.mini-grid-editwrap .mini-textbox
{
    margin-top: -4px;
}

.mini-grid-editwrap .mini-buttonedit
{
    margin-top: -4px;
}

.mini-tab
{
    font: 12px "微软雅黑",Arial,sans-serif;
    background-image: none;
}

.mini-htmlfile .mini-buttonedit-button
{
    font: 12px "微软雅黑",Arial,sans-serif;
    background-image: none;
    border: 0px;
}

.mini-grid-pager
{
    background-image: none;
    background-color: #f9f9f9;
}

.main-header .logo
{
    background: url(../PortalLTE/Images/jhlogo.png) center no-repeat;
}

    .main-header .logo .logo-lg
    {
        display: none;
    }

.mini-modal
{
    opacity: .7;
    background: #000;
}

.mini-buttonedit-button
{
    padding-right: 3px;
}

.mini-buttonedit-button-hover
{
    color: #FFF;
}

.mini-pager-left .mini-buttonedit-border
{
    padding-top: 0px;
    padding-bottom: 0px;
}

.mini-pager-left .mini-buttonedit-buttons
{
    top: 0px;
}

.mini-pager-left .mini-buttonedit
{
    height: 21px;
}

.mini-pager .mini-button-iconOnly
{
    padding-top: 4px;
}

.mini-pager-num
{
    border-radius: 5px;
    height: 17px;
}

.sidebar-menu .treeview-menu > li > a
{
    padding: 5px 5px 5px 25px;
    display: block;
    font-size: 13px;
}

.mini-tree .mini-tree-icon
{
    line-height: 20px;
	font-family: FontAwesome;
}

/* 图标*/
.mini-button-disabled span
{
    color: #777!important;
}

.mini-button .mini-button-icon
{
    padding-left: 5px;
    padding-top: 4px;
}

.mini-tools-max, .mini-tools-close, .mini-tools-restore
{
    color: #FFF;
    background-image: none;
    font: normal normal normal 14px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    .mini-tools-max:before
    {
        content: "\f065";
    }

    .mini-tools-close:before
    {
        content: "\f00d";
    }

    .mini-tools-restore:before
    {
        content: "\f068";
    }

.icon-help, .icon-user, .icon-major, .gw-searchbox .mini-buttonedit-icon
{
    background-image: none;
    font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-excel-up, .icon-copy., icon-userremove, .icon-help
{
    background-image: none;
    font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-noimage, .icon-project, .icon-undo, .icon-unlock
{
    background-image: none;
    font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-remove, .icon-edit, .icon-add, .icon-save, .icon-refer
{
    background-image: none;
    font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cancel, .mini-pager-reload, .mini-pager-prev, .mini-pager-first
{
    background-image: none;
    font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mini-pager-last, .mini-pager-next, .mini-button-icon
{
    background-image: none;
    font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.send, .collect, .receive, .delete, .mini-datepicker .mini-buttonedit-icon
{
    background-image: none !important;
    font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-extend-upload, .icon-extend-filedelete, .icon-extend-trash, .icon-extend-download, .icon-extend-checked
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px !important;
    text-align: center;
    background-image: none !important;
    font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mini-tree-leaf, .mini-tree-expand .mini-tree-folder, .mini-tree-folder
{
    background-image: none;
    font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-switch, .icon-find, .icon-undo, .icon-reject
{
    background-image: none !important;
    font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-auditing_pass, .end
{
    background-image: none !important;
    font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-extensions:before
{
    content: "\f152";
    padding-right: 5px;
    font-size: 14px;
}

.icon-zoomin:before
{
    content: "\f00e";
    padding-right: 5px;
    font-size: 14px;
}

.icon-print:before
{
    content: "\f04d";
    padding-right: 5px;
    font-size: 14px;
}

.end:before
{
    content: "\f04d";
    padding-right: 5px;
    font-size: 14px;
}

.icon-auditing_pass:before
{
    content: "\f0e8";
    padding-right: 5px;
    font-size: 14px;
}

.icon-flowstart:before
{
    content: "\f126";
    padding-right: 5px;
    font-size: 14px;
}

.icon-word:before
{
    content: "\f1c2";
    padding-right: 5px;
    font-size: 14px;
}

.icon-reject:before
{
    content: "\f165";
    padding-right: 5px;
    font-size: 14px;
}

.icon-redo:before
{
    content: "\f122";
    padding-right: 5px;
    font-size: 14px;
}

.icon-upload:before
{
    content: "\f093";
    padding-right: 5px;
    font-size: 14px;
}

.icon-excel-import:before
{
    content: "\f1c3";
    padding-right: 5px;
    font-size: 14px;
}

.icon-node:before
{
    content: "\f1e0";
    padding-right: 5px;
    font-size: 14px;
}

.icon-close:before
{
    content: "\f00d";
    padding-right: 5px;
    font-size: 14px;
}

.icon-switch:before
{
    content: "\f079";
    padding-right: 5px;
    font-size: 14px;
}

.mini-tree-leaf:before
{
    content: "\f0f6";
    padding-right: 5px;
    font-size: 14px;
}

.mini-tree-expand .mini-tree-folder:before
{
    content: "\f07c";
    padding-right: 5px;
    font-size: 14px;
}

.mini-tree-folder:before
{
    content: "\f07b";
    padding-right: 5px;
    font-size: 14px;
}

.icon-extend-upload:before
{
    content: "\f0ee";
    padding-right: 5px;
    font-size: 14px;
}

.icon-extend-checked:before
{
    content: "\f046";
    padding-right: 5px;
    font-size: 14px;
}

.icon-extend-filedelete:before
{
    content: "\f00d";
    padding-right: 5px;
    font-size: 14px;
}

.icon-extend-trash:before
{
    content: "\f1f8";
    padding-right: 5px;
    font-size: 14px;
}

.icon-extend-download:before
{
    content: "\f019";
    padding-right: 5px;
    font-size: 14px;
}

.mini-datepicker .mini-buttonedit-icon:before
{
    content: "\f073";
    padding-right: 5px;
    font-size: 14px;
}

.delete:before
{
    content: "\f1f8";
    padding-right: 5px;
    font-size: 14px;
}

.receive:before
{
    content: "\f0e0";
    padding-right: 5px;
    font-size: 14px;
}

.send:before
{
    content: "\f1d9";
    padding-right: 5px;
    font-size: 14px;
}

.collect:before
{
    content: "\f005";
    padding-right: 5px;
    font-size: 14px;
}

.mini-pager-first:before
{
    content: "\f049";
    padding-right: 5px;
    font-size: 14px;
}

.mini-pager-prev:before
{
    content: "\f048";
    padding-right: 5px;
    font-size: 14px;
}

.mini-pager-next:before
{
    content: "\f051";
    padding-right: 5px;
    font-size: 14px;
}

.mini-pager-last:before
{
    content: "\f050";
    padding-right: 5px;
    font-size: 14px;
}

.icon-dept:before
{
    content: "\f0c0";
    padding-right: 5px;
    font-size: 14px;
}

.icon-cancel:before
{
    content: "\f00d";
    padding-right: 5px;
    font-size: 14px;
}

.mini-pager-reload:before
{
    content: "\f021";
    padding-right: 5px;
    font-size: 14px;
}

.gw-searchbox .mini-buttonedit-icon:before
{
    content: "\f002";
}

.icon-help:before
{
    content: "\f059";
    padding-right: 5px;
    font-size: 14px;
}

.icon-user:before
{
    content: "\f007";
    padding-right: 5px;
    font-size: 14px;
}

.icon-major:before
{
    content: "\f08b";
    padding-right: 5px;
    font-size: 14px;
}

.icon-excel-up:before
{
    content: "\f1c3";
    padding-right: 5px;
    font-size: 14px;
}

.icon-copy:before
{
    content: "\f0c5";
    padding-right: 5px;
    font-size: 14px;
}

.icon-usermove:before
{
    content: "\f0c0";
    padding-right: 5px;
    font-size: 14px;
}

.icon-excel:before
{
    content: "\f1c3";
    padding-right: 5px;
    font-size: 14px;
}

.icon-userremove:before
{
    content: "\f235";
    padding-right: 5px;
    font-size: 14px;
}

.icon-noimage:before
{
    content: "\f1c5";
    padding-right: 5px;
    font-size: 14px;
}

.icon-project:before
{
    content: "\f013";
    padding-right: 5px;
    font-size: 14px;
}

.icon-undo:before
{
    content: "\f0e2";
    padding-right: 5px;
    font-size: 14px;
}

.icon-unlock:before
{
    content: "\f09c";
    padding-right: 5px;
    font-size: 14px;
}

.icon-remove:before
{
    content: "\f057";
    padding-right: 5px;
    font-size: 14px;
}

.icon-pdf:before
{
    content: "\f02f";
    padding-right: 5px;
    font-size: 14px;
}

.icon-edit:before
{
    content: "\f044";
    padding-right: 5px;
    font-size: 14px;
}

.icon-add:before
{
    content: "\f0fe";
    padding-right: 5px;
    font-size: 14px;
}

.icon-save:before
{
    content: "\f0c7";
    padding-right: 5px;
    font-size: 14px;
}

.icon-refer:before
{
    content: "\f0c7";
    padding-right: 5px;
    font-size: 14px;
}

.icon-org:before
{
    content: "\f013";
    padding-right: 5px;
    font-size: 14px;
}

.icon-download:before
{
    content: "\f019";
    padding-right: 5px;
    font-size: 14px;
}

.icon-setting:before
{
    content: "\f013";
    padding-right: 5px;
    font-size: 14px;
}

.icon-setting2:before
{
    content: "\f019";
    padding-right: 5px;
    font-size: 14px;
}

.icon-addnew:before
{
    content: "\f055";
    padding-right: 5px;
    font-size: 14px;
}

.icon-find:before
{
    content: "\f1e5";
    padding-right: 5px;
    font-size: 14px;
}

.icon-filter:before
{
    content: "\f0b0";
    padding-right: 5px;
    font-size: 14px;
}

.icon-clear:before
{
    content: "\f12d";
    padding-right: 5px;
    font-size: 14px;
}

.icon-up:before
{
    content: "\f062";
    padding-right: 5px;
    font-size: 14px;
}

.icon-down:before
{
    content: "\f063";
    padding-right: 5px;
    font-size: 14px;
}

.icon-extend-preview:before
{
    content: "\f06e";
    padding-right: 5px;
    font-size: 14px;
}

.icon-ok:before
{
    content: "\f00c";
    padding-right: 5px;
    font-size: 14px;
}

.icon-goto:before
{
    content: "\f277";
    padding-right: 5px;
    font-size: 14px;
}

.icon-downgrade:before
{
    content: "\f0ab";
    padding-right: 5px;
    font-size: 14px;
}

.icon-search:before
{
    content: "\f002";
    padding-right: 5px;
    font-size: 14px;
}

.icon-split:before
{
    content: "\f002";
    padding-right: 5px;
    font-size: 14px;
}

.icon-lock:before
{
    content: "\f002";
    padding-right: 5px;
    font-size: 14px;
}

.icon-pause:before
{
    content: "\f04c";
    padding-right: 5px;
    font-size: 14px;
}

.icon-stop:before
{
    content: "\f04d";
    padding-right: 5px;
    font-size: 14px;
}



.mini-textbox-input, .mini-buttonedit-input
{
    text-indent: 10px;
}

.uploadify:hover
{
    background-color: #3c8dbc;
    color: #FFF !important;
}
.mini-button.mini-button-plain {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    border: 0px solid rgba(255,255,255,0.5);
	margin-top:1px;
}
.mini-button.mini-button-plain:hover
{
    background-image: none;
    border: 1px solid #2576A8;
    color: #FFF !important;
    border-radius: 5px;
	background-color: #2e88c0 !important;
	 box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
	 margin-top:-1px;

}
body .mini-button-pressed, body a:hover.mini-button-pressed, body .mini-button-checked, body a:hover.mini-button-checked, body a.mini-button-popup, body a:hover.mini-button-popup {
    border: 1px solid #2576A8 !important;
    padding: 0px;
    color: #201F35 !important;
	border-radius: 5px;
    background-color: #97c5e2 !important;
	background-image:none;
}

.mini-button-text.mini-button-icon:hover
{
    color: #FFF !important;
}

.mini-buttonedit-button-hover
{
    color: #FFF !important;
    background-image: none;
    background-color: #3c8dbc;
    border: 1px solid #3c8dbc;
}

#tdUpload a
{
    height: 20px;
    color: #333;
    background-image: none !important;
    font: normal normal normal 12px/14px FontAwesome, "微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#tdUpload object
{
    position: absolute;
    left: 5px;
    top: 5px;
}

#tdUpload a:before
{
    content: "\f0ee";
    padding-right: 61px;
    font-size: 14px;
}

.formDiv
{
    padding-left: 50px;
    padding-bottom: 35px;
    padding-right: 50px;
    padding-top: 25px;
}
.formDiv fieldset legend {
    font-weight: bold;
    font-size: 15px;
    padding: 0px 25px 0px 20px;
    margin-left: -60px;
    border-left: 5px solid #345a80;
    color: #375b81;}
.formTable h3
{
    font-size: 24px;
}

.file_search_bg
{
    height: 37px !important;
}

.mini-tree-selectedNode .mini-tree-nodeshow
{
    background-image: none;
}

.file_search_bg .mini-list-inner
{
    margin-top: 6px;
}

.left_filter_left
{
    padding-left: 2px !important;
    padding-top: 0px !important;
}

    .left_filter_left .mini-checkbox .mini-checkbox-check
    {
        margin: 7px 0 0 7px !important;
    }

.class1 textarea
{
    height: 66px !important;
    min-height: 66px !important;
}

.skin-green-light .main-header .navbar
{
    background-color: #9a9a9a;
}

.skin-green-light .main-header .logo
{
    background-color: #a9a9a9;
}

.bg-gray-active
{
    background-color: #a9a9a9;
}

.bg-gray
{
    background-color: #9a9a9a;
}

.mini-singlefile-border
{
    display: inline-block;
    height: 21px;
    overflow: hidden;
    vertical-align: middle;
    background: white;
    border: solid 1px #cccccc;
    width: auto;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    padding-right: 22px;
    padding-left: 1px;
    display: block;
}

.mini-singlefile
{
    height: auto;
}

.mini-singlefile-button
{
    margin-top: 7px;
}

.mini-singlefile-remove
{
    margin-top: 8px;
}

.searchbox
{
    padding-top: 4px !important;
}

    .searchbox .mini-buttonedit-border
    {
        padding: 3px;
    }

.gw-searchbox
{
    padding-top: 4px !important;
}

    .gw-searchbox .mini-buttonedit-border
    {
        padding: 3px;
    }
/* 渐变蓝样式 */
/*.skin-yellow-light {background: url(../PortalLTE/Images/skinyellowbg.jpg) top repeat-x!important;}*/
.skin-yellow-light .main-header li.user-header
{
    background-color: #3378A1;
}

.skin-yellow-light .main-sidebar
{
    background-color: #f4f5f9;
    box-shadow: -0px -0px 6px #888888;
}

.skin-yellow-light .main-header
{
    background: url(../PortalLTE/Images/skinyellowbg02.jpg) center repeat-x !important;
}

    .skin-yellow-light .main-header .logo
    {
        background-color: rgba(255,255,255,.0) !important;
    }

        .skin-yellow-light .main-header .logo:hover
        {
            background-color: rgba(255,255,255,.1) !important;
        }

    .skin-yellow-light .main-header .navbar
    {
        background-color: rgba(255,255,255,0) !important;
    }

        .skin-yellow-light .main-header .navbar .sidebar-toggle
        {
            padding: 16px 15px !important;
        }

            .skin-yellow-light .main-header .navbar .sidebar-toggle:hover
            {
                background: rgba(0,0,0,0.1);
                -moz-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Firefox3.6+ */
                -webkit-box-shadow: -0px -0px 2px rgba(0,0,0,0.2) inset; /* For Chrome5+, Safari5+ */
                box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Latest Opera */
            }

        .skin-yellow-light .main-header .navbar #one-menu li
        {
            margin-top: 0px !important;
            height: 50px !important;
            line-height: 50px !important;
        }

            .skin-yellow-light .main-header .navbar #one-menu li.active
            {
                background: rgba(40,99,136,1) !important;
                -moz-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Firefox3.6+ */
                -webkit-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Chrome5+, Safari5+ */
                box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Latest Opera */
            }

            .skin-yellow-light .main-header .navbar #one-menu li:hover
            {
                background: rgba(255,255,255,0.1) !important;
                -moz-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Firefox3.6+ */
                -webkit-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Chrome5+, Safari5+ */
                box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Latest Opera */
            }

.skin-yellow-light .sidebar-menu > li.active > a
{
    background: rgba(0,0,0,0.1) !important;
    -moz-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Firefox3.6+ */
    -webkit-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Chrome5+, Safari5+ */
    box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Latest Opera */
    border-left: 0px;
}

/* 渐变蓝灰样式 */
/*.skin-red-light {background: url(../PortalLTE/Images/skinyellowbg.jpg) top repeat-x!important;}*/
.skin-red-light .main-header li.user-header
{
    background-color: #d5d5d5;
}

.skin-red-light .main-sidebar
{
    background-color: #f4f5f9;
    box-shadow: -0px -0px 6px #888888;
}

.skin-red-light .main-header .logo
{
    background: url(../PortalLTE/Images/skinyellowbglogo.jpg) center repeat-x !important;
}

.skin-red-light .main-header
{
    background: url(../PortalLTE/Images/skinyellowbg01.jpg) center repeat-x !important;
}

    .skin-red-light .main-header .logo
    {
        background-color: rgba(255,255,255,.0) !important;
    }

        .skin-red-light .main-header .logo:hover
        {
            background-color: rgba(255,255,255,.1) !important;
        }

    .skin-red-light .main-header .navbar
    {
        background-color: rgba(255,255,255,0) !important;
    }

        .skin-red-light .main-header .navbar .sidebar-toggle
        {
            padding: 16px 15px !important;
            color: #666;
        }

        .skin-red-light .main-header .navbar .nav > li > a
        {
            color: #666;
        }

        .skin-red-light .main-header .navbar .sidebar-toggle:hover
        {
            background: rgba(0,0,0,0.1);
            -moz-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Firefox3.6+ */
            -webkit-box-shadow: -0px -0px 2px rgba(0,0,0,0.2) inset; /* For Chrome5+, Safari5+ */
            box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Latest Opera */
        }

        .skin-red-light .main-header .navbar #one-menu li
        {
            margin-top: 0px !important;
            height: 50px !important;
            line-height: 50px !important;
            color: #666666;
        }

            .skin-red-light .main-header .navbar #one-menu li.active
            {
                background: rgba(0,0,0,0.1) !important;
                -moz-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Firefox3.6+ */
                -webkit-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Chrome5+, Safari5+ */
                box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Latest Opera */
            }

            .skin-red-light .main-header .navbar #one-menu li:hover
            {
                background: rgba(255,255,255,0.1) !important;
                -moz-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Firefox3.6+ */
                -webkit-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Chrome5+, Safari5+ */
                box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Latest Opera */
            }

.skin-red-light .sidebar-menu > li.active > a
{
    background: rgba(0,0,0,0.1) !important;
    -moz-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Firefox3.6+ */
    -webkit-box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Chrome5+, Safari5+ */
    box-shadow: -0px -0px 5px rgba(0,0,0,0.2) inset; /* For Latest Opera */
    border-left: 0px;
}

/* 蓝白样式 */
.login-head
{
    background-color: rgba(204,204,204,.8) !important;
}

.bg-header-pic
{
    background: url(/PortalLTE/Images/user-bg.jpg) no-repeat !important;
    background-size: 100% 100% !important;
}

.btnLogin
{
    background-color: #0e58a6 !important;
}

    .btnLogin:hover
    {
        background-color: #2578cf !important;
    }

.box.box-primary
{
    border-top-color: #009bdb !important;
}

.main-header .logo
{
    background-color: rgba(14,61,110,0.8) !important;
    border-bottom: 0px solid #009bdb !important;
    border-right: 0px solid #eee !important;
    height:51px;
}

.main-header .sidebar-toggle
{
    padding: 27px 15px !important;
}

.main-header .navbar
{
	background-image:none !important;
    background-color: rgba(14,61,110,0.8) !important;
}

    .main-header .navbar #one-menu li.active
    {
        background: rgba(0,0,0,0.3) !important;
        border-bottom: 0px solid #2677d0;
        box-shadow: -0px 0 5px #006c99 inset;
        color: #fff;
    }

#one-menu li, .skin-black-light #one-menu li
{
    color: #fff !important;
}

#one-menu li
{
    height:76px !important;
    margin-top: 0px !important;   
    line-height:76px !important;
}

.main-header .navbar #one-menu li:hover
{
    background: rgba(0,0,0,0.3) !important;
    border-bottom: 0px solid #2677d0;
    color: #fff !important;
    box-shadow: -0px 0 0px #006c99 inset;
}

.main-header .navbar .sidebar-toggle:hover
{
    background: rgba(0,0,0,0.3) !important;
}

.main-header > .navbar > .sidebar-toggle
{
    color: #fff !important;
    border-right: 0px solid #eee !important;
}

.main-header > .navbar .navbar-custom-menu .navbar-nav > li > a, .skin-black .main-header > .navbar .navbar-right > li > a
{
    border-left: 0px solid #eee !important;
    border-right-width: 0;
    color: #fff !important;
	line-height: 46px !important;
    background: rgba(0,0,0,0) !important;
}
.main-header .navbar .nav>li>a>.label {top: 20px;}
    .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a:hover
    {
        background: rgba(0,0,0,0.3) !important;
    }

    .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a:hover
    {
        background: rgba(0,0,0,0.3) !important;
    }

#indexOne .navs
{
    background:rgba(54, 106, 160, 0.8) !important;
}

#indexOne .url-active .now
{
    color: #fff;
    padding: 0 0 0 0px;
}

#indexOne .url-active span
{
    color: #ccc;
}

#indexOne .chose-room
{
    display: inline-block;
    padding: 4px 14px;
    background-color: #FFF;
    margin-top: 6px;
    color: #555;
}

#indexOne #navss
{
    background: rgba(255,255,255,0.3) !important;
    border-top: 0px;
}

#navss .nav-pills > .active a
{
    background-color: rgba(255,255,255,1) !important;
    color: #333 !important;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 1px -1px 2px rgba(0,0,0,0.2);
}

.close-iframe
{
    color: #333 !important;
}

#navss .nav > li > a
{
    padding: 6px 25px !important;
    margin-top: 6px !important;
}

#navss .nav-pills > li > a
{
    background-color:rgba(54, 106, 160, 0.3) !important;
    color: #fff !important;
    border-radius: 5px 5px 0px 0px !important;
}

#indexOne .navs .icon-double-angle-up
{
    color: #80daff !important;
}

#slider-container
{
    background-color: rgba(236,242,248,0.7) !important;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    width: 245px !important;
}

#more
{
    width: 113px!important;
    ;
}

.spbg .mini-tree-selectedNode
{
    background-color: #c9d4de !important;
    color: #333 !important;
}

.spbg .mini-tree-selectedNode
{
    background-color:rgba(54, 106, 160, 0.8) !important;
    color: #333 !important;
}

.divsplit
{
    border-top: 1px solid #f7f7f7 !important;
}

#slider-container span
{
    color: #555!important;
    font-weight: bold;
}

.mini-tree-nodes-td .mini-grid-row tr:hover
{
    background-color: #d6d8dd !important;
    color: #333 !important;
}

.spbg .mini-tree-selectedNode tr:hover
{
    background-color: #d6d8dd !important;
    color: #333 !important;
}

#slider-container .mini-tree-selectedNode .mini-tree-nodeshow span
{
    color: #fff !important;
}

.mini-grid-row
{
    background-color: transparent;
}

.slider-container-content
{
    background-color: transparent !important;
}

.nav-slider
{
    background-color: rgba(0,0,0,1) !important;
}

#slider-container .mini-tree-nowrap .mini-tree-nodetext
{
    color: #555 !important;
}

.mini-tree-nowrap .mini-tree-nodetitle:hover
{
    background-color:#c6cfd8 !important;
}

.control-img
{
    background-color: #009bdb !important;
}

.skin-black .main-header li.user-header
{
    background-color: rgba(0,0,0,0.5) !important;
}

.tab-content-title
{
    background-color: rgba(255,255,255,0.95) !important;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

.tab-content--bottom-slider
{
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

.tab-content--bottom-content-top
{
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

.tab-title-left h4
{
    color: #333 !important;
}

    .tab-title-left h4 span
    {
        font-size: 12px;
        color: #999;
    }

.tab-title-left, .tab-title-right
{
    color: #666666 !important;
}

.tab-content-contents-left-publish
{
    background-color: rgba(255,255,255,1) !important;
}

.tab-content-contents-forum div:last-child
{
    border-top: 1px solid #ededed !important;
}

.tab-content-contents-forum div p
{
    font-size: 18px !important;
    color: #0f3e6f !important;
}

.tab-content-contents-forum div span
{
    color: #0f3e6f !important;
    font-weight: normal !important;
}

.tab-content-contents-left-publish ul
{
    border-right: 1px solid #ededed !important;
}

    .tab-content-contents-left-publish ul li a
    {
        color: #333 !important;
    }

.tab-content-state
{
    padding: 20px 11px 3px 11px;
    background: rgba(255,255,255,0.7) !important;
    border-radius: 7px;
    margin: 15px 0px;
}

.tab-content-contents-right th
{
    color: #0f3e6f !important;
}

.tab-content-contents-right .info-one div span:first-child
{
    color: black !important;
}

.tab-content-contents-right .info-one:hover div:last-child, .tab-content-contents-right .info-one:hover div:first-child
{
    color: #0f3e6f !important;
}

.tab-content-title .left-img
{
    background: url(/Project/Scripts/EngineeringSpace/images/PBicon.png) center;
}

.tab-title-right .has-mar span
{
    color: #666666 !important;
}

.todoListtop ul .active
{
    border-bottom: 2px solid #5487d1 !important;
}

.state-panel
{
    padding: 3px 6px 3px 15px;
    background-position: center left;
      background-image: url(/CommonWebResource/RelateResource/image/tag.png) !important;
    background-repeat: no-repeat;
    margin-left: 8px;
    line-height: 20px;
    color: #666666;
    font-size: 13px;
}

.edlink
{
     background-image: url(/CommonWebResource/RelateResource/image/link.png) !important;
    height: 17px;
    background-repeat: no-repeat;
    float: left;
    background-position: center left;
    padding-left: 17px;
    padding-right: 10px;
}

.edtag
{
    height: 17px;
    background-repeat: no-repeat;
    float: left;
    border-radius: 15px;
}

.tab-content--bottom-content-bottom ul > .active
{
    border-bottom: 3px solid #2d89d6 !important;
}

.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a
{
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}

.sidebar-menu > li > a
{
    border-left: 3px solid transparent;
}

.treeview-menu > li > a
{
    color: #8aa4af;
}

.treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover
{
    color: #fff;
}

.sidebar a:hover
{
    text-decoration: none;
}


.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a
{
    color: #fff;
    background: #3d638a;
    border-left-color: #2a4460;
}

..sidebar-menu > li > a
{
    border-left: 3px solid transparent;
}

.treeview-menu > li > a
{
    color: #555;
}

.treeview-menu > li.active > a
{
    color: #555;
    font-weight: bold;
}

.treeview-menu > li > a:hover
{
    color: #fff;
    background: #3d638a;
}

.sidebar a:hover
{
    text-decoration: none;
}

.sidebar a
{
    color: #555;
}

.sidebar-menu .treeview-menu
{
    padding-left: 0px !important;
}

    .sidebar-menu .treeview-menu > li > a
    {
        padding-left: 32px !important;
    }

    .sidebar-menu .treeview-menu .treeview-menu > li > a
    {
        padding-left: 45px !important;
    }

    .sidebar-menu .treeview-menu .treeview-menu .treeview-menu > li > a
    {
        padding-left: 58px !important;
    }

    .sidebar-menu .treeview-menu .treeview-menu .treeview-menu .treeview-menu > li > a
    {
        padding-left: 71px !important;
    }

    .sidebar-menu .treeview-menu .treeview-menu .treeview-menu .treeview-menu .treeview-menu > li > a
    {
        padding-left: 84px !important;
    }

    .sidebar-menu .treeview-menu .treeview-menu .treeview-menu .treeview-menu .treeview-menu .treeview-menu > li > a
    {
        padding-left: 97px !important;
    }

.wrapper
{
    background-color: rgba(255,255,255,0.6)!important;
}

.main-sidebar, .left-side, .main-footer
{
    background-color: rgba(219,226,233,0.6)!important;
}
.main-sidebar, .left-side {
    padding-top: 76px;}
.DivTab
{
    border-right: 1px;
    border-left: 1px;
    border-top: 1px;
    border-left-color: #ccc !important;
    border-top-color: #ccc !important;
    border-right-color: #ccc !important;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

#wrap-list-tab .list-tab ul .active
{
    background-color: #dbe2e9 !important;
}

#wrap-list-tab .list-tab ul li > div .number .red
{
    color: #009bdb !important;
}

.tab-content--bottom-content-bottom
{
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

#tab-content-container
{
    padding-left: 3px!important;
    padding-right: 3px!important;
}

.tab-content-contents-left
{
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

.tab-content-contents-right
{
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

.tab-content-upload .outputs, .tab-content-upload .engineer
{
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

.tab-content-state
{
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

#wrap-list-tab .list-tab ul li
{
    background-color: #ecf2f8!important;
    box-shadow: -2px 2px 3px #726d69!important;
}

    #wrap-list-tab .list-tab ul li > div div
    {
        color: #555!important;
    }

/*快捷菜单样式 */
.shortcutmenu
{
    background-color: #FFF;
    right: 32px;
    top: 49px;
    position: absolute;
    width: 142px;
    z-index: 9000;
}

    .shortcutmenu ul
    {
        line-height: 27px;
        background: #ffffff;
        list-style-type: none;
        width: 140px;
        margin: 0;
        padding: 0;
    }

        .shortcutmenu ul li
        {
            float: left;
            width: 140px;
            border-bottom: 1px dotted #CCC;
            height: 27px;
            overflow: hidden;
        }

.shortcutmenu_onmouse
{
    background: #f0f0f0;
}

.shortcutmenu_span_left
{
    width: 105px;
    float: left;
    padding-left: 15px;
}

.shortcutmenu_span_right
{
    width: 20px;
    float: right;
}

.shortcutmenu ul a
{
    text-align: left;
    overflow: hidden;
    font-size: 12px;
}

    .shortcutmenu ul a:link
    {
        color: #333;
        text-decoration: none;
    }

    .shortcutmenu ul a:visited
    {
        color: #333;
        text-decoration: none;
    }

    .shortcutmenu ul a:hover
    {
        color: #3399ff;
        text-decoration: underline;
        font-weight: normal;
    }

.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p
{
    color: #555;
}

.sideTree > li > a
{
    background-color: #c6cfd8 !important;
}

.drop-nav
{
    border: 1px solid #80daff !important;
}
.flow-msg {    padding-left: 50px;
    padding-bottom: 35px;
    padding-right: 50px;
    padding-top: 25px;}
.flow-msg fieldset legend {
    font-weight: bold;
    font-size: 15px;
    padding: 0px 25px 0px 20px;
    margin-left: -58px;
    border-left: 5px solid #345a80;
    color: #375b81;
}
.menu_prev{ position:absolute;left:45px;z-index:999; display:none;line-height: 61px !important;background-color:none!important;margin-top: 6px!important;}
.menu_next{ position:absolute;right:310px;z-index:999; display:none;line-height: 61px !important;background-color:none!important;margin-top: 6px!important;}


/*子系统首页样式*/
.base {
    width: 454px;
    margin: 0 auto;
}

.circle {
	width: 70px;
	height: 70px;
	background-image: url(Images/circle.png);
	background-repeat: no-repeat;	

}

.up_left {
	width: 70px;
	height: 130px;
	overflow: hidden;
		float: left;
}

.up_left_line {
	width: 70px;
	height: 60px;
	background-image: url(Images/line.png);
}

.up_middle {
	height: 130px;
	background-image: url(Images/line_middle.png);
	float: left;
	background-repeat: repeat-x;
}

.up_middle_1 {
	color: #b3b3b3;
	margin: 12px 0 0 20px;
	font-size: 11px;
	height: 36px;
	letter-spacing:0.5px;
}

.up_middle_2 {
	margin-left: 14px;
    margin-right: 15px;
    font-size: 44px;
    font-weight: bolder;
    font-family: "微软雅黑", "Microsoft YaHe", "黑体";
    color: rgb(243, 243, 245);
    text-shadow: 2px 1px 5px rgba(0,0,0,0.17);
    letter-spacing: 4px;
    height: 62px;
    line-height: 62px;
    overflow: hidden;
	max-width:280px;
}
.up_right {
	height: 130px;
	width: auto;
	margin-right: 2px;
	overflow: hidden;
	background-image: url(Images/line_left.png);
	
}

.up_right_font {
	margin-top: 77px;
	font-size: 30px;
	font-weight: bolder;
	font-family: "微软雅黑", "Microsoft YaHe", "黑体";
	/*background: linear-gradient(to top, #aeaeae, #fff);
	-webkit-background-clip: text;
	color: transparent;*/
	text-shadow: 2px 1px 5px rgba(0,0,0,0.17);
	letter-spacing: 2px;
	color:rgb(243, 243, 245);	
}

.down {
	min-height: 50px;
	width: 454px;
	background-image: url(Images/line_down.png);
	background-position: bottom;
	background-repeat: no-repeat;
	position: relative;
	padding-bottom:40px;
}

.down_nr {
    width: 415px;
    background-color: rgba(222,222,222,0.6);
    color: #555;
    padding: 30px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    position: relative;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.dot1 {
    width: 7px;
    height: 7px;
    background-image: url(Images/dot.png);
    position: absolute;
    left: 31px;
    top: -3px;
}
.dot2 {
    width: 7px;
    height: 7px;
    background-image: url(Images/dot.png);
    position: absolute;
    left: 445px;
    top: -72px;
}
.Subsystem-bg {background-color: rgba(0,0,0,0.4)!important; top: 76px; left: 0px;}
.down_content { overflow:auto; max-height:192px;}
/*子系统首页样式结束*/
.nicescroll { top:2px !important;}