<div class="mini-toolbar">
    <table>
        <tr>
            <td>
                <a class="mini-button" iconcls="icon-add" onclick="addData();">添加</a> <a class="mini-button"
                    iconcls="icon-remove" onclick="delRow();">移除</a> <a class="mini-button" iconcls="icon-save"
                        onclick="saveConditionDefineSettings();">保存</a> <a class="mini-button" iconcls="icon-up"
                            onclick="moveUp();">上移</a> <a class="mini-button" iconcls="icon-down" onclick="moveDown();">
                                下移</a>
            </td>
            <td id="btnRight">
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" url="GetConditionDefineSettings"
        allowcellvalid="true" multiselect="true" allowcelledit="true" allowcellselect="true"
        showpager="false" allowunselect="false">
        <div property="columns">
            <div type="checkcolumn" width="30">
            </div>
            <div field="Name" width="120" align="left" vtype="required;">
                名称
            </div>
            <div field="Code" width="120" align="left" vtype="required;">
                编号
            </div>
            <div field="data" width="*" align="left">
                数据列表
            </div>
            <div field="DefaultValue" width="120" align="left">
                默认值
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    @Html.GetEnum(typeof(Base.Logic.GraphType))
var defaultValue=[];
//var defaultValueList=@ViewBag.DefaultValueList;
</script>
<script type="text/javascript">
    function commitEdit() {
        var grid = mini.get("dataGrid");
        grid.commitEdit();
    }

    function moveUp() {
        var dataGrid = mini.get("#dataGrid");
        var rows = dataGrid.getSelecteds();
        dataGrid.moveUp(rows);
    }

    function moveDown() {
        var dataGrid = mini.get("#dataGrid");
        var rows = dataGrid.getSelecteds();
        dataGrid.moveDown(rows);
    }
</script>
<script type="text/javascript">

    function addData() {
        openWindow('ConditionEdit', { width: 600, height: 300, title: "新增筛选项", onDestroy: function (res) {
            if (res != "close") {
                addRow({ Name: res.formData.Name, Code: res.formData.Code, data: res.formData.data, DefaultValue: res.formData.DefaultValue }, { isLast: true });
            }
        }
        });
    }

    function saveConditionDefineSettings() {
        addExecuteParam("ConditionDefineSettings", mini.get("dataGrid").getData());
        execute("SaveConditionDefineSettings", { actionTitle: "保存" });
    }

</script>
