<div class="mini-toolbar gw-grid-toolbar" borderstyle="border-left:0px">
    <table>
        <tr>
            <td>
                <a class="mini-button" iconcls="icon-add" onclick="add({url:'Edit',width: 1000, height: 400});">
                    增加</a> <a class="mini-button" iconcls="icon-copy" onclick="execute('Clone?GraphID={ID}',{mustConfirm:true,mustSelectOneRow:true,actionTitle:'克隆'});">
                        克隆</a> <a class="mini-button" iconcls="icon-remove" onclick="del();">删除</a>
                <a class="mini-button" iconcls="icon-download" onclick="exportSQL();">导出SQL</a>
            </td>
            <td class="gw-toolbar-right">
                <input id="key" class="mini-buttonedit gw-searchbox" emptytext="请输入编号或名称" onenter="quickSearch('Code,Name');"
                    onbuttonclick="quickSearch('Code,Name');" />
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dataGrid" class="mini-datagrid" style="width: 100%; height: 100%;" multiselect="true"
        borderstyle="border-left:0px;border-right:0px;border-bottom:0px" url="GetGraphList">
        <div property="columns">
            <div type="checkcolumn">
            </div>
            <div field="Code" width="120" allowsort="true" align="center">
                图表编号</div>
            <div field="Name" width="150" allowsort="true">
                图表名称</div>
            <div field="ModifyDate" align="center" datatype="date" dateformat="yyyy-MM-dd HH:mm"
                width="120" allowsort="true">
                最后修订时间</div>
            <div headeralign="center" header="修订">
                <div property="columns">
                    <div field="Base" width="60" align="center">
                        基本信息</div>
                    <div field="ConditionDefine" width="60" align="center">
                        筛选定义</div>
                    <div field="BlockDefine" width="60" align="center">
                        块定义</div>
                    <div field="DefaultValue" width="60" align="center">
                        数据源</div>
                </div>
            </div>
            <div field="PreView" width="60" align="center">
                预览</div>
            <div field="ExportSql" width="80" align="center">
                导出Sql</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    addGridLink("dataGrid", "PreView", "/MvcConfig/UI/Graph/PageView?TmplCode={Code}&IsPreView=True", { title: '预览表单：{Name}', linkText: '预览' });
    addGridLink("dataGrid", "Base", "Edit?ID={ID}", { linkText: '基本信息', width: 1000, height: 400 });
    addGridLink("dataGrid", "ConditionDefine", "../Graph/ConditionDefine?GraphID={ID}", { linkText: '筛选定义', width: 600, height: 600 });
    addGridLink("dataGrid", "BlockDefine", "../Graph/BlockDefine?GraphID={ID}", { linkText: '块定义', width: 1000 });
    addGridLink("dataGrid", "DefaultValue", "../Graph/DefaultValueEdit?GraphID={ID}", { linkText: '数据源', width: 1000 });

    addGridButton("dataGrid", "ExportSql", { linkText: '导出Sql', onButtonClick: function (row) {
        var url = "/Base/UI/ExportSql/SqlFile?DefID=" + row["ID"] + "&FileCode=Graph_" + row["Code"] + "&TableName=S_UI_GraphBI";
        window.open(url);
    }
    });
</script>
<script type="text/javascript">
    function exportSQL() {
        var grid = mini.get("dataGrid");
        var rows = grid.getSelecteds();
        if (rows.length == 0) {
            msgUI("请选择记录！");
            return;
        }
        var url = "/Base/UI/ExportSql/SqlFile?DefID=" + getValues(rows, "ID") + "&FileCode=GraphSql&TableName=S_UI_GraphBI";
        window.open(url);
    }
</script>
