<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--************************************************************EPM5.5.14*****************************************-->
    <!--************************************************************平台-权限*****************************************-->
    <!--平台授权码,如多个授权码用英文逗号隔开-->
    <add key="AuthCode" value="ta96IpV4RdeSwU9LvhjOEEC+mzOP4+Da94GaMCzwb1CjoSimZm09DEVGLdZEd72O" />
    <!--公司级权限，用于集团和子公司。这个功能是指具体的业务数据根据CompanyID字段过滤-->
    <add key="CorpAuthEnabled" value="True" />
    <!--用于配置子公司系统管理菜单的ID，以便于分级授权管理员自动有该菜单的权限，用于新的分级授权功能-->
    <add key="AuthLevelMenuID" value="a83900f8-42a1-4d1b-9256-6ccce1fa553a" />
    <!--三权分立开关,超级管理员访问地址为/base/auth/security/edit，默认超级管理员密码为1-->
    <add key="Auth_PowerDiscrete" value="True" />
    <!--菜单根节点ID-->
    <add key="MenuRooID" value="a1b10168-61a9-44b5-92ca-c5659456deb5" />
    <!--组织根节点ID-->
    <add key="OrgRootID" value="a1b10168-61a9-44b5-92ca-c5659456deb5" />
    <!--权限根节点ID-->
    <add key="RuleRootID" value="a1b10168-61a9-44b5-92ca-c5659456deb6" />
    <!--系统菜单FullID-->
    <add key="SystemMenuFullID" value="a1b10168-61a9-44b5-92ca-c5659456deb5.a1b400f2-a325-4124-a2e0-d860653c760b" />

    <!--************************************************************平台-安全*****************************************-->
    <!--用户输错密码锁定时间-->
    <add key="ErrPwdLockTime" value="10" />
    <!--用户输错密码锁的次数-->
    <add key="ErrPwdTimes" value="3" />
    <!--平台不能输入的字符-->
    <add key="CharFilter" value="&lt;script" />
    <!--是否单帐号登录模式(说明：暨原登录终端强制下线，注意有防火墙限制约束，可能会引起超时和强制断线)-->
    <add key="IsLoginSingleton" value="False" />
    <!--允许从地址栏打开表单页面-->
    <add key="allowUrlOpenForm" value="True" />

    <!--表数据增加监控日志(如：Base.S_A_User,Base.S_A_Org)-->
    <add key="DataAddLog" value="" />
    <!--表数据修改监控日志-->
    <add key="DataModifyLog" value="" />
    <!--表数据删除监控日志-->
    <add key="DataDeleteLog" value="Base.S_A_User" />

    <!--外接单点登录票据key-->
    <add key="TokenKey" value="token" />
    <!--外接单点登录密钥-->
    <add key="SecretKey" value="Juyee,yes" />
    <!--外接单点登录票据过期分钟-->
    <add key="ExpiredTimeSpan" value="1" />
    <!--JWT的认证用户字段-->
    <add key="JWTTokenKey" value="Code" />
    <!--************************************************************平台-门户*****************************************-->
    <!--默认全局主题配色(Blue,Red)-->
    <add key="GlobalSysColor" value="Default" />
    <!--门户模板路径-->
    <add key="HomePageTemplet" value="/PortalLTE/Views/Main/Template/" />
    <!--是否使用2018门户-->
    <add key="IsUseNewPortal" value="True" />
    <!--新门户时可配置显示的门户，目前有蓝-白(Blue)、黄-白(Yellow),多门户请输入如(Yellow,Blue)-->
    <add key="PortalKeys" value="Blue,Yellow" />
    <!--门户新消息时数-->
    <add key="PortalNewsTime" value="24" />
    <!--消息弹出框-->
    <add key="alertTitleStr" value="中国汽车工业工程有限公司" />
    <!--是否使用左侧快捷方式菜单，true为使用-->
    <add key="IsUseLeftShortCut" value="false" />

    <!--************************************************************平台-文件服务*****************************************-->
    <!--本站点使用的文件服务器名-->
    <add key="FS_ServerName" value="Base" />
    <!--主文件服务器站点的Url-->
    <add key="FS_MasterServerUrl" value="http://localhost:8072/FileStore/Services/MasterService.asmx" />
    <!--外网应用的访问主机头（如：10.10.1.172，此处如有配置，则通过该地址的请求下载文件会强制切换到HttpUrlInner字段，该字段与此处配置强制映射）-->
    <add key="OutWebHostIP" value="" />
    <!--设置允许访问文件服务的IP白名单，如果白名单为空，则允许所有IP访问-->
    <add key="FileStoreIPAllowList" value="" />
    <!--协作云接口请求地址-->
    <add key="Sync_URL" value="http://10.10.1.81:7072/api/synck/" />
    <!--是否分布式存储,一般情况请配置为True-->
    <add key="FS_Distributed" value="True" />
    <!--是否主站点-->
    <add key="FS_IsMaster" value="True" />
    <!--平台不能上传的文件格式-->
    <add key="FS_FileExtFilter" value="exe|dll|bat" />
    <!--文件是否能自由下载-->
    <add key="FS_FreeDownload" value="False" />
    <!--上传文件最大长度-->
    <add key="FS_UploadMaxLength" value="300" />

    <!--************************************************************平台-文件转换*****************************************-->
    <!--浏览文件方式  None(无浏览) SWFViewer(SWF游览) PDFViewer(PDF游览) TilePicViewer(TilePic浏览) -->
    <add key="ViewMode" value="PDFViewer" />

    <!--ViewMode类型为SWFViewer和PDFViewer后，浏览格式文件保存的路径 -->
    <add key="CacheViewFilePath" value="E:\研发\BE5.4建筑版\Tools\LeafletViewSite\LeafletViewSite\Files" />
    <!--ViewMode类型为TilePicViewer的浏览服务地址 -->
    <add key="TilePicViewerUrl" value="http://localhost:8033/View.aspx" />

    <!--允许附件浏览的格式 -->
    <add key="ConvertFileViewerFormat" value="pdf,png,jpg,jpeg,tiff,txt,gif,doc,docx,xls,xlsx,pdf,dwg" />

    <!--************************************************************平台-流程签字*****************************************-->
    <!--流程——是否是否消除重复签字-->
    <add key="Flow_SignDistinct" value="True" />
    <!--流程——签名图片导出Word的宽度-->
    <add key="Flow_SignInWordWidth" value="80" />
    <!--流程——签名图片导出Word的高度-->
    <add key="Flow_SignInWordHeight" value="30" />
    <!--签字密码验证地址-->
    <add key="signPwdValidationUrl" value="/MvcConfig/Workflow/Password/Validation" />
    <!--允许签字密码验证-->
    <add key="allowSignPwdValidation" value="False" />

    <!--************************************************************平台-流程控制*****************************************-->
    <!--流程——发起人自由撤销-->
    <add key="Flow_FreeWidthdraw" value="False" />
    <!--流程——升版框架版本号起始字符，默认为1-->
    <add key="FlowVersionNumberStart" value="1" />
    <!--流程——仅获取当前组织的直接组织角色和下级岗位的组织角色，默认值为True-->
    <add key="Flow_OnlyCurrentOrgRole" value="False" />
    <!--流程——待办任务是否允许批量审批-->
    <add key="Flow_BatchApproval" value="False" />
    <!--流程——每个环节任务完成都给发起人发消息-->
    <add key="Flow_SendMsgToInitiator" value="False" />
    <!--流程——最多任务接收人数量-->
    <add key="Flow_ReceiverCount" value="50" />
    <!--流程——任务可自由传阅-->
    <add key="Flow_Circulate" value="False" />
    <!--自定义表单上是否显示流程意见域-->
    <add key="showFlowComments" value="True" />
    <!--是否弹出验证提示（表单）-->
    <add key="showErrors" value="true" />
    <!--不使用弹出层,需要layout布局中将GetBasicInfo方法放在baseMiniuiExt脚本的上面，即Head的最前面，portal的HomeBoard和HomeBoardIframe页面需要根据此配置定义noPopupLayer变量-->
    <add key="noPopupLayer" value="False" />
    <!--显示流程意见位置  True上面 False下面-->
    <add key="showCommentPosition" value="False" />
    <!--流程——是否启用自定义意见-->
    <add key="showCustomAdvice" value="True" />

    <!--************************************************************平台-表单导出*****************************************-->
    <!--流程——表单导出Word按钮-->
    <add key="Flow_ExportWord" value="True" />
    <!--流程——表单导出Pdf按钮-->
    <add key="Flow_ExportPdf" value="True" />
    <!--流程——自定义表单word导出是否导出操作列表-->
    <add key="Flow_WordExportComment" value="True" />
    <!--web打印图标地址-->
    <add key="webPrintLogo" value="/PortalLTE/Images/LogoPrinting.png" />
    <!--web打印页眉文字-->
    <add key="webPrintHeader" value="上海金慧软件有限公司" />

    <!--************************************************************平台-其它*****************************************-->
    <!--企业微信ip端口 二维码生成中使用，可以通过扫二维码显示信息-->
    <add key="WeChatIP" value="http://10.10.1.119:8051" />
    <!--二维码加密密钥-->
    <add key="QrCodeKey" value="Goodway" />
    <!--是否启用分布式事务-->
    <add key="UseMsdtc" value="False" />
    <!-- 是否启用缓存-->
    <add key="UseCache" value="False" />
    <!--选人——只显示所属部门人员，默认值为False-->
    <add key="UserSelectOnlyCurrent" value="True" />
    <!--KindEditor富文本框保存地址-->
    <add key="KindEditorSavePath" value="/KindEditor/Upload" />
    <!--平台日志存放路径-->
    <add key="Log4NetPath" value="D:\5.3平台日志\" />
    <!--Excel导入导出模板的存放路径-->
    <add key="ExcelTemplatePath" value="/ExcelTemplate" />
    <!--是否连接Oracle数据库-->
    <add key="IsOracleDb" value="False" />
    <add key="culture1" value="en-us" />
    <!--指定配置项输出到web端，多个配置项使用逗号隔开-->
    <add key="toWeb" value="" />
    <!--企业所在地区信息-->
    <add key="City" value="武汉市" />
    <add key="Province" value="湖北省" />
    <!--是否使用多语-->
    <add key="IsUseMultilingual" value="True" />
    <!--Es全文检索站点-->
    <add key="EsNodeUrl" value="http://localhost:9200" />
    <!--Es全文检索IK分词文件物理地址-->
    <add key="FulltextSearch_IK_Dict" value="E:\nginx-1.16.0\html\CustomDict.txt" />
    <!--Es全文检索IK停止词文件物理地址-->
    <add key="FulltextSearch_IK_StopWord" value="E:\nginx-1.16.0\html\CustomStopWords.txt" />
    <!--************************************************************业务-综合办公*****************************************-->
    <!--红头模板-->
    <add key="HongTouTemplate" value="/OfficialDocTemplate/HongTou/" />
    <!--签章图-->
    <add key="SignatureImage" value="/OfficialDocTemplate/Signature/Stamp.png" />
    <!--会议室申请：上午会议场数-->
    <add key="AmConferenceNum" value="2" />
    <!--会议室申请：上午时段开始时间（整数）-->
    <add key="AmStart" value="8" />
    <!--会议室申请：上午时段结束时间（整数）-->
    <add key="AmEnd" value="12" />
    <!--会议室申请：下午会议场数-->
    <add key="PmConferenceNum" value="4" />
    <!--会议室申请：下午时段开始时间（整数、24小时制）-->
    <add key="PmStart" value="14" />
    <!--会议室申请：下午时段结束时间（整数、24小时制）-->
    <add key="PmEnd" value="18" />
    <!--会议室申请：时段内可申请会议条件限制（小时）-->
    <!--会议室申请：当最晚的会议结束时间距离上午或下午结束时间 小于此数值时，无法再次申请-->
    <add key="Limit" value="1" />

    <!--***********************************************************业务-人力资源*****************************************-->
    <!--工时填报与结算类型；Hour：按小时填报按小时结算（默认），HD：按小时填报按天结算，Day：按天填报按天结算-->
    <add key="WorkHourType" value="Hour" />
    <!--工时填报范围（天），即当前日期前后多少天可填工时-->
    <add key="WorkHourRangeDay" value="30" />
    <!--工时填报中一天填报正常工时最大值-->
    <add key="NormalHoursMax" value="8" />
    <!--工时填报中一天填报加班工时最大值-->
    <add key="ExtraHoursMax" value="8" />
    <!--工时填报中是否显示加班工时列-->
    <add key="NeedAdditional" value="False" />
    <!--每天的上下班时间-->
    <add key="WorkTime_Start1" value="9" />
    <add key="WorkTime_End1" value="12" />
    <add key="WorkTime_Start2" value="13" />
    <add key="WorkTime_End2" value="18" />

    <!--**********************************************************业务-市场经营*****************************************-->
    <!--发票最大金额-->
    <add key="Invoice_MaxAmount" value="50000" />

    <!--**********************************************************业务-项目管理*****************************************-->
    <!--是否启用资质选人-->
    <add key="UserAptitude" value="False" />
    <!--是否启用工程级菜单-->
    <add key="EngineeringMode" value="True" />
    <!--归档文件类型（成果表上的字段:PdfFile,PlotFile,XrefFile,DwfFile,TiffFile,SignPdfFile）-->
    <add key="ArchiveType" value="PdfFile" />

    <!--**********************************************************同步待办*****************************************-->
    <!--同步待办apiURL，value="https://oapi.dingtalk.com"同步钉钉待办 -->
    <add key="OutTxtTaskApi" value="" />
    <!--同步待办内部应用Key-->
    <add key="AppKey" value="dingw81nktsokjhb0w6t1" />
    <!--同步待办内部应用密钥-->
    <add key="AppSecret" value="A6sxsnxHkvQ0D2kA_IoqHX2guPi3hpHMi1NUM-kpDgGl8haY5qLq3HvlPh6Iz-WYF" />
    <!--钉钉AgentId-->
    <add key="AgentId" value="2590711713" />
    <!--钉钉MiniAppId-->
    <add key="MiniAppId" value="20190425642193615" />
    <!--钉钉CorpID-->
    <add key="CorpID" value="ding42c1154c61d5912e35c2f4657eb6378f" />

    <!--**********************************************************Gis地图*****************************************-->
    <!--观察模式下(FuncType=ViewAll)初始视点中心坐标(经纬度)-->
    <add key="InitialViewPt" value="121.455803,31.214195" />
    <!--观察模式下(FuncType=ViewAll)初始缩放级别-->
    <add key="initialZoomVal" value="5" />
    <!--**********************************************************业务-图文档案*****************************************-->
    <!--图档借阅记录过期天数-->
    <add key="DocBorrowExpireDays" value="7" />
    <!--图档借阅记录续借天数-->
    <add key="DocBorrowContinueDays" value="7" />
    <!--图档下载过期天数-->
    <add key="DocDownloadExpireDays" value="7" />
    <!--图档下载续期天数-->
    <add key="DocDownloadContinueDays" value="7" />
  </appSettings>

  <connectionStrings>
    <add name="Base" connectionString="data source=.; Initial Catalog=SINOAE_Base;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Workflow" connectionString="data source=.; initial catalog=SINOAE_Workflow;user id=sa;password=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="FileStore" connectionString="data source=.; Initial Catalog=SINOAE_FileStore;User ID=sa;Password=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Infrastructure" connectionString="data source=.; Initial Catalog=SINOAE_Infrastructure;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Engineering" connectionString="data source=.; Initial Catalog=SINOAE_Engineering;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Project" connectionString="data source=.; Initial Catalog=SINOAE_Design;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="InfrasBaseConfig" connectionString="data source=.; Initial Catalog=SINOAE_DesignInfrastructure;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Comprehensive" connectionString="data source=.; Initial Catalog=SINOAE_Comprehensive;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="OfficeAuto" connectionString="data source=.; Initial Catalog=SINOAE_OfficeAuto;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="FinancialManagement" connectionString="data source=.; Initial Catalog=SINOAE_OfficeAuto;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="HR" connectionString="data source=.; Initial Catalog=SINOAE_HR;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="DocConfig" connectionString="data source=.; Initial Catalog=SINOAE_DesignInfrastructure;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
    <add name="Terminal" connectionString="data source=.; Initial Catalog=SINOAE_Terminal;User ID=sa;PWD=123.zxc;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"></compilation>
    <machineKey validationKey="3FF1E929BC0534950B0920A7B59FA698BD02DFE8" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A77" decryption="3DES" validation="SHA1" />
    <authentication mode="Forms">
      <!--slidingExpiration为true时，每次请求都会重置timeout；false时，登陆后经过timeout时间后必定失效-->
      <forms cookieless="UseCookies" loginUrl="/PortalLTE/Main/Login" protection="Validation" timeout="20" slidingExpiration="true"></forms>
    </authentication>
    <sessionState mode="InProc" timeout="20" cookieless="false"></sessionState>
    <authorization>
      <allow users="?" />
    </authorization>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2147483647" maxUrlLength="2097151" executionTimeout="36000" maxQueryStringLength="2097151" />
    <pages validateRequest="false">
    </pages>
    <customErrors mode="Off">
    </customErrors>
  </system.web>
  <location path="crossdomain.xml">
    <system.webServer>
      <httpRedirect enabled="false" />
    </system.webServer>
  </location>
  <location path="clientaccesspolicy.xml">
    <system.webServer>
      <httpRedirect enabled="false" />
    </system.webServer>
  </location>
  <location path="favicon.ico">
    <system.webServer>
      <httpRedirect enabled="false" />
    </system.webServer>
  </location>
  <system.webServer>
    <httpRedirect enabled="true" destination="/PortalLTE/Main/Login" exactDestination="true" childOnly="true" />
    <!--以下配置为了让IIS7+支持Put/Delete方法-->
    <httpProtocol>
      <customHeaders>
        <!--IE=EmulateIE8  IE=Edge,chrome=1-->
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
    <!--IIS7/7.5上必须加这个配置,否则访问报错-->
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" maxQueryString="51200" maxUrl="2097151" />
        <verbs>
        </verbs>
      </requestFiltering>
    </security>
    <staticContent>
      <!-- IIS里如果配置了同样的mimeMap会报错，所以先移除掉再注册  -->
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".bcmap" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".properties" mimeType="application/octet-stream" />
    </staticContent>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="CommonWebResource\RelateResource\404Page\page.html" responseMode="File" />
    </httpErrors>
  </system.webServer>
</configuration>