@{
    Layout = ViewBag.Layout;
}
@*<script src="/PortalLTE/Scripts/jQuery/jquery.nicescroll.min.js"></script>*@
<script type="text/javascript">
    //请现在页面或Layout中引用脚本：“/CommonWebResource/CoreLib/HighCharts/highcharts.js”
    //请调用showGirdChartSettings方法打开图表配置页

    var groupbyFieldEnum = [
    ];

    var sumFieldEnum = [
    ];

    function showChart() {
        createChart('title', 'name', []);
    }

</script>

@Html.Raw(ViewBag.ListHtml)

@{
    if (ViewBag.VirtualScroll == "true")
    {
        <style type="text/css">
            .mini-grid-cell {
                padding-left: 4px;
                padding-right: 2px;
                padding-top: 0px;
                padding-bottom: 0px;
                border-right: #ececec 1px solid;
            }
        </style>
    }
    <script>
        $("#dataGrid").attr("defaultRowHeight", "25");
    </script>
}

<script type="text/javascript">
    @Html.Raw(ViewBag.Script)
    @Html.Raw(ViewBag.FixedFields)
</script>

<script type="text/javascript">
    function exportList(currentPage) {
        if (currentPage)
            $("input[name='exportCurrentPage']").val("true");
        else
            $("input[name='exportCurrentPage']").val("false");
        ExportExcel(getQueryString("TmplCode"), "dataGrid", "");
    }

    //Word导出
    function exportWord(tmplCode) {
        var grid = mini.get("dataGrid");
        if (grid.getSelecteds().length != 1) {
            msgUI("请选择一行记录");
            return;
        }
        if (tmplCode == undefined)
            tmplCode = getQueryString("TmplCode");
        var url = "/MvcConfig/UI/Word/Export?TmplCode=" + tmplCode + "&ID={ID}";
        url = replaceUrl(url);
        window.location.href = url;
        // window.open(url);该代码会重新打开一个页面，企业微信pc端，打开后有1个空白页面，不会自动关闭
    }

    //pdf导出
    function exportPdf(tmplCode) {
        var grid = mini.get("dataGrid");
        if (grid.getSelecteds().length != 1) {
            msgUI("请选择一行记录");
            return;
        }
        if (tmplCode == undefined)
            tmplCode = getQueryString("TmplCode");
        var url = "/MvcConfig/UI/Word/Export?pdf=true&TmplCode=" + tmplCode + "&ID={ID}";
        url = replaceUrl(url);
        window.location.href = url;
        // window.open(url);该代码会重新打开一个页面，企业微信pc端，打开后有1个空白页面，不会自动关闭
    }

    //表单打印
    function funPrintWord() {
        var grid = mini.get("dataGrid");
        if (grid.getSelecteds().length != 1) {
            msgUI("请选择一行记录");
            return;
        }
        var id = grid.getSelecteds()[0]["ID"];
        var tmplCode = getQueryString("TmplCode");

        printWord(tmplCode, id);

    }

    //Excel打印
    function funPrintExcel() {
        var grid = mini.get("dataGrid");
        if (grid.getSelecteds().length == 0) {
            msgUI("请选择要打印的记录！");
            return;
        }

        var tmplCode = getQueryString("TmplCode");

        var list = grid.getSelecteds();

        if (list.length == 1) {
            var id = list[0]["ID"];
            printExcel(tmplCode, id, true);
        }
        else {
            for (var i = 0; i < list.length; i++) {
                var id = list[i]["ID"];
                printExcel(tmplCode, id, false);
            }
        }
    }

    //列表表头筛选
    function filterSwitch() {
        var _divGrid = mini.get('dataGrid');
        if (_divGrid.showFilterRow) {
            for (var _field in _listFilter) {
                mini.get(_field.split('$')[2]).setValue("");
            }
            _listFilter = {};
            _divGrid.clearFilter();
            _divGrid.load();
            _divGrid.setShowFilterRow(false);
            $("#list-filter-btn").removeClass("hover");

        }
        else {
            _divGrid.setShowFilterRow(true);
            $("#list-filter-btn").addClass("hover");
        }
    }

    var _listFilter = {};
    function gridFilter(e, querymode,dataType,enumkey) {
        var _mode = "";
        var _value = e.value;

        //校验输入格式
        if (dataType == "N" && _value!="" && !isNumber(_value)) {
            alert("请输入数字！");
            return;
        }
        if (dataType == "D" && _value!="" && !isDate(_value)) {
            alert("请输入正确的日期格式，如2018-1-31");
            return;
        }

        var filter = e.getFilterValue();
        if (filter != "") {
            if (filter != ">=" && filter != "<=" && filter != "==" && filter != "isempty") {
                //处理选择枚举过滤
                _mode = "$EQ$";
                _value = filter;
                mini.get(e.id).setValue(getEnumTextFromValue(_value, enumkey));
                e.setFilterValue("");
            }
            else if (filter == "isempty") {
                //空
                _mode = "$ISEMPTY$";
                _value = "<空>";
                mini.get(e.id).setValue(_value);
                e.setFilterValue("");
            }
            else {
                if (filter == ">=")
                    _mode = "$FR$";
                else if (filter == "<=")
                    _mode = "$TO$";
                else
                    _mode = "$EQ$";
            }
        }
        else {
            if (querymode == "like")
                _mode = "$LK$";
            else
                _mode = "$EQ$";

            if (typeof (enumkey) != "undefined" && enumkey != null)
                _value = getEnumValueFromText(e.value, enumkey);
        }

        delete _listFilter["$LK$" + e.id];
        delete _listFilter["$FR$" + e.id];
        delete _listFilter["$TO$" + e.id];
        delete _listFilter["$EQ$" + e.id];
        delete _listFilter["$ISEMPTY$" + e.id];

        if (_value && _value != "") {
            //特殊赋值：日期等于
            if (dataType == "D" && _mode == "$EQ$") {
                _listFilter["$FR$" + e.id] = _value;
                _listFilter["$TO$" + e.id] = _value + " 23:59:59";
            }
            else
                _listFilter[_mode + e.id] = _value;
        }
        var grid = mini.get("dataGrid");
        grid.load({ queryFormData: mini.encode(_listFilter) });
    }

    //枚举转换
    function getEnumValueFromText(etext, enumkey) {
        if (typeof (enumkey) != "undefined" && enumkey != null) {
            for (var p = 0; p < enumkey.length; p++) {
                if (enumkey[p].text == etext) {
                    return enumkey[p].value;
                }
            }
        }
        return etext;
    }
    function getEnumTextFromValue(evalue, enumkey) {
        if (typeof (enumkey) != "undefined" && enumkey != null) {
            for (var p = 0; p < enumkey.length; p++) {
                if (enumkey[p].value == evalue) {
                    return enumkey[p].text;
                }
            }
        }
        return evalue;
    }

    function isNumber(val) {
        var regPos = /^\d+(\.\d+)?$/; //非负浮点数
        var regNeg = /^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$/; //负浮点数
        if (regPos.test(val) || regNeg.test(val)) {
            return true;
        } else {
            return false;
        }
    }
    function isDate(str) {
        if (!/^\d{4}\-\d\d?\-\d\d?/.test(str)) {
            return false;
        }
        var array = str.replace(/\-0/g, "-").split("-");
        var year = parseInt(array[0]);
        var month = parseInt(array[1]) - 1;
        var day = parseInt(array[2]);
        var date = new Date(year, month, day);
        return (date.getFullYear() == year &&
                date.getMonth() == month &&
                date.getDate() == day);
    }

    var headerDefault = [{ text: '查询空', value: 'isempty' }];
    var headerFilters = [{ text: '大于/等于', value: '>=' }, { text: '小于/等于', value: '<=' }, { text: '等于', value: '==' }, { text: '查询空', value: 'isempty' }];

</script>

<div id='QRCodeWindow' class='mini-window' title='二维码' style='width: 200px; height: 228px; display: none;'>
    <div style='padding: 8px;'>
        <div style="height:135px;border:dashed 1px #ccc;text-align:center;" id="QRCodeImg"></div>
        <div style='text-align: center;' id="btnQRCode">

        </div>
    </div>
</div>

<div id='chartSettings' class='mini-window' title='统计图表生成' style='width: 690px; height: 245px; display: none;'>
    <div style='padding: 20px;'>
        <form id='queryForm'>
            <table>
                <tr>
                    <td align='right'>
                        统计项:
                    </td>
                    <td style='text-align: left'>
                        <div id='groupbyField' class='mini-checkboxlist' multiselect='false' data='groupbyFieldEnum'>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width='20%' align='right'>
                        统计项数值:
                    </td>
                    <td style='text-align: left'>
                        <div id='sumField' class='mini-checkboxlist' multiselect='false' data='sumFieldEnum'>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan='2'></td>
                </tr>
                <tr>
                    <td colspan='2' style='text-align: center;' class='queryDiv'>
                        <div id='chartType' style='text-align: center;' class='mini-checkboxlist' multiselect='false'
                             data='chartType'>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div style='text-align: center;'>
        <a class='mini-button' onclick='showChart();' iconcls='icon-find' style='margin-right: 20px;'>生成图表</a>
        <a class='mini-button' onclick='hideWindow("chartSettings")' iconcls='icon-undo'>取消</a>
    </div>
</div>
@Html.Raw(ViewBag.RightKeyHtml)
