@{
    ViewBag.Title = "费用成本分析";
}

<script src="/CommonWebResource/CoreLib/HighCharts/highcharts.js" type="text/javascript"></script>
<script src="/CommonWebResource/CoreLib/HighCharts/highcharts-3d.js" type="text/javascript"></script>
<div class="mini-splitter" vertical="true" style="width: 100%; height: 100%;">
    <div size="250" showcollapsebutton="false">
        <div class="mini-toolbar" style="padding: 0px;color:white">
            <table style="width: 100%;height:40px;background-color:white">
                <tr>
                    <td style="width: 100px">
                        &nbsp;&nbsp;费用月度成本分析&nbsp; &nbsp;
                        <input name="LastYear" class="mini-combobox" style="width: 90px;" textfield="text" valuefield="value"
                               value="0" data="@ViewBag.Years" onvaluechanged="reloadChart()" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="xyChartContainer" class="mini-fit">
        </div>
    </div>
    <div showcollapsebutton="false">
        <div class="mini-fit">
            <div id="dataTree" class="mini-treegrid" style="width:100%;height:100%;" allowcellselect="true" editnextonenterkey="true" editnextrowcell="true" allowcelledit="true"
                 expandonload="true" showtreeicon="true" allowcellwrap="true"
                 multiselect="true" borderstyle="border-left:0px;" onload="onLoadTreeData"
                 treecolumn="Name" idfield="CBSID" parentfield="CBSParentID" resultastree="false" iconfield="NodeType" @*contextmenu="#gridMenu"*@
                 allowresize="false">
                <div property="columns">
                    <div name="Name" field="Name" width="210" headeralign="center" align="left" allowsort="false">
                        费用科目编号
                    </div>
                    <div field="Name" width="200" headeralign="center" align="left" allowsort="false">费用科目名称</div>
                    <div headeralign="center">
                        投标成本价
                        <div property="columns">
                            <div field="ZeroTender" width="95" headeralign="center" numberformat="n" allowsort="false" align="right">0版(元)</div>
                            <div field="Tender" width="95" headeralign="center" numberformat="n" allowsort="false" align="right">最新版(元)</div>
                        </div>
                    </div>
                    <div headeralign="center">
                        预算价
                        <div property="columns">
                            <div field="ZeroBudget" width="95" headeralign="center" numberformat="n" allowsort="false" align="right">0版(元)</div>
                            <div field="Budget" width="95" headeralign="center" numberformat="n" allowsort="false" align="right">最新版(元)</div>
                        </div>
                    </div>
                    <div field="Contract" width="155" align="right" headeralign="center" numberformat="n" allowsort="false">
                        支出合同额(元)
                    </div>
                    <div field="Settle" align="right" headeralign="center" numberformat="n" allowsort="false">
                        累计已支出(元)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var engineeringInfoID = getQueryString("EngineeringInfoID");
    $("#dataTree").attr("url", "CostAnalysis/GetTreegridResult?engineeringInfoID=" + engineeringInfoID);

    function reloadChart() {
        var selectYear = mini.getbyName("LastYear").getText();//xxxx年
        addExecuteParam("year", selectYear.substr(0, selectYear.length - 1));
        addExecuteParam("engineeringInfoID", engineeringInfoID);
        execute("CostAnalysis/GetChartData", {
            showLoading: false, refresh: false, onComplete: function (data) {
                $("#xyChartContainer").highcharts(data);
            }, validateForm: false
        });
    }

    function onLoadTreeData() {
        var tree = mini.get("dataTree");
        var tmpRoot = tree.getRootNode();
        if (tmpRoot) {
            var rootNode = tmpRoot.children[0];
            var totalZeroTender = 0;
            var totalZeroBudget = 0;
            if (rootNode.children && rootNode.children.length > 0) {
                $.each(rootNode.children,
                    function (index, value) {
                        totalZeroTender += value['ZeroTender'];
                        totalZeroBudget += value['ZeroBudget'];
                    })
            }
            rootNode['ZeroTender'] = totalZeroTender;
            rootNode['ZeroBudget'] = totalZeroBudget;
        }
        tree.collapseAll();
        tree.expandLevel(0);
    }

    $(function () {
        reloadChart();
    })
</script>