body {
	background-position: top; margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-family: Tahoma, Geneva, sans-serif; font-size: 13px; background-repeat: repeat-x; background-color: rgb(233, 230, 230);
}
a {
	color: rgb(76, 76, 76); font-size: 12px; font-weight: normal; text-decoration: none;
}
a:link {
	color: rgb(76, 76, 76); font-size: 12px; font-weight: normal; text-decoration: none;
}
a:visited {
	color: rgb(76, 76, 76); font-size: 12px; font-weight: normal; text-decoration: none;
}
a:hover {
	color: rgb(103, 172, 194); text-decoration: underline;
}
p {
	margin: 0px; padding: 0px;
}
img {
	border: currentColor;
}
blockquote {
	margin: 0px 0px 0px 10px; font-style: italic;
}
cite {
	color: rgb(61, 142, 125); font-weight: bold;
}
cite span {
	color: rgb(61, 142, 125);
}
em {
	color: rgb(61, 142, 125);
}
h1 {
	color: rgb(0, 0, 0); font-weight: normal;
}
h2 {
	color: rgb(0, 0, 0); font-weight: normal;
}
h3 {
	color: rgb(0, 0, 0); font-weight: normal;
}
h4 {
	color: rgb(0, 0, 0); font-weight: normal;
}
h5 {
	color: rgb(0, 0, 0); font-weight: normal;
}
h6 {
	color: rgb(0, 0, 0); font-weight: normal;
}
h1 {
	margin: 0px 0px 20px; padding: 5px 0px; font-size: 34px;
}
h2 {
	margin: 0px 0px 15px; padding: 5px 0px; font-size: 28px;
}
h3 {
	margin: 0px 0px 15px; padding: 0px; font-size: 24px;
}
h4 {
	margin: 0px 0px 15px; padding: 0px; font-size: 18px;
}
h5 {
	margin: 0px 0px 10px; padding: 0px; font-size: 16px;
}
h6 {
	margin: 0px 0px 5px; padding: 0px; font-size: 14px;
}
.cleaner {
	clear: both;
}
.h10 {
	height: 10px;
}
.h20 {
	height: 20px;
}
.h30 {
	height: 30px;
}
.h40 {
	height: 40px;
}
.h50 {
	height: 50px;
}
.h60 {
	height: 60px;
}
#body_wrapper {
	width: 100%;
}
.wrapper {
	margin: 0px auto; padding: 0px 10px; width: 1000px;
}
#header {
	width: 1000px; height: 50px; padding-top: 5px;
}
#header a:hover {
	
}
#site_title {
	float: left;
}
#site_title h1 {
	margin: 0px; padding: 0px;
}
#site_title h1 a {
	background: url("../images/logo/logo.png") no-repeat left top; width: 120px; height: 45px; color: rgb(255, 255, 255); text-indent: -10000px; display: block;
}
#search_box {
	height: 24px; margin-top: 20px; float: right;
}
#search_box form {
	margin: 0px; padding: 0px; width: 240px; height: 24px; clear: both;
}
#searchfield {
	padding: 0px 5px; border: 1px solid rgb(204, 204, 204); width: 228px; height: 24px; color: rgb(51, 51, 51); font-size: 12px; display: block;
}
#menu {
	background: url("../images/menu.png"); width: 1000px; height: 50px; clear: both; margin-top: 10px;
}
#menu ul {
	list-style: none; margin: 0px; padding: 0px;
}
#menu ul li {
	margin: 0px; padding: 0px; display: inline;
}
#menu ul li a {
	background: url("../images/menu_divider.png") repeat-y right; padding: 10px 0px 0px; border: currentColor; width: 130px; height: 30px; text-align: center; color: rgb(103, 172, 194); letter-spacing: 1px; font-size: 14px; font-weight: 700; text-decoration: none; float: left; display: block; text-shadow: 1px 1px 1px #fff;
}
#menu ul li a:hover {
	color: rgb(102, 102, 102); text-shadow: 1px 1px 1px #fff;
}
#menu ul li a.currentNav {
	color: rgb(102, 102, 102); text-shadow: 1px 1px 1px #fff;
}
#menu ul .last {
	
}
.siteTitleNode {
	line-height: 65px; font-size: 14px; font-weight: bold; margin-left: 20px;
}
#footer_wrapper {
	width: 100%; padding-top: 15px; clear: both;
}
#footer {
	margin: 0px auto; padding: 10px 0px; text-align: center; color: rgb(0, 0, 0); clear: both;
}
.footer_menu a {
	color: rgb(51, 51, 51); text-decoration: none;
}
.footer_menu a:hover {
	text-decoration: underline;
}
#menuAdmin {
	background: rgb(101, 201, 230); width: 100%; height: 36px; clear: both;
}
#menuAdmin ul {
	list-style: none; margin: 0px auto; padding: 0px 10px; width: 1000px;
}
#menuAdmin ul li {
	margin: 0px; padding: 0px; display: inline;
}
#menuAdmin ul li a {
	padding: 8px 0px; border: currentColor; width: 120px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; letter-spacing: 1px; font-size: 14px; text-decoration: none; margin-left: 2px; float: left; display: block;
}
#menuAdmin ul li a:hover {
	background: rgb(97, 188, 215);
}
#menuAdmin ul li a.currentAdmin {
	background: rgb(97, 188, 215);
}
